Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2020-11, with the labels that each got.

#419 Repo sync for protected CLA branch
  data-explorer/kusto/management/row-level-security-policy.md
  data-explorer/kusto/query/gzip-base64-compress.md
  data-explorer/kusto/query/gzip-base64-decompress.md
  data-explorer/power-bi-best-practices.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#418 Remove link to now deprecated Azure Notebook
  data-explorer/python-query-data.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#421 Repo sync for protected CLA branch
  data-explorer/kusto/api/client-libraries.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#422 Repo sync for protected CLA branch
  data-explorer/ingest-data-one-click.md
  data-explorer/media/ingest-data-one-click/access-from-portal.png
  data-explorer/media/ingest-data-one-click/mapping-transformation.png
  data-explorer/media/ingest-data-one-click/one-click-ingestion-in-web-ui.png
  data-explorer/media/ingest-data-one-click/one-click-ingestion-in-webui.png
  data-explorer/media/one-click-ingestion-existing-table/create-new-column.png
  data-explorer/media/one-click-ingestion-existing-table/create-new-source.png
  data-explorer/media/one-click-ingestion-existing-table/from-container-with-filter.png
  data-explorer/media/one-click-ingestion-existing-table/from-container.png
  data-explorer/media/one-click-ingestion-existing-table/from-file.png
  data-explorer/media/one-click-ingestion-existing-table/from-storage-blob.png
  data-explorer/media/one-click-ingestion-existing-table/json-levels.png
  data-explorer/media/one-click-ingestion-existing-table/name-new-source.png
  data-explorer/media/one-click-ingestion-existing-table/new-column.png
  data-explorer/media/one-click-ingestion-existing-table/non-json-format.png
  data-explorer/media/one-click-ingestion-existing-table/one-click-ingestion-in-webui.png
  data-explorer/media/one-click-ingestion-existing-table/start-ingestion.png
  data-explorer/media/one-click-ingestion-new-table/create-new-table.png
  data-explorer/media/one-click-ingestion-new-table/edit-view.png
  data-explorer/media/one-click-ingestion-new-table/from-container-with-filter.png
  data-explorer/media/one-click-ingestion-new-table/from-container.png
  data-explorer/media/one-click-ingestion-new-table/from-file.png
  data-explorer/media/one-click-ingestion-new-table/from-storage-blob.png
  data-explorer/media/one-click-ingestion-new-table/json-levels.png
  data-explorer/media/one-click-ingestion-new-table/non-json-format.png
  data-explorer/media/one-click-ingestion-new-table/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-ingestion-new-table/start-ingestion.png
  data-explorer/media/one-click-ingestion-new-table/table-mapping.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#423 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/create-cluster-database-go.md
  data-explorer/dashboard-customize-visuals.md
  data-explorer/kqlmagic.md
  data-explorer/kusto/api/client-libraries.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/query/isnotnullfunction.md
  data-explorer/kusto/tools/kusto-explorer-troubleshooting.md
  data-explorer/media/dashboard-customize-visuals/multistat.png
  data-explorer/power-apps-connector.md
  data-explorer/power-bi-best-practices.md
  data-explorer/tools-integrations-overview.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#424 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#428 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/sandboxes.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#429 Repo sync for protected CLA branch
  data-explorer/data-factory-integration.md
  data-explorer/data-purge-portal.md
  data-explorer/dealing-with-duplicates.md
  data-explorer/kusto/api/netfx/about-kusto-ingest.md
  data-explorer/kusto/api/netfx/kusto-ingest-best-practices.md
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/query/array-reverse-function.md
  data-explorer/kusto/query/gzip-base64-compress.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/toc.yml
  data-explorer/using-diagnostic-logs.md
Labels: CLA, do-not-merge

#431 Repo sync for protected CLA branch
  data-explorer/data-factory-integration.md
  data-explorer/kusto/management/calloutpolicy.md
  data-explorer/kusto/management/disable-plugin.md
  data-explorer/kusto/management/enable-plugin.md
  data-explorer/kusto/management/show-plugins.md
  data-explorer/kusto/query/cosmosdb-plugin.md
  data-explorer/kusto/query/mysqlrequest-plugin.md
  data-explorer/kusto/query/sqlrequestplugin.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#433 Repo sync for protected CLA branch
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/query/inferstorageschemaplugin.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#434 Repo sync for protected CLA branch
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
  data-explorer/kusto/query/images/samples/charts-and-diagrams-multiple-dimension-1.png
  data-explorer/kusto/query/images/samples/charts-and-diagrams-multiple-dimension-2.png
  data-explorer/kusto/query/images/samples/charts-and-diagrams-multiple-series-threshold.png
  data-explorer/kusto/query/images/samples/charts-and-diagrams-multiple-series.png
  data-explorer/kusto/query/images/samples/charts-and-diagrams-pie.png
  data-explorer/kusto/query/images/samples/cohorts.png
  data-explorer/kusto/query/images/samples/count-trend.png
  data-explorer/kusto/query/images/samples/mvexpand.png
  data-explorer/kusto/query/images/samples/rolling-mau.png
  data-explorer/kusto/query/images/samples/table-display.png
  data-explorer/kusto/query/images/samples/user-stickiness.png
  data-explorer/kusto/query/images/tutorial/am-results-extend.png
  data-explorer/kusto/query/images/tutorial/am-results-join.png
  data-explorer/kusto/query/images/tutorial/am-results-let.png
  data-explorer/kusto/query/images/tutorial/am-results-project.png
  data-explorer/kusto/query/images/tutorial/am-results-render-multiple.png
  data-explorer/kusto/query/images/tutorial/am-results-render.png
  data-explorer/kusto/query/images/tutorial/am-results-summarize-avg.png
  data-explorer/kusto/query/images/tutorial/am-results-summarize-count.png
  data-explorer/kusto/query/images/tutorial/am-results-take.png
  data-explorer/kusto/query/images/tutorial/am-results-top.png
  data-explorer/kusto/query/images/tutorial/am-results-where.png
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/splunk-cheat-sheet.md
  data-explorer/kusto/query/tutorial.md
Labels: CLA, do-not-merge

#437 Repo sync for protected CLA branch
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/lightingest.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#439 Repo sync for protected CLA branch
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/query/gzip-base64-compress.md
  data-explorer/kusto/query/gzip-base64-decompress.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#444 Repo sync for protected CLA branch
  data-explorer/kusto/management/query-throttling-policy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#443 parsertype parameter is case sensitive
  data-explorer/kusto/query/parse-command-line.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#445 Repo sync for protected CLA branch
  data-explorer/kusto/query/indexofregexfunction.md
  data-explorer/power-bi-best-practices.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#446 Repo sync for protected CLA branch
  data-explorer/ingest-data-one-click.md
  data-explorer/kusto/query/countoperator.md
  data-explorer/kusto/query/gettypefunction.md
  data-explorer/media/ingest-data-one-click/data-connection-troubleshoot.png
  data-explorer/media/ingest-data-one-click/directory-subscription-icon.png
  data-explorer/media/ingest-data-one-click/subscription-dropdown.png
  data-explorer/media/one-click-ingestion-new-table/blob-containers.png
  data-explorer/media/one-click-ingestion-new-table/copy-key-1.png
  data-explorer/media/one-click-ingestion-new-table/copy-url.png
  data-explorer/media/one-click-ingestion-new-table/data-connection-troubleshoot.png
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/tools-integrations-overview.md
Labels: CLA, do-not-merge

#449 Repo sync for protected CLA branch
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/kusto/query/numoperators.md
  data-explorer/media/one-click-event-hub/data-ingestion-completed.png
  data-explorer/media/one-click-event-hub/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-event-hub/project-details.png
  data-explorer/media/one-click-event-hub/reference-to-event-hub.png
  data-explorer/media/one-click-event-hub/schema-tab.png
  data-explorer/one-click-event-hub.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#448 Update datatypes-string-operators.md
  data-explorer/kusto/query/datatypes-string-operators.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#450 Repo sync for protected CLA branch
  data-explorer/kusto/management/show-schema-database.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#451 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-go.md
  data-explorer/kusto/query/sqlcheatsheet.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/policy-reference.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#452 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/data-export/export-data-to-storage.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#455 Repo sync for protected CLA branch
  data-explorer/includes/iot-hub-get-started-create-device-identity.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/kusto/api/netfx/controlling-tracing.md
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-exp-smoothing-fl/exp-smoothing-demo.png
  data-explorer/kusto/functions-library/series-exp-smoothing-fl.md
  data-explorer/kusto/management/data-ingestion/ingest-inline.md
  data-explorer/kusto/management/security-roles.md
  data-explorer/kusto/query/consumeoperator.md
  data-explorer/kusto/query/ipv4-is-privatefunction.md
  data-explorer/kusto/query/partitionoperator.md
  data-explorer/kusto/query/scalar-data-types/null-values.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/schema-entities/entity-names.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/lightingest.md
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
Labels: CLA, do-not-merge

#456 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/kusto/query/ipv4-lookup-plugin.md
  data-explorer/media/using-diagnostic-logs/configure-diagnostics-settings.png
  data-explorer/toc.yml
  data-explorer/using-diagnostic-logs.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#457 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/create-cluster-database-portal.md
  data-explorer/data-explorer-overview.md
  data-explorer/data-lake-query-data.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-overview.md
  data-explorer/ingest-sample-data.md
  data-explorer/kql-quick-reference.md
  data-explorer/kusto/concepts/index.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
  data-explorer/kusto/query/best-practices.md
  data-explorer/kusto/query/betweenoperator.md
  data-explorer/kusto/query/binfunction.md
  data-explorer/kusto/query/count-aggfunction.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/kusto/query/distinctoperator.md
  data-explorer/kusto/query/extendoperator.md
  data-explorer/kusto/query/extractfunction.md
  data-explorer/kusto/query/format-datetimefunction.md
  data-explorer/kusto/query/functions/index.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/index.md
  data-explorer/kusto/query/inoperator.md
  data-explorer/kusto/query/joinoperator.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/kusto/query/parseoperator.md
  data-explorer/kusto/query/projectoperator.md
  data-explorer/kusto/query/re2.md
  data-explorer/kusto/query/renderoperator.md
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/scalar-data-types/datetime.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/splitfunction.md
  data-explorer/kusto/query/sqlcheatsheet.md
  data-explorer/kusto/query/substringfunction.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/kusto/query/unionoperator.md
  data-explorer/kusto/query/whereoperator.md
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/query-monitor-data.md
  data-explorer/time-series-analysis.md
  data-explorer/web-query-data.md
  data-explorer/write-queries.md
Labels: CLA, do-not-merge

#458 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-portal.md
  data-explorer/kusto/query/images/samples/cohorts-table.png
  data-explorer/kusto/query/images/samples/color-bar-chart.png
  data-explorer/kusto/query/images/samples/multiple-series-line-chart.png
  data-explorer/kusto/query/images/samples/multiple-series-threshold-line-chart.png
  data-explorer/kusto/query/images/samples/mvexpand-rows.png
  data-explorer/kusto/query/images/samples/mvexpand.png
  data-explorer/kusto/query/images/samples/number-of-sessions-bar-chart.png
  data-explorer/kusto/query/images/samples/perf-count-line-chart.png
  data-explorer/kusto/query/images/samples/query-results-pie-chart.png
  data-explorer/kusto/query/images/samples/query-results-table.png
  data-explorer/kusto/query/images/samples/rolling-monthly-active-users-chart.png
  data-explorer/kusto/query/images/samples/select-column-chart-type-accounttype.png
  data-explorer/kusto/query/images/samples/select-column-chart-type-eventid.png
  data-explorer/kusto/query/images/samples/start-stop-ip-address-table.png
  data-explorer/kusto/query/images/samples/table-display.png
  data-explorer/kusto/query/images/samples/user-stickiness-chart.png
  data-explorer/kusto/query/images/tutorial/am-results-extend.png
  data-explorer/kusto/query/images/tutorial/am-results-join.png
  data-explorer/kusto/query/images/tutorial/am-results-let.png
  data-explorer/kusto/query/images/tutorial/am-results-project.png
  data-explorer/kusto/query/images/tutorial/am-results-render-multiple.png
  data-explorer/kusto/query/images/tutorial/am-results-render.png
  data-explorer/kusto/query/images/tutorial/am-results-summarize-avg.png
  data-explorer/kusto/query/images/tutorial/am-results-summarize-count.png
  data-explorer/kusto/query/images/tutorial/am-results-take.png
  data-explorer/kusto/query/images/tutorial/am-results-top.png
  data-explorer/kusto/query/images/tutorial/am-results-where.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-extend-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-join-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-let-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-project-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-render-multiple-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-render-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-summarize-avg-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-summarize-count-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-take-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-top-results.png
  data-explorer/kusto/query/images/tutorial/azure-monitor-where-results.png
  data-explorer/kusto/query/images/tutorial/join-events-lightning-avalanche.png
  data-explorer/kusto/query/images/tutorial/summarize-percentiles-duration.png
  data-explorer/kusto/query/renderoperator.md
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/splunk-cheat-sheet.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/media/one-click-table/create-table.png
  data-explorer/one-click-table.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#460 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-go.md
  data-explorer/media/web-query-data/add-cluster.png
  data-explorer/media/web-query-data/export.png
  data-explorer/media/web-query-data/full-application.png
  data-explorer/media/web-query-data/group-by.png
  data-explorer/media/web-query-data/group-expanded.png
  data-explorer/media/web-query-data/help-cluster.png
  data-explorer/media/web-query-data/import.png
  data-explorer/media/web-query-data/reset-columns.png
  data-explorer/media/web-query-data/result-set-03.png
  data-explorer/media/web-query-data/result-set-project.png
  data-explorer/media/web-query-data/result-set-take-10.png
  data-explorer/media/web-query-data/search-results.png
  data-explorer/media/web-query-data/search.png
  data-explorer/media/web-query-data/select-stats.png
  data-explorer/media/web-query-data/settings-icon.png
  data-explorer/media/web-query-data/settings.png
  data-explorer/media/web-query-data/tool-panel.png
  data-explorer/media/web-query-data/webui-take10.png
  data-explorer/security-baseline.md
  data-explorer/web-query-data.md
Labels: CLA, do-not-merge

#461 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-downsample-fl/downsampling-demo.png
  data-explorer/kusto/functions-library/images/series-downsample-fl/original-time-series.png
  data-explorer/kusto/functions-library/series-downsample-fl.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#467 Repo sync for protected CLA branch
  data-explorer/ingest-data-logstash.md
  data-explorer/kusto/management/index.md
  data-explorer/kusto/query/make-bag-aggfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/makeset-aggfunction.md
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/managed-identities.md
  data-explorer/media/managed-identities/system-assigned-identity-on.png
  data-explorer/media/managed-identities/system-assigned-identity.png
  data-explorer/media/managed-identities/turn-system-assigned-identity-on.png
  data-explorer/media/managed-identities/user-assigned-identity-remove.png
  data-explorer/media/managed-identities/user-assigned-identity-select.png
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#469 Repo sync for protected CLA branch
  data-explorer/kusto/management/databasecursor.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#471 Repo sync for protected CLA branch
  data-explorer/business-continuity-overview.md
  data-explorer/kusto/management/partitioning-policy.md
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#474 Repo sync for protected CLA branch
  data-explorer/devops.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/kmeans-fl.md
  data-explorer/kusto/functions-library/predict-fl.md
  data-explorer/kusto/functions-library/predict-onnx-fl.md
  data-explorer/kusto/functions-library/quantize-fl.md
  data-explorer/kusto/functions-library/series-dot-product-fl.md
  data-explorer/kusto/functions-library/series-downsample-fl.md
  data-explorer/kusto/functions-library/series-exp-smoothing-fl.md
  data-explorer/kusto/functions-library/series-fit-poly-fl.md
  data-explorer/kusto/functions-library/series-moving-avg-fl.md
  data-explorer/kusto/functions-library/series-rolling-fl.md
  data-explorer/kusto/management/alter-docstring-function.md
  data-explorer/kusto/management/alter-extent.md
  data-explorer/kusto/management/alter-folder-function.md
  data-explorer/kusto/management/alter-function.md
  data-explorer/kusto/management/alter-merge-table-command.md
  data-explorer/kusto/management/alter-table-command.md
  data-explorer/kusto/management/alter-table-docstring-command.md
  data-explorer/kusto/management/alter-table-folder-command.md
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/commands-and-queries.md
  data-explorer/kusto/management/create-function.md
  data-explorer/kusto/management/create-merge-table-command.md
  data-explorer/kusto/management/create-table-command.md
  data-explorer/kusto/management/create-tables-command.md
  data-explorer/kusto/management/data-export/export-data-to-storage.md
  data-explorer/kusto/management/databases.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/management/disable-plugin.md
  data-explorer/kusto/management/drop-extent-tags.md
  data-explorer/kusto/management/enable-plugin.md
  data-explorer/kusto/management/execute-database-script.md
  data-explorer/kusto/management/external-table-commands.md
  data-explorer/kusto/management/functions.md
  data-explorer/kusto/management/materialized-views/materialized-view-alter.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-drop.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/management/materialized-views/materialized-view-show-commands.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/management/retentionpolicy.md
  data-explorer/kusto/management/show-cluster-database.md
  data-explorer/kusto/management/show-database.md
  data-explorer/kusto/management/streamingingestion-policy.md
  data-explorer/kusto/management/systeminfo.md
  data-explorer/kusto/management/update-policy.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/mysqlrequest-plugin.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#475 Branding update
  data-explorer/data-explorer-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge
