Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2020-10, with the labels that each got.

#373 Repo sync for protected CLA branch
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/management/clear-table-data-command.md
  data-explorer/kusto/management/tables.md
  data-explorer/kusto/query/countif-aggfunction.md
  data-explorer/power-bi-best-practices.md
  data-explorer/power-bi-connector.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#374 Repo sync for protected CLA branch
  data-explorer/kusto/query/dcount-intersect-plugin.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#376 Repo sync for protected CLA branch
  data-explorer/ingestion-supported-formats.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/bag-remove-keys-function.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#377 Repo sync for protected CLA branch
  data-explorer/kusto/management/query-throttling-policy-commands.md
  data-explorer/kusto/management/query-throttling-policy.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#378 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/series-fit-poly-fl.md
  data-explorer/kusto/query/casefunction.md
  data-explorer/kusto/query/images/series-fit-poly-function/fifth-order-noise-1.png
  data-explorer/kusto/query/images/series-fit-poly-function/fifth-order-noise-table-1.png
  data-explorer/kusto/query/images/series-fit-poly-function/fit-poly-line-table.png
  data-explorer/kusto/query/images/series-fit-poly-function/fit-poly-line.png
  data-explorer/kusto/query/images/series-fit-poly-function/irregular-time-series-1.png
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/series-fit-poly-function.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#379 Repo sync for protected CLA branch
  data-explorer/data-explorer-overview.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#382 Repo sync for protected CLA branch
  data-explorer/kusto/management/mappings.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#380 Update parse-xmlfunction.md
  data-explorer/kusto/query/parse-xmlfunction.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#384 Repo sync for protected CLA branch
  data-explorer/azure-notebooks.md
  data-explorer/breadcrumb/toc.yml
  data-explorer/context/context.yml
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/data-explorer-overview.md
  data-explorer/includes/data-explorer-configure-data-source.md
  data-explorer/kusto/api/netfx/about-kusto-ingest.md
  data-explorer/kusto/api/node/kusto-node-client-library.md
  data-explorer/kusto/api/python/kusto-python-client-library.md
  data-explorer/kusto/api/rest/response.md
  data-explorer/kusto/management/extents-overview.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/query/distinctoperator.md
  data-explorer/kusto/query/geo-point-in-polygon-function.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/percentiles-aggfunction.md
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/tools/kusto-explorer-refactor.md
  data-explorer/kusto/tools/kusto-webexplorer.md
  data-explorer/manage-database-permissions.md
  data-explorer/monitor-with-resource-health.md
  data-explorer/power-bi-best-practices.md
  data-explorer/security-baseline.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/web-query-data.md
Labels: CLA, do-not-merge

#385 Repo sync for protected CLA branch
  data-explorer/kusto/management/row-level-security-policy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#386 Repo sync for protected CLA branch
  data-explorer/kusto/management/drop-function.md
  data-explorer/kusto/query/buildschema-aggfunction.md
  data-explorer/kusto/query/parse-ipv4function.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/kusto/query/unionoperator.md
  data-explorer/kusto/query/usinghlltdigest.md
  data-explorer/kusto/query/whereoperator.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#388 Repo sync for protected CLA branch
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/customer-managed-keys-portal.md
  data-explorer/engine-v3.md
  data-explorer/follower.md
  data-explorer/kusto/management/clear-query-results-cache-command.md
  data-explorer/kusto/management/ingestiontime-policy.md
  data-explorer/kusto/management/restrictedviewaccess-policy.md
  data-explorer/kusto/management/sandbox-policy.md
  data-explorer/kusto/management/update-policy.md
  data-explorer/kusto/query/query-results-cache.md
  data-explorer/kusto/tools/kusto-explorer-troubleshooting.md
  data-explorer/manage-cluster-choose-sku.md
  data-explorer/media/engine-v3/create-new-cluster-v3.png
  data-explorer/media/engine-v3/engine-v3-architecture.png
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#390 Repo sync for protected CLA branch
  data-explorer/power-bi-best-practices.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#392 Repo sync for protected CLA branch
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/query/tutorial.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#393 Repo sync for protected CLA branch
  data-explorer/data-explorer-overview.md
  data-explorer/index.yml
  data-explorer/ingest-data-event-grid-manual.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/media/eventgrid/create-event-grid-subscription-1.png
  data-explorer/media/eventgrid/create-event-grid-subscription-2.png
  data-explorer/media/eventgrid/endpoint-details.png
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#394 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/data-purge.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#396 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/sandboxes.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#397 Repo sync for protected CLA branch
  data-explorer/kusto/query/arraysortascfunction.md
  data-explorer/kusto/query/arraysortdescfunction.md
  data-explorer/kusto/query/make-list-with-nulls-aggfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#402 Repo sync for protected CLA branch
  data-explorer/kusto/tools/kusto-explorer.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#405 Repo sync for protected CLA branch
  data-explorer/kql-quick-reference.md
  data-explorer/kusto/concepts/resulttruncation.md
  data-explorer/kusto/concepts/runawayqueries.md
  data-explorer/kusto/query/forkoperator.md
  data-explorer/kusto/query/project-keep-operator.md
  data-explorer/kusto/query/projectawayoperator.md
  data-explorer/kusto/query/projectrenameoperator.md
  data-explorer/kusto/query/projectreorderoperator.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#407 Repo sync for protected CLA branch
  data-explorer/includes/iot-hub-get-started-create-device-identity.md
Labels: CLA, Change sent to author, do-not-merge, iot-hub/svc

#409 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#410 Repo sync for protected CLA branch
  data-explorer/kusto/management/cache-policy.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/retention-policy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#413 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
  data-explorer/kusto/management/management-best-practices.md
  data-explorer/kusto/query/dcount-intersect-plugin.md
  data-explorer/kusto/query/partitionoperator.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#415 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-cli.md
  data-explorer/create-cluster-database-csharp.md
  data-explorer/create-cluster-database-go.md
  data-explorer/create-cluster-database-portal.md
  data-explorer/create-cluster-database-powershell.md
  data-explorer/create-cluster-database-python.md
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/go-ingest-data.md
  data-explorer/java-ingest-data.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/tools/logicapps.md
  data-explorer/media/vnet-private-link-storage-event-hub/add-networks.png
  data-explorer/media/vnet-private-link-storage-event-hub/create-private-endpoint-basics-tab.png
  data-explorer/media/vnet-private-link-storage-event-hub/create-private-endpoint-configuration-tab.png
  data-explorer/media/vnet-private-link-storage-event-hub/create-private-endpoint-resource-tab.png
  data-explorer/media/vnet-private-link-storage-event-hub/event-hub-add-existing-vnet.png
  data-explorer/media/vnet-private-link-storage-event-hub/event-hub-firewalls-and-vnet.png
  data-explorer/media/vnet-private-link-storage-event-hub/networking.png
  data-explorer/media/vnet-private-link-storage-event-hub/private-link-service.png
  data-explorer/media/vnet-private-link-storage-event-hub/storage-add-existing-vnet.png
  data-explorer/media/vnet-private-link-storage-event-hub/storage-add-networks.png
  data-explorer/media/vnet-private-link-storage-event-hub/storage-virtual-network.png
  data-explorer/net-sdk-ingest-data.md
  data-explorer/node-ingest-data.md
  data-explorer/python-ingest-data.md
  data-explorer/toc.yml
  data-explorer/vnet-create-private-endpoint.md
  data-explorer/vnet-deployment.md
  data-explorer/vnet-endpoint-storage-event-hub.md
Labels: CLA, do-not-merge

#417 Repo sync for protected CLA branch
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
