Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2020-08, with the labels that each got.

#252 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/cluster-disk-encryption.md
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/customer-managed-keys-portal.md
  data-explorer/customer-managed-keys-resource-manager.md
  data-explorer/double-encryption.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/kusto/query/countif-aggfunction.md
  data-explorer/language-extensions.md
  data-explorer/managed-identities.md
  data-explorer/media/double-encryption/double-encryption-portal.png
  data-explorer/security.md
  data-explorer/toc.yml
Labels: do-not-merge

#253 Fix git push error for protected CLA branch
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/using-metrics.md
Labels: do-not-merge

#254 Azure Data explorer small typo
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#259 Fix git push error for protected CLA branch
  data-explorer/kusto/api/tds/linkedserver.md
Labels: do-not-merge

#260 Fix md format in data-factory-command-activity.md
  data-explorer/data-factory-command-activity.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#261 Fix git push error for protected CLA branch
  data-explorer/kusto/management/images/updatepolicy/update-policy-overview.png
  data-explorer/kusto/management/update-policy.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/anyif-aggfunction.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/kusto/query/assert-function.md
  data-explorer/kusto/query/autoclusterplugin.md
  data-explorer/kusto/query/bagkeysfunction.md
  data-explorer/kusto/query/databasefunction.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/datetime-partfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/kusto/query/diffpatterns-textplugin.md
  data-explorer/kusto/query/diffpatternsplugin.md
  data-explorer/kusto/query/evaluateoperator.md
  data-explorer/kusto/query/externaltablefunction.md
  data-explorer/kusto/query/inoperator.md
  data-explorer/kusto/query/invokeoperator.md
  data-explorer/kusto/query/ipv4-comparefunction.md
  data-explorer/kusto/query/ipv4-is-matchfunction.md
  data-explorer/kusto/query/ipv6-comparefunction.md
  data-explorer/kusto/query/ipv6-is-matchfunction.md
  data-explorer/kusto/query/packallfunction.md
  data-explorer/kusto/query/parse-versionfunction.md
  data-explorer/kusto/query/pivotplugin.md
  data-explorer/kusto/query/previewplugin.md
  data-explorer/kusto/query/projectreorderoperator.md
  data-explorer/kusto/query/restrictstatement.md
  data-explorer/kusto/query/sampleoperator.md
  data-explorer/kusto/query/series-decompose-anomaliesfunction.md
  data-explorer/kusto/query/series-fill-linearfunction.md
  data-explorer/kusto/query/sqlrequestplugin.md
  data-explorer/kusto/query/takeoperator.md
  data-explorer/kusto/query/todoublefunction.md
  data-explorer/kusto/query/todynamicfunction.md
  data-explorer/kusto/query/toguidfunction.md
  data-explorer/kusto/query/tolongfunction.md
  data-explorer/kusto/query/tophittersoperator.md
  data-explorer/kusto/query/topnestedoperator.md
  data-explorer/kusto/query/topoperator.md
  data-explorer/kusto/tools/kusto-explorer-using.md
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/toc.yml
Labels: do-not-merge

#265 Fix git push error for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/business-continuity-create-solution.md
  data-explorer/business-continuity-overview.md
  data-explorer/create-cluster-database-portal.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/external-table-commands.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/media/business-continuity-create-solution/active-hot-standby-scheme.png
  data-explorer/media/business-continuity-create-solution/app-service-setup.png
  data-explorer/media/business-continuity-create-solution/data-sources-visualization.png
  data-explorer/media/business-continuity-create-solution/event-hub-management-scheme.png
  data-explorer/media/business-continuity-create-solution/independent-clusters.png
  data-explorer/media/business-continuity-create-solution/performance-test-query-time.png
  data-explorer/media/business-continuity-create-solution/regional-duplicate-management.png
  data-explorer/media/business-continuity-create-solution/simulation-verify-service.png
  data-explorer/media/business-continuity-overview/active-active-active-n.png
  data-explorer/media/business-continuity-overview/active-active.png
  data-explorer/media/business-continuity-overview/active-hot-standby.png
  data-explorer/media/business-continuity-overview/on-demand-data-recovery-cluster.png
  data-explorer/media/create-cluster-database-portal/stop-button.png
  data-explorer/net-sdk-ingest-data.md
  data-explorer/toc.yml
Labels: do-not-merge

#267 Fix git push error for protected CLA branch
  data-explorer/kusto/management/data-ingestion/ingest-from-storage.md
Labels: do-not-merge

#268 Update monitor-with-resource-health.md
  data-explorer/monitor-with-resource-health.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#269 Fix git push error for protected CLA branch
  data-explorer/kusto/query/letstatement.md
  data-explorer/vnet-deployment.md
Labels: do-not-merge

#263 Fixed for "load-balancer" setup
  data-explorer/k2bridge.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#270 Fix git push error for protected CLA branch
  data-explorer/business-continuity-create-solution.md
Labels: do-not-merge

#271 Fix git push error for protected CLA branch
  data-explorer/go-ingest-data.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/node-ingest-data.md
  data-explorer/python-ingest-data.md
  data-explorer/toc.yml
Labels: do-not-merge

#272 Repo sync for protected CLA branch
  data-explorer/go-ingest-data.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/format-ipv4-function.md
  data-explorer/kusto/query/format-ipv4-mask-function.md
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/usinghlltdigest.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#274 Repo sync for protected CLA branch
  data-explorer/kusto/api/rest/ping.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/create-alter-continuous.md
  data-explorer/kusto/management/data-export/disable-enable-continuous.md
  data-explorer/kusto/management/data-export/drop-continuous-export.md
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/data-export/show-continuous-artifacts.md
  data-explorer/kusto/management/data-export/show-continuous-export.md
  data-explorer/kusto/management/data-export/show-continuous-failures.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#275 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/business-continuity-overview.md
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/data-connection-event-grid-resource-manager.md
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/data-connection-iot-hub-csharp.md
  data-explorer/data-connection-iot-hub-python.md
  data-explorer/data-connection-iot-hub-resource-manager.md
  data-explorer/includes/data-connector-intro.md
  data-explorer/includes/ingestion-properties-event-grid.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-ingestion/eventgrid.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/binatfunction.md
  data-explorer/kusto/query/binfunction.md
  data-explorer/media/eventgrid/create-event-grid-subscription-1.png
  data-explorer/media/eventgrid/create-event-grid-subscription-2.png
  data-explorer/media/eventgrid/filters-tab.png
  data-explorer/media/ingest-data-iot-hub/delete-resources-select.png
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
Labels: CLA, do-not-merge

#277 Repo sync for protected CLA branch
  data-explorer/kusto/query/shufflequery.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#278 Update data-share.md
  data-explorer/data-share.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#281 Repo sync for protected CLA branch
  data-explorer/kusto/management/streamingingestion-policy.md
  data-explorer/kusto/query/series-outliersfunction.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/query-monitor-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#282 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/dynamic-to-json-function.md
  data-explorer/kusto/query/images/series-fft-function/series-fft.png
  data-explorer/kusto/query/images/series-fft-function/series-ifft.png
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/series-fft-function.md
  data-explorer/kusto/query/series-ifft-function.md
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#283 Repo sync for protected CLA branch
  data-explorer/kusto/management/query-results-cache-commands.md
  data-explorer/kusto/query/parse-ipv4-maskfunction.md
  data-explorer/kusto/query/parse-ipv6-maskfunction.md
Labels: CLA, do-not-merge

#280 Misplaced paragraph: talks about truncation in the memory per iterator section
  data-explorer/kusto/concepts/querylimits.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#286 Minor fixes in datatypes-string-operators.md
  data-explorer/kusto/query/datatypes-string-operators.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#287 Repo sync for protected CLA branch
  data-explorer/azure-notebooks.md
  data-explorer/connect-from-databricks.md
  data-explorer/flow-usage.md
  data-explorer/ingest-data-no-code.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/operations.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/query/countoffunction.md
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/scalar-data-types/timespan.md
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/kusto/tools/logicapps.md
  data-explorer/time-series-analysis.md
Labels: CLA, do-not-merge

#291 Repo sync for protected CLA branch
  data-explorer/kusto/management/show-table-details-command.md
Labels: CLA, do-not-merge

#296 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-csharp.md
  data-explorer/create-cluster-database-python.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/activity-metrics-plugin.md
  data-explorer/kusto/query/bag-unpackplugin.md
  data-explorer/kusto/query/buildschema-aggfunction.md
  data-explorer/kusto/query/dcount-intersect-plugin.md
  data-explorer/kusto/query/dynamic-to-json-function.md
  data-explorer/kusto/query/extractfunction.md
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/kusto/query/patternstatement.md
  data-explorer/kusto/query/summarizeoperator.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#297 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/query/series-decomposefunction.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#298 Update about-kusto-ingest.md
  data-explorer/kusto/api/netfx/about-kusto-ingest.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#301 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, do-not-merge, review-team-triage

#302 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, do-not-merge, review-team-triage

#304 Repo sync for protected CLA branch
  .whatsnew.json
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#305 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, do-not-merge, review-team-triage

#306 Repo sync for protected CLA branch
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#307 Kusto isnotempty needed an example
  data-explorer/kusto/query/isnotemptyfunction.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#308 Repo sync for protected CLA branch
  data-explorer/kusto/management/columns.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#309 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#311 Repo sync for protected CLA branch
  data-explorer/node-ingest-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
