Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2020-12, with the labels that each got.

#477 Repo sync for protected CLA branch
  data-explorer/includes/data-explorer-one-click-column-table.md
  data-explorer/includes/data-explorer-one-click-command-editor.md
  data-explorer/ingest-data-event-grid-manual.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-one-click.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-fit-lowess-fl/lowess-irregular-time-series.png
  data-explorer/kusto/functions-library/images/series-fit-lowess-fl/lowess-regular-time-series.png
  data-explorer/kusto/functions-library/images/series-fit-lowess-fl/lowess-vs-poly-fifth-order-noise.png
  data-explorer/kusto/functions-library/series-fit-lowess-fl.md
  data-explorer/media/one-click-ingestion-existing-table/json-levels.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/toc.yml
  data-explorer/troubleshoot-database-table.md
Labels: CLA, do-not-merge

#480 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#483 Repo sync for protected CLA branch
  data-explorer/kusto/query/schema-entities/databases.md
Labels: CLA, do-not-merge

#485 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-go.md
  data-explorer/managed-identities.md
  data-explorer/web-query-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#487 Repo sync for protected CLA branch
  .whatsnew.json
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/query/query-results-cache.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/media/power-bi-connector/select-table.png
  data-explorer/power-bi-connector.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#490 Repo sync for protected CLA branch
  data-explorer/kusto/management/stored-query-results.md
  data-explorer/kusto/query/takeoperator.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#488 Improve verbiage
  data-explorer/ingest-data-kafka.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#492 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/error-codes.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-errors.md
  data-explorer/kusto/concepts/errorsinnativecode.md
  data-explorer/kusto/management/management-best-practices.md
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, do-not-merge

#496 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-cli.md
  data-explorer/create-cluster-database-go.md
  data-explorer/create-cluster-database-powershell.md
  data-explorer/customer-managed-keys-cli.md
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/customer-managed-keys-portal.md
  data-explorer/customer-managed-keys-powershell.md
  data-explorer/customer-managed-keys-resource-manager.md
  data-explorer/go-ingest-data.md
  data-explorer/includes/data-explorer-configure-customer-managed-keys-b.md
  data-explorer/includes/data-explorer-configure-customer-managed-keys.md
  data-explorer/kusto/api/client-libraries.md
  data-explorer/kusto/query/renderoperator.md
  data-explorer/media/customer-managed-keys-portal/cmk-before-save.png
  data-explorer/media/customer-managed-keys-portal/cmk-encryption-setting.png
  data-explorer/media/customer-managed-keys-portal/cmk-key-vault.png
  data-explorer/media/customer-managed-keys-portal/cmk-select-user-type.png
Labels: CLA, do-not-merge

#497 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#498 Repo sync for protected CLA branch
  data-explorer/customer-managed-keys-portal.md
  data-explorer/error-codes.md
  data-explorer/kusto/management/stored-query-results.md
  data-explorer/media/customer-managed-keys-portal/cmk-key-vault.png
  data-explorer/media/customer-managed-keys-portal/customer-managed-key-before-save.png
  data-explorer/media/customer-managed-keys-portal/customer-managed-key-encryption-setting.png
  data-explorer/media/customer-managed-keys-portal/customer-managed-key-key-vault.png
  data-explorer/media/customer-managed-keys-portal/customer-managed-key-select-user-type.png
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#499 Update vnet-endpoint-storage-event-hub.md
  data-explorer/vnet-endpoint-storage-event-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#501 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#502 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/kusto/management/batching-policy.md
  data-explorer/media/adx-proxy/adx-proxy-workflow.png
  data-explorer/media/query-monitor-data/add-cluster.png
  data-explorer/media/query-monitor-data/cross-query.png
  data-explorer/media/query-monitor-data/function-query.png
  data-explorer/media/query-monitor-data/la-adx-clusters.png
  data-explorer/media/query-monitor-data/query-adx-proxy.png
  data-explorer/media/query-monitor-data/query-adx.png
  data-explorer/media/query-monitor-data/query-la.png
  data-explorer/media/query-monitor-data/query-monitor-workflow.png
  data-explorer/media/query-monitor-data/web-ui-help-cluster.png
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/power-bi-best-practices.md
  data-explorer/query-monitor-data.md
  data-explorer/using-diagnostic-logs.md
Labels: CLA, data-explorer/svc, do-not-merge

#503 Repo sync for protected CLA branch
  data-explorer/engine-v3.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-metric-fl/all-disks-write-metric-10m.png
  data-explorer/kusto/functions-library/images/series-metric-fl/disk-write-metric-10m.png
  data-explorer/kusto/functions-library/images/series-rate-fl/all-disks-write-rate-2-bins.png
  data-explorer/kusto/functions-library/images/series-rate-fl/main-disks-write-rate-10-bins.png
  data-explorer/kusto/functions-library/series-metric-fl.md
  data-explorer/kusto/functions-library/series-rate-fl.md
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/binfunction.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#505 Repo sync for protected CLA branch
  data-explorer/ingest-data-iot-hub-overview.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#506 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/includes/ingest-data-streaming-limitations.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/show-schema-database.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#507 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#509 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/series-fit-lowess-fl.md
  data-explorer/kusto/functions-library/series-rate-fl.md
  data-explorer/kusto/query/patternstatement.md
  data-explorer/kusto/query/pythonplugin.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#510 Repo sync for protected CLA branch
  data-explorer/vnet-create-private-endpoint.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#511 Repo sync for protected CLA branch
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/kusto/query/parseoperator.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/vnet-create-private-endpoint.md
Labels: CLA, do-not-merge

#512 Repo sync for protected CLA branch
  data-explorer/flow.md
  data-explorer/kusto/management/stored-query-results.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#514 Repo sync for protected CLA branch
  data-explorer/includes/event-hub-system-mapping.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
Labels: CLA, do-not-merge

#516 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/export-data-to-storage.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#513 Update web-query-data.md
  data-explorer/web-query-data.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#518 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#519 Repo sync for protected CLA branch
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/topnestedoperator.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#520 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#521 Repo sync for protected CLA branch
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#523 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/kusto/query/unionoperator.md
  data-explorer/kusto/tools/images/kusto-explorer/excel-color-scheme.png
  data-explorer/kusto/tools/images/kusto-explorer/vivid-color-scheme.png
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/kusto/tools/kusto-webexplorer.md
  data-explorer/media/web-query-data/dark-mode.png
  data-explorer/media/web-query-data/enable-error-highlighting.gif
  data-explorer/media/web-query-data/light-mode.png
  data-explorer/web-query-data.md
Labels: CLA, do-not-merge

#524 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/series-metric-fl.md
  data-explorer/kusto/functions-library/series-rate-fl.md
  data-explorer/manage-cluster-choose-sku.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
