Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2020-09, with the labels that each got.

#312 Repo sync for protected CLA branch
  data-explorer/includes/data-explorer-one-click-ingestion-query-data.md
  data-explorer/ingest-data-one-click.md
  data-explorer/media/ingest-data-one-click/access-from-portal.png
  data-explorer/media/one-click-ingestion-existing-table/from-file.png
  data-explorer/media/one-click-ingestion-existing-table/json-levels.png
  data-explorer/media/one-click-ingestion-existing-table/one-click-data-ingestion-complete.png
  data-explorer/media/one-click-ingestion-existing-table/one-click-ingestion-in-webui.png
  data-explorer/media/one-click-ingestion-existing-table/start-ingestion.png
  data-explorer/media/one-click-ingestion-new-table/continuous-button.png
  data-explorer/media/one-click-ingestion-new-table/create-new-table.png
  data-explorer/media/one-click-ingestion-new-table/event-hub-create.png
  data-explorer/media/one-click-ingestion-new-table/from-container-with-filter.png
  data-explorer/media/one-click-ingestion-new-table/from-container.png
  data-explorer/media/one-click-ingestion-new-table/non-json-format.png
  data-explorer/media/one-click-ingestion-new-table/one-click-data-ingestion-complete.png
  data-explorer/media/one-click-ingestion-new-table/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-ingestion-new-table/start-ingestion.png
  data-explorer/media/one-click-ingestion-new-table/table-mapping.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: CLA, do-not-merge

#313 Repo sync for protected CLA branch
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#316 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/dashboard-customize-visuals.md
  data-explorer/dashboard-parameters.md
  data-explorer/kusto/query/make-list-with-nulls-aggfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/media/adx-dashboards/auto-refresh-toggle.png
  data-explorer/media/adx-dashboards/auto-refresh.png
  data-explorer/media/adx-dashboards/dashboard-permissions.png
  data-explorer/media/adx-dashboards/share-dashboard.png
  data-explorer/media/dashboard-customize-visuals/anomaly-chart.png
  data-explorer/media/dashboard-customize-visuals/area-chart.png
  data-explorer/media/dashboard-customize-visuals/bar-chart.png
  data-explorer/media/dashboard-customize-visuals/column-chart.png
  data-explorer/media/dashboard-customize-visuals/customize-visuals.png
  data-explorer/media/dashboard-customize-visuals/edit-card.png
  data-explorer/media/dashboard-customize-visuals/line-chart.png
  data-explorer/media/dashboard-customize-visuals/map.png
  data-explorer/media/dashboard-customize-visuals/pie-chart.png
  data-explorer/media/dashboard-customize-visuals/scatter-chart.png
  data-explorer/media/dashboard-customize-visuals/stat.png
  data-explorer/media/dashboard-customize-visuals/table.png
  data-explorer/media/dashboard-customize-visuals/time-chart.png
  data-explorer/media/dashboard-customize-visuals/visual-customization-sidebar.png
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#317 Repo sync for protected CLA branch
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#322 Repo sync for protected CLA branch
  .whatsnew.json
Labels: CLA, do-not-merge, review-team-triage

#325 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, do-not-merge

#326 Repo sync for protected CLA branch
  data-explorer/ingest-sample-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#314 Update the note for v12 of Storage SDK
  data-explorer/kusto/api/netfx/kusto-ingest-client-rest.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#327 Repo sync for protected CLA branch
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/includes/data-explorer-container-system-properties.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/ingestion-supported-formats.md
  data-explorer/media/using-metrics/select-metrics.gif
  data-explorer/toc.yml
  data-explorer/using-metrics.md
  data-explorer/vnet-deploy-troubleshoot.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#329 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/externaltablefunction.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#331 Repo sync for protected CLA branch
  data-explorer/go-ingest-data.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/fifth-order-noise-table.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/fifth-order-noise.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/irregular-time-series.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/usage-example.png
  data-explorer/kusto/functions-library/images/series-moving-avg-udf/moving-average-five-bins.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/graph-rolling-15.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/rolling-median-9.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/rolling-trimmed-mean.png
  data-explorer/kusto/functions-library/quantize-udf.md
  data-explorer/kusto/functions-library/series-fit-poly-udf.md
  data-explorer/kusto/functions-library/series-moving-avg-udf.md
  data-explorer/kusto/functions-library/series-rolling-udf.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#332 Repo sync for protected CLA branch
  data-explorer/kusto/api/golang/kusto-golang-client-library.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-fit-poly-lf/fifth-order-noise-table.png
  data-explorer/kusto/functions-library/images/series-fit-poly-lf/fifth-order-noise.png
  data-explorer/kusto/functions-library/images/series-fit-poly-lf/irregular-time-series.png
  data-explorer/kusto/functions-library/images/series-fit-poly-lf/usage-example.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/fifth-order-noise-table.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/fifth-order-noise.png
  data-explorer/kusto/functions-library/images/series-fit-poly-udf/irregular-time-series.png
  data-explorer/kusto/functions-library/images/series-moving-avg-lf/moving-average-five-bins.png
  data-explorer/kusto/functions-library/images/series-moving-avg-udf/moving-average-five-bins.png
  data-explorer/kusto/functions-library/images/series-rolling-lf/graph-rolling-15.png
  data-explorer/kusto/functions-library/images/series-rolling-lf/rolling-median-9.png
  data-explorer/kusto/functions-library/images/series-rolling-lf/rolling-trimmed-mean.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/graph-rolling-15.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/rolling-median-9.png
  data-explorer/kusto/functions-library/images/series-rolling-udf/rolling-trimmed-mean.png
  data-explorer/kusto/functions-library/predict-lf.md
  data-explorer/kusto/functions-library/predict-onnx-lf.md
  data-explorer/kusto/functions-library/quantize-lf.md
  data-explorer/kusto/functions-library/series-fit-poly-lf.md
  data-explorer/kusto/functions-library/series-moving-avg-lf.md
  data-explorer/kusto/functions-library/series-moving-avg-udf.md
  data-explorer/kusto/functions-library/series-rolling-lf.md
  data-explorer/kusto/management/data-export/export-data-to-storage.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#334 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#337 Repo sync for protected CLA branch
  data-explorer/query-monitor-data.md
Labels: CLA, do-not-merge

#338 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-fit-poly-fl/fifth-order-noise-table.png
  data-explorer/kusto/functions-library/images/series-fit-poly-fl/fifth-order-noise.png
  data-explorer/kusto/functions-library/images/series-fit-poly-fl/irregular-time-series.png
  data-explorer/kusto/functions-library/images/series-fit-poly-fl/usage-example.png
  data-explorer/kusto/functions-library/images/series-moving-avg-fl/moving-average-five-bins.png
  data-explorer/kusto/functions-library/images/series-rolling-fl/graph-rolling-15.png
  data-explorer/kusto/functions-library/images/series-rolling-fl/rolling-median-9.png
  data-explorer/kusto/functions-library/images/series-rolling-fl/rolling-trimmed-mean.png
  data-explorer/kusto/functions-library/predict-fl.md
  data-explorer/kusto/functions-library/predict-onnx-fl.md
  data-explorer/kusto/functions-library/quantize-fl.md
  data-explorer/kusto/functions-library/series-fit-poly-fl.md
  data-explorer/kusto/functions-library/series-moving-avg-fl.md
  data-explorer/kusto/functions-library/series-rolling-fl.md
  data-explorer/kusto/query/beta-cdffunction.md
  data-explorer/toc.yml
  data-explorer/vnet-create-private-endpoint.md
Labels: CLA, do-not-merge

#339 Repo sync for protected CLA branch
  data-explorer/azure-advisor.md
  data-explorer/kusto/query/cosmosdb-plugin.md
  data-explorer/media/azure-advisor/advisor-resource.png
  data-explorer/media/azure-advisor/clusters-with-recommendations.png
  data-explorer/media/azure-advisor/resource-group-advisor-recommendations.png
  data-explorer/media/azure-advisor/select-recommendation-type.png
  data-explorer/media/azure-advisor/select-recommendation.png
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#341 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/create-cluster-database-python.md
  data-explorer/dashboard-parameters.md
  data-explorer/grafana.md
  data-explorer/kusto/management/calloutpolicy.md
  data-explorer/media/grafana/query-builder-all-values.png
  data-explorer/media/grafana/query-builder-from-table.png
  data-explorer/media/grafana/query-builder-with-raw-query.png
  data-explorer/media/grafana/raw-mode.png
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#343 Repo sync for protected CLA branch
  data-explorer/data-lake-query-data.md
  data-explorer/isolated-compute.md
  data-explorer/kusto/management/calloutpolicy.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/parse-xmlfunction.md
  data-explorer/kusto/query/scalar-data-types/datetime.md
  data-explorer/media/isolated-compute/select-isolated-compute-sku.png
  data-explorer/media/using-diagnostic-logs/configure-diagnostics-settings.png
  data-explorer/toc.yml
  data-explorer/using-diagnostic-logs.md
  data-explorer/vnet-create-private-endpoint.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#345 Repo sync for protected CLA branch
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#348 Repo sync for protected CLA branch
  data-explorer/flow-usage.md
  data-explorer/flow.md
  data-explorer/media/one-click-table/blob.png
  data-explorer/media/one-click-table/create-table.png
  data-explorer/media/one-click-table/data-from-file.png
  data-explorer/media/one-click-table/schema-tab.png
  data-explorer/media/one-click-table/source-tab.png
  data-explorer/media/one-click-table/table-completed.png
  data-explorer/one-click-table.md
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#350 Repo sync for protected CLA branch
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#351 Repo sync for protected CLA branch
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#352 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/kusto/functions-library/series-fit-poly-fl.md
  data-explorer/kusto/query/queries.md
  data-explorer/media/ingest-data-event-grid/data-connection-basics.png
  data-explorer/media/ingest-data-event-grid/data-connection-ingest-properties.png
  data-explorer/media/ingest-data-event-hub/data-connection-pane.png
  data-explorer/media/ingest-data-event-hub/default-routing-settings.png
  data-explorer/media/ingest-data-event-hub/event-hub-connection.png
  data-explorer/media/ingest-data-event-hub/select-test-database.png
  data-explorer/media/ingest-data-iot-hub/data-connection-pane.png
  data-explorer/media/ingest-data-iot-hub/default-routing-settings.png
  data-explorer/media/ingest-data-iot-hub/iot-hub-connection.png
  data-explorer/media/ingest-data-iot-hub/select-database.png
  data-explorer/python-ingest-data.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/using-metrics.md
Labels: CLA, do-not-merge

#353 Repo sync for protected CLA branch
  data-explorer/kusto/management/access-control/index.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#355 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/predict-fl.md
  data-explorer/kusto/functions-library/predict-onnx-fl.md
  data-explorer/kusto/functions-library/quantize-fl.md
  data-explorer/kusto/functions-library/series-rolling-fl.md
  data-explorer/query-monitor-data.md
Labels: CLA, do-not-merge

#356 Repo sync for protected CLA branch
  data-explorer/ingest-data-kafka.md
  data-explorer/media/ingest-data-kafka/create-table.png
  data-explorer/media/ingest-data-kafka/kusto-query.png
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#357 Repo sync for protected CLA branch
  .whatsnew.json
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/kusto/management/materialized-views/materialized-view-alter.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-drop.md
  data-explorer/kusto/management/materialized-views/materialized-view-enable-disable.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/management/materialized-views/materialized-view-show-commands.md
  data-explorer/kusto/management/mergepolicy.md
  data-explorer/kusto/management/retentionpolicy.md
  data-explorer/kusto/management/security-roles.md
  data-explorer/kusto/query/materialized-view-function.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#358 Repo sync for protected CLA branch
  data-explorer/kusto/management/create-merge-table-command.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/beta-cdffunction.md
  data-explorer/kusto/query/beta-invfunction.md
  data-explorer/kusto/query/isfinitefunction.md
  data-explorer/kusto/query/isinffunction.md
  data-explorer/kusto/query/isnanfunction.md
  data-explorer/kusto/query/log-function.md
  data-explorer/kusto/query/log10-function.md
  data-explorer/kusto/query/log2-function.md
  data-explorer/kusto/query/make-bag-aggfunction.md
  data-explorer/kusto/query/makelistif-aggfunction.md
  data-explorer/kusto/query/makeset-aggfunction.md
  data-explorer/kusto/query/makesetif-aggfunction.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/kusto/query/reduceoperator.md
  data-explorer/kusto/query/series-equalsfunction.md
  data-explorer/kusto/query/series-greater-equalsfunction.md
  data-explorer/kusto/query/series-greaterfunction.md
  data-explorer/kusto/query/series-less-equalsfunction.md
  data-explorer/kusto/query/series-lessfunction.md
  data-explorer/kusto/query/series-not-equalsfunction.md
  data-explorer/kusto/query/sethaselementfunction.md
  data-explorer/kusto/query/unixtime-microseconds-todatetimefunction.md
  data-explorer/kusto/query/unixtime-milliseconds-todatetimefunction.md
  data-explorer/kusto/query/unixtime-nanoseconds-todatetimefunction.md
  data-explorer/kusto/query/unixtime-seconds-todatetimefunction.md
Labels: CLA, do-not-merge

#361 Repo sync for protected CLA branch
  data-explorer/kusto/query/series-fill-constfunction.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#363 Repo sync for protected CLA branch
  data-explorer/kusto/query/series-fill-constfunction.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#362 Update one-click-table.md
  data-explorer/one-click-table.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#366 Repo sync for protected CLA branch
  data-explorer/kusto/management/show-query-results-cache-command.md
  data-explorer/media/one-click-table/storage.png
  data-explorer/one-click-table.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#369 Fix incorrect link to countof() documentation
  data-explorer/kusto/query/scalarfunctions.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#372 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/query/zlib-base64-compress.md
  data-explorer/kusto/query/zlib-base64-decompress.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
