Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-11, with the labels that each got.

#875 Update stop cluster recommendation
  data-explorer/azure-advisor.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#877 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-powershell.md
  data-explorer/kusto/query/tutorial.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#879 Repo sync for protected CLA branch
  data-explorer/kusto/management/show-materialized-view-row-level-security-policy-command.md
  data-explorer/kusto/management/show-table-row-level-security-policy-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#881 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-callout-policy-command.md
  data-explorer/kusto/management/alter-merge-callout-policy-command.md
  data-explorer/kusto/management/calloutpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#883 Repo sync for protected CLA branch
  data-explorer/kusto/query/geo-h3cell-children-function.md
  data-explorer/kusto/query/geo-h3cell-level-function.md
  data-explorer/kusto/query/geo-h3cell-parent-function.md
  data-explorer/kusto/query/geo-h3cell-rings-function.md
  data-explorer/kusto/query/geospatial-grid-systems.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#885 Repo sync for protected CLA branch
  data-explorer/data-explorer-overview.md
  data-explorer/ingest-data-overview.md
  data-explorer/media/data-explorer-overview/decision-tree.png
  data-explorer/media/data-explorer-overview/overview-architecture.png
  data-explorer/one-click-event-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#887 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-materialized-view-row-level-security-policy-command.md
  data-explorer/kusto/management/alter-table-row-level-security-policy-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#888 Repo sync for protected CLA branch
  .vscode/settings.json
  data-explorer/auto-stop-clusters.md
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/kusto/management/alter-merge-workload-group-command.md
  data-explorer/kusto/management/create-or-alter-workload-group-command.md
  data-explorer/kusto/management/drop-workload-group-command.md
  data-explorer/kusto/management/show-workload-group-command.md
  data-explorer/kusto/query/percentiles-aggfunction.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/media/auto-stop-clusters/auto-stop-cluster-activity-log.png
  data-explorer/media/auto-stop-clusters/auto-stop-cluster-creation.png
  data-explorer/media/auto-stop-clusters/auto-stop-cluster-update.png
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#891 Repo sync for protected CLA branch
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/management/alter-managed-identity-policy-command.md
  data-explorer/kusto/management/alter-merge-managed-identity-policy-command.md
  data-explorer/kusto/management/delete-managed-identity-policy-command.md
  data-explorer/kusto/management/images/managed-identity-policy/azure-portal.png
  data-explorer/kusto/management/managed-identity-policy.md
  data-explorer/kusto/management/show-managed-identity-policy-command.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/make-seriesoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#892 Repo sync for protected CLA branch
  data-explorer/kusto/api/tds/tdskql.md
  data-explorer/kusto/management/alter-managed-identity-policy-command.md
  data-explorer/kusto/management/alter-merge-managed-identity-policy-command.md
  data-explorer/kusto/management/managed-identity-policy.md
  data-explorer/kusto/management/show-managed-identity-policy-command.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/partitionoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#894 Repo sync for protected CLA branch
  data-explorer/kusto/query/series-periods-detectfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#895 Repo sync for protected CLA branch
  data-explorer/kusto/query/tutorial.md
  data-explorer/security-controls-policy.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#896 Repo sync for protected CLA branch
  data-explorer/kusto/api/tds/tdskql.md
  data-explorer/kusto/management/streamingingestionpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#898 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-merge-table-update-policy-command.md
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/kusto/management/updatepolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#900 (AzureCXP) MicrosoftDocs/azure-docs
  data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#901 Repo sync for protected CLA branch
  data-explorer/kusto/management/updatepolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#904 Repo sync for protected CLA branch
  data-explorer/dashboard-customize-visuals.md
  data-explorer/dashboard-parameters.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/kusto/management/alter-merge-workload-group-command.md
  data-explorer/kusto/management/create-or-alter-workload-group-command.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/media/dashboard-parameters/new-parameter-button.png
  data-explorer/media/dashboard-parameters/properties.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#909 Repo sync for protected CLA branch
  data-explorer/ingest-data-streaming.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/has-any-index-function.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/tools/synckusto.md
  data-explorer/query-monitor-data.md
  data-explorer/whats-new.md
  data-explorer/write-queries.md
Labels: do-not-merge, CLA

#911 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/hot-windows.md
  data-explorer/ingest-data-kafka.md
  data-explorer/ingest-data-no-code.md
  data-explorer/ingest-data-overview.md
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/management/access-control/role-based-authorization.md
  data-explorer/kusto/management/auto-delete-policy.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/cachepolicy.md
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
  data-explorer/kusto/management/databasecursor.md
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/ingestiontimepolicy.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/management/materialized-views/materialized-view-policies.md
  data-explorer/kusto/management/mergepolicy.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/management/query-consistency-policy.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/request-queuing-policy.md
  data-explorer/kusto/management/request-rate-limit-policy.md
  data-explorer/kusto/management/request-rate-limits-enforcement-policy.md
  data-explorer/kusto/management/restrictedviewaccesspolicy.md
  data-explorer/kusto/management/retentionpolicy.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/management/roworderpolicy.md
  data-explorer/kusto/management/sandboxpolicy.md
  data-explorer/kusto/management/shardingpolicy.md
  data-explorer/kusto/management/streamingingestionpolicy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/management/workload-groups.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/one-click-event-hub.md
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#913 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-materialized-view-row-level-security-policy-command.md
  data-explorer/kusto/management/alter-table-row-level-security-policy-command.md
  data-explorer/kusto/query/letstatement.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#908 correct facts in examples.
  data-explorer/kusto/query/patternstatement.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#915 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/kusto/management/show-database-ingestion-batching-policy.md
  data-explorer/kusto/query/bag-remove-keys-function.md
  data-explorer/solution-architectures.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#916 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-merge-workload-group-command.md
  data-explorer/kusto/management/query-consistency-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#918 Repo sync for protected CLA branch
  data-explorer/delete-data.md
  data-explorer/index.yml
  data-explorer/ingest-data-kafka.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/concepts/data-soft-delete.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/shardingpolicy.md
  data-explorer/kusto/management/tables.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/monitor-batching-ingestion.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/using-metrics.md
  data-explorer/write-queries.md
Labels: do-not-merge, CLA

#919 Repo sync for protected CLA branch
  data-explorer/ingest-sample-data.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/media/ingest-sample-data/add-cluster.png
  data-explorer/media/ingest-sample-data/define-ingestion-schema.png
  data-explorer/media/ingest-sample-data/select-data.png
  data-explorer/media/ingest-sample-data/select-ingestion-cluster.png
  data-explorer/media/ingest-sample-data/select-ingestion-wizard.png
  data-explorer/media/ingest-sample-data/select-query.png
  data-explorer/media/ingest-sample-data/specify-ingestion-source.png
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#921 Repo sync for protected CLA branch
  data-explorer/kusto/api/rest/deeplink.md
  data-explorer/kusto/management/data-export/show-continuous-artifacts.md
  data-explorer/kusto/management/data-export/show-continuous-failures.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-enable-disable.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/management/materialized-views/materialized-view-rename.md
  data-explorer/kusto/management/materialized-views/materialized-view-show-details-command.md
  data-explorer/kusto/management/toc.yml
Labels: do-not-merge, CLA

#922 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/create-ingestion-mapping-command.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/query-monitor-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#924 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/time-weighted-avg-fl.md
  data-explorer/kusto/management/alter-merge-query-weak-consistency-policy.md
  data-explorer/kusto/management/alter-query-weak-consistency-policy.md
  data-explorer/kusto/management/alter-table-cache-policy-command.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-merge-policy-command.md
  data-explorer/kusto/management/alter-table-partitioning-policy-command.md
  data-explorer/kusto/management/alter-table-retention-policy-command.md
  data-explorer/kusto/management/alter-table-row-order-policy-command.md
  data-explorer/kusto/management/alter-table-sharding-policy-command.md
  data-explorer/kusto/management/alter-table-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/query-monitor-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#925 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/configure-managed-identities-cluster.md
  data-explorer/external-tables-managed-identities.md
  data-explorer/includes/user-assigned-identity.md
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/query/ingestiontimefunction.md
  data-explorer/managed-identities-overview.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
