Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-03, with the labels that each got.

#634 Typo fix
  data-explorer/kusto/query/renderoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#635 Update format-timespanfunction.md
  data-explorer/kusto/query/format-timespanfunction.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#636 Repo sync for protected CLA branch
  data-explorer/azure-advisor.md
  data-explorer/business-continuity-overview.md
  data-explorer/high-concurrency.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/functions-library/series-metric-fl.md
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/data-export/export-data-to-storage.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/management/materialized-views/materialized-view-alter-lookback.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/management/merge-policy.md
  data-explorer/kusto/management/partitioning-policy.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/management/show-extents.md
  data-explorer/kusto/management/workload-groups.md
  data-explorer/kusto/query/extenttagsfunction.md
  data-explorer/kusto/query/gzip-base64-decompress.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
  data-explorer/whats-new.md
Labels: CLA, do-not-merge

#647 Update columnifexists.md
  data-explorer/kusto/query/columnifexists.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge
