Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-05, with the labels that each got.

#679 Typo in nextfunction.md
  data-explorer/kusto/query/nextfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#678 Update ingestion-properties.md
  data-explorer/ingestion-properties.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#681 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  .whatsnew.json
  data-explorer/external-table.md
  data-explorer/kusto/concepts/sandboxes.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/time-weighted-avg-fl.md
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/request-classification-policy-commands.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/request-rate-limit-policy.md
  data-explorer/kusto/management/sandbox-policy.md
  data-explorer/kusto/management/sandboxpolicy.md
  data-explorer/kusto/management/security-roles.md
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/management/workload-groups.md
  data-explorer/kusto/query/partitionoperator.md
  data-explorer/kusto/query/re2-library.md
  data-explorer/kusto/query/re2.md
  data-explorer/kusto/query/tophittersoperator.md
  data-explorer/language-extensions.md
  data-explorer/media/external-table/data-blade.png
  data-explorer/security-baseline.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
  data-explorer/whats-new.md
Labels: CLA, do-not-merge

#682 Repo sync for protected CLA branch
  data-explorer/kusto/management/drop-column.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#683 Remove some random numbers from the document
  data-explorer/kusto/management/show-table-details-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#684 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/kusto/management/cachepolicy.md
  data-explorer/kusto/management/materialized-views/materialized-view-clear-data.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/has-ipv4-prefix-function.md
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#690 Added await to the IngestFromStorageAsync calls
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#693 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/dealing-with-duplicates.md
  data-explorer/devops.md
  data-explorer/engine-v3.md
  data-explorer/follower.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-kafka.md
  data-explorer/kusto/management/clean-extent-containers.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/show-continuous-export.md
  data-explorer/kusto/management/drop-external-table.md
  data-explorer/kusto/management/extents-overview.md
  data-explorer/kusto/management/external-table-commands.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-drop.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/request-rate-limit-policy.md
  data-explorer/kusto/management/request-rate-limits-enforcement-policy.md
  data-explorer/kusto/management/show-external-table-schema.md
  data-explorer/kusto/management/show-external-tables.md
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/management/workload-groups.md
  data-explorer/kusto/query/around-function.md
  data-explorer/kusto/tools/kusto-cli.md
  data-explorer/manage-cluster-choose-sku.md
  data-explorer/media/devops/add-service-connection.png
  data-explorer/media/devops/add-service-endpoint.png
  data-explorer/media/devops/extension-install.png
  data-explorer/media/devops/extension-task-types.png
  data-explorer/media/devops/get-extension.png
  data-explorer/media/devops/git-option.png
  data-explorer/media/devops/inline-option.png
  data-explorer/media/devops/local-folder-option.png
  data-explorer/media/devops/query-gate-add.png
  data-explorer/media/devops/query-gate-look.png
  data-explorer/media/devops/query-gate.png
  data-explorer/media/devops/query-task.png
  data-explorer/media/devops/row-count.png
  data-explorer/media/devops/single-value.png
  data-explorer/media/devops/source-control-options.png
  data-explorer/media/follower/template-deployment.png
  data-explorer/toc.yml
  data-explorer/using-diagnostic-logs.md
  data-explorer/vnet-deployment.md
Labels: CLA, do-not-merge

#691 Added missing table name input
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#694 Repo sync for protected CLA branch
  data-explorer/includes/media/cloud-shell-try-it/hdi-launch-cloud-shell.png
  data-explorer/kusto/query/sqlrequestplugin.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#695 Update how-to-authenticate-with-aad.md
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#697 Update ingest-json-formats.md
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#698 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/kusto/query/regexquotefunction.md
  data-explorer/toc.yml
  data-explorer/vnet-create-cluster-portal.md
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
