Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-02, with the labels that each got.

#584 Repo sync for protected CLA branch
  data-explorer/index.yml
  data-explorer/kusto/management/clean-extent-containers.md
  data-explorer/kusto/query/rowrankfunction.md
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/series-statsfunction.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, do-not-merge

#586 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#587 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/manage-cluster-choose-sku.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#588 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/provision-azure-ad-app.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#589 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-powershell.md
  data-explorer/create-cluster-database-python.md
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/devops.md
  data-explorer/includes/updated-for-az.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/kqlmagic.md
  data-explorer/kusto/api/tds/clients.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/manage-cluster-choose-sku.md
  data-explorer/one-click-event-hub.md
  data-explorer/security-baseline.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#591 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/policy-reference.md
  data-explorer/security-controls-policy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#593 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/high-concurrency.md
  data-explorer/kqlmagic.md
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/query/scalar-data-types/null-values.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#596 Repo sync for protected CLA branch
  data-explorer/dealing-with-duplicates.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#597 Update KQL query format in tutorial.md
  data-explorer/kusto/query/tutorial.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#599 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/best-practices.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#617 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-purge.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#619 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/high-concurrency.md
  data-explorer/includes/media/one-click-cluster/add-cluster-connection.png
  data-explorer/includes/media/one-click-cluster/ingest-new-data.png
  data-explorer/includes/one-click-cluster.md
  data-explorer/ingest-data-one-click.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/ipv4-is-in-range-function.md
  data-explorer/kusto/query/ipv4-is-privatefunction.md
  data-explorer/kusto/query/ipv4-lookup-plugin.md
  data-explorer/kusto/query/ipv4-netmask-suffix-function.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/media/ingest-data-one-click/data-management.png
  data-explorer/media/one-click-ingestion-existing-table/from-container-with-filter.png
  data-explorer/media/one-click-ingestion-existing-table/from-file.png
  data-explorer/media/one-click-ingestion-new-table/create-new-table.png
  data-explorer/media/one-click-ingestion-new-table/from-container.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#621 Repo sync for protected CLA branch
  data-explorer/double-encryption.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/scalar-data-types/null-values.md
  data-explorer/manage-cluster-choose-sku.md
Labels: CLA, do-not-merge

#622 Repo sync for protected CLA branch
  data-explorer/double-encryption.md
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/toc.yml
  data-explorer/whats-new.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#623 Repo sync for protected CLA branch
  data-explorer/whats-new.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge
