Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-09, with the labels that each got.

#803 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-hub.md
  data-explorer/kusto/management/capacity-policy.md
  data-explorer/kusto/query/base64-decode-toguid-function.md
  data-explorer/kusto/query/base64-encode-fromguid-function.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/ingest-data-event-hub/access-control-role-assignment.png
  data-explorer/media/ingest-data-event-hub/add-role-assignment-system.png
  data-explorer/media/ingest-data-event-hub/add-role-assignment.png
  data-explorer/media/ingest-data-event-hub/data-connection-pane.png
  data-explorer/media/ingest-data-event-hub/deploy-to-azure.png
  data-explorer/media/ingest-data-event-hub/review-create.png
  data-explorer/media/ingest-data-event-hub/system-assigned.png
  data-explorer/media/ingest-data-event-hub/user-assigned-identity.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#804 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/dashboard-parameters.md
  data-explorer/kusto/concepts/index.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/index.md
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/tutorial.md
  data-explorer/media/adx-dashboards/add-visual.png
  data-explorer/media/adx-dashboards/data-source-pane.png
  data-explorer/media/adx-dashboards/data-source.png
  data-explorer/media/adx-dashboards/empty-dashboard-new-query.png
  data-explorer/media/adx-dashboards/initial-query.png
  data-explorer/media/adx-dashboards/new-dashboard.png
  data-explorer/media/adx-dashboards/parameter-pane.png
  data-explorer/media/adx-dashboards/parameter-query.png
  data-explorer/media/adx-dashboards/parameters.png
  data-explorer/media/adx-dashboards/save-dashboard.png
  data-explorer/toc.yml
  data-explorer/zone-pivot-groups.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#806 Repo sync for protected CLA branch
  data-explorer/kusto/management/request-rate-limit-policy.md
Labels: do-not-merge, CLA

#807 Repo sync for protected CLA branch
  data-explorer/kusto/query/samples.md
  data-explorer/kusto/query/schema-entities/index.md
  data-explorer/kusto/query/schema-entities/views.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/tutorial.md
  data-explorer/zone-pivot-groups.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#811 Repo sync for protected CLA branch
  data-explorer/ingest-data-no-code.md
  data-explorer/kusto/management/capacitypolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#812 Add double backslash for meta-character uses in regex docs
  data-explorer/kusto/query/re2-library.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#814 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/pair-probabilities-fl.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
  data-explorer/kusto/query/projectreorderoperator.md
  data-explorer/kusto/query/strlenfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#815 Repo sync for protected CLA branch
  data-explorer/business-continuity-create-solution.md
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/data-factory-command-activity.md
  data-explorer/data-factory-integration.md
  data-explorer/database-table-policies-csharp.md
  data-explorer/database-table-policies-python.md
  data-explorer/kusto/management/cachepolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#818 Repo sync for protected CLA branch
  data-explorer/dealing-with-duplicates.md
  data-explorer/kusto/management/data-export/export-data-to-sql.md
  data-explorer/kusto/management/streamingingestionpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#813 in the same region or subscription?
  data-explorer/security.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#820 Repo sync for protected CLA branch
  data-explorer/kusto/query/base64-decode-toguid-function.md
  data-explorer/kusto/query/base64-encode-fromguid-function.md
  data-explorer/kusto/query/has-any-index-function.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#823 Repo sync for protected CLA branch
  data-explorer/kusto/management/updatepolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#825 Repo sync for protected CLA branch
  data-explorer/kusto/query/extractjsonfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#826 Repo sync for protected CLA branch
  data-explorer/kusto/query/percentile-array-tdigestfunction.md
  data-explorer/kusto/query/percentile-tdigestfunction.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#827 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-no-code.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#828 Fix Typo
  data-explorer/kusto/query/index.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#834 Repo sync for protected CLA branch
  data-explorer/database-script.md
  data-explorer/kusto/tools/kusto-explorer-shortcuts.md
  data-explorer/media/web-query-data/column-chart.png
  data-explorer/media/web-query-data/help-cluster.png
  data-explorer/media/web-query-data/hide-empty-columns.png
  data-explorer/media/web-query-data/query-time-utc.png
  data-explorer/media/web-query-data/result-set-project.png
  data-explorer/media/web-query-data/result-set-take-10.png
  data-explorer/media/web-query-data/time-zone.png
  data-explorer/media/web-query-data/webui-take10.png
  data-explorer/web-query-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#822 Update ingest-data-iot-hub.md
  data-explorer/ingest-data-iot-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#821 Add docs about PBI Connector ClientRequestIdPrefix option
  data-explorer/power-bi-best-practices.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#833 Add TOC entry for iff()
  data-explorer/kusto/query/toc.yml
Labels: do-not-merge, review-team-triage, aq-pr-triaged

#830 Update create-cluster-database-powershell.md
  data-explorer/create-cluster-database-powershell.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#835 Repo sync for protected CLA branch
  data-explorer/business-continuity-create-solution.md
  data-explorer/external-table.md
  data-explorer/media/business-continuity-create-solution/active-hot-standby-scheme.png
  data-explorer/media/business-continuity-create-solution/data-sources-visualization.png
  data-explorer/media/business-continuity-create-solution/event-hub-management-scheme.png
  data-explorer/media/external-table/add-sas-url.png
  data-explorer/media/external-table/add-url-button.png
  data-explorer/media/external-table/container-verified.png
  data-explorer/media/external-table/file-filters.png
  data-explorer/media/external-table/schema-defining-file.png
  data-explorer/media/external-table/select-container.png
  data-explorer/media/select-container-window.png
  data-explorer/vnet-create-private-endpoint.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
