Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-06, with the labels that each got.

#699 Change column name "B" to "V" for consistency between examples
  data-explorer/kusto/query/dcount-aggfunction.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#704 Added additional example
  data-explorer/kusto/query/scalar-data-types/timespan.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#706 Repo sync for protected CLA branch
  data-explorer/includes/iot-hub-get-started-create-device-identity.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/kusto/concepts/sandboxes.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/request-rate-limit-policy.md
  data-explorer/kusto/query/extractallfunction.md
  data-explorer/kusto/query/geo-geohash-to-polygon-function.md
  data-explorer/kusto/query/geo-h3cell-to-central-point-function.md
  data-explorer/kusto/query/geo-h3cell-to-polygon-function.md
  data-explorer/kusto/query/geo-point-to-geohash-function.md
  data-explorer/kusto/query/geo-point-to-h3cell-function.md
  data-explorer/kusto/query/geo-point-to-s2cell-function.md
  data-explorer/kusto/query/geo-polygon-densify-function.md
  data-explorer/kusto/query/geo-s2cell-to-polygon-function.md
  data-explorer/kusto/query/geospatial-grid-systems.md
  data-explorer/kusto/query/mv-applyoperator.md
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/kusto/query/regexquotefunction.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#709 Update ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub-overview.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#714 Repo sync for protected CLA branch
  data-explorer/external-table.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/create-alter-continuous.md
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/externaltablefunction.md
  data-explorer/kusto/query/schema-entities/externaltables.md
  data-explorer/using-diagnostic-logs.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#707 Create data-explorer-iot-system-properties.md
  data-explorer/includes/data-explorer-iot-system-properties.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#708 Update ingest-data-iot-hub-overview.md
  data-explorer/ingest-data-iot-hub-overview.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#715 Update parseoperator.md
  data-explorer/kusto/query/parseoperator.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#712 Correct confusing column name fill_forward
  data-explorer/kusto/query/series-fill-backwardfunction.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#717 Repo sync for protected CLA branch
  data-explorer/database-script.md
  data-explorer/kusto/query/azure-digital-twins-query-request-plugin.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/images/azure-digital-twins-query-request-plugin/adt-anomaly.png
  data-explorer/kusto/query/images/azure-digital-twins-query-request-plugin/adt-twins.png
  data-explorer/kusto/query/toc.yml
  data-explorer/toc.yml
  data-explorer/vnet-create-private-endpoint.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#720 Grammar fix
  data-explorer/toc.yml
Labels: do-not-merge, review-team-triage

#722 Update topnestedoperator.md
  data-explorer/kusto/query/topnestedoperator.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, ready-to-merge

#724 Repo sync for protected CLA branch
  data-explorer/data-factory-integration.md
  data-explorer/database-script.md
  data-explorer/engine-v3.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/kusto/api/rest/response.md
  data-explorer/kusto/api/rest/response2.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-policies.md
  data-explorer/kusto/management/security-roles.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/array-sum-function.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayslicefunction.md
  data-explorer/kusto/query/arraysplitfunction.md
  data-explorer/kusto/query/countoffunction.md
  data-explorer/kusto/query/extractallfunction.md
  data-explorer/kusto/query/extractfunction.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/has-ipv4-prefix-function.md
  data-explorer/kusto/query/replacefunction.md
  data-explorer/kusto/query/rows-near-plugin.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/translatefunction.md
  data-explorer/kusto/query/trimendfunction.md
  data-explorer/kusto/query/trimfunction.md
  data-explorer/kusto/query/trimstartfunction.md
  data-explorer/using-metrics.md
Labels: CLA, do-not-merge

#728 Remove errant space
  data-explorer/kusto/query/parseoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge
