Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-10, with the labels that each got.

#837 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#838 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/queryconsistency.md
  data-explorer/kusto/management/query-consistency-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/management/workload-groups.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#840 Update searchoperator.md
  data-explorer/kusto/query/searchoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#843 Repo sync for protected CLA branch
  data-explorer/cluster-principal-csharp.md
  data-explorer/cluster-principal-python.md
  data-explorer/cluster-principal-resource-manager.md
  data-explorer/database-principal-python.md
  data-explorer/includes/data-explorer-e2e-event-grid-resource-template.md
  data-explorer/kusto/management/access-control/role-based-authorization.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/mappings.md
  data-explorer/manage-database-permissions.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#844 Typo "Azure dedicated host"→"Azure Dedicated Host"
  data-explorer/isolated-compute.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#847 Grammar
  data-explorer/kusto/query/projectoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#805 Update externaldata-operator.md
  data-explorer/kusto/query/externaldata-operator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#851 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/queryconsistency.md
  data-explorer/kusto/management/query-consistency-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#852 Repo sync for protected CLA branch
  data-explorer/kusto/query/parseoperator.md
  data-explorer/kusto/query/parsewhereoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#853 Minor grammar
  data-explorer/kusto/query/pythonplugin.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#858 minor typo fix for replace-extents.md
  data-explorer/kusto/management/replace-extents.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#860 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#866 Repo sync for protected CLA branch
  data-explorer/hot-windows.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#876 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/management/auto-delete-policy-command.md
  data-explorer/kusto/management/batching-policy.md
  data-explorer/kusto/management/cache-policy.md
  data-explorer/kusto/management/capacity-policy.md
  data-explorer/kusto/management/ingestiontime-policy.md
  data-explorer/kusto/management/merge-policy.md
  data-explorer/kusto/management/partitioning-policy.md
  data-explorer/kusto/management/request-classification-policy-commands.md
  data-explorer/kusto/management/restrictedviewaccess-policy.md
  data-explorer/kusto/management/retention-policy.md
  data-explorer/kusto/management/row-level-security-policy.md
  data-explorer/kusto/management/roworder-policy.md
  data-explorer/kusto/management/sandbox-policy.md
  data-explorer/kusto/management/sharding-policy.md
  data-explorer/kusto/management/streamingingestion-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/management/update-policy.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/query/current-principal-ismemberoffunction.md
  data-explorer/kusto/query/tutorial.md
Labels: do-not-merge, CLA
