Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-07, with the labels that each got.

#731 Add json example to clarify the usage of options
  data-explorer/kusto/api/netfx/request-properties.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#734 Repo sync for protected CLA branch
  data-explorer/context/context.yml
  data-explorer/database-script.md
  data-explorer/external-table.md
  data-explorer/high-concurrency.md
  data-explorer/index.yml
  data-explorer/ingestion-supported-formats.md
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/api/connection-strings/storage/copy-sas-token-and-url.png
  data-explorer/kusto/api/connection-strings/storage/generate-sas-storage-account.png
  data-explorer/kusto/api/connection-strings/storage/generate-sas-token-and-url.png
  data-explorer/kusto/api/index.md
  data-explorer/kusto/api/rest/index.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/functions-library/series-rate-fl.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/create-alter-continuous.md
  data-explorer/kusto/management/drop-external-table.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/materialized-views/materialized-view-policies.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/dynamic-to-json-function.md
  data-explorer/kusto/query/externaltablefunction.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/parsewhereoperator.md
  data-explorer/kusto/query/schema-entities/externaltables.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/using-metrics.md
  data-explorer/vnet-deploy-troubleshoot.md
  data-explorer/vnet-deployment.md
  data-explorer/whats-new.md
Labels: CLA

#736 fix: Grafana Link for installation details
  data-explorer/grafana.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#738 missing words
  data-explorer/kusto/api/tds/sqlknownissues.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#740 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/functions-library/binomial-test-fl.md
  data-explorer/kusto/management/alter-extent-tags-retention-policy.md
  data-explorer/kusto/management/delete-extent-tags-retention-policy.md
  data-explorer/kusto/management/extent-tags-retention-policy.md
  data-explorer/kusto/management/extents-overview.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/merge-extents.md
  data-explorer/kusto/management/merge-policy.md
  data-explorer/kusto/management/request-classification-policy-commands.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/request-rate-limits-enforcement-policy.md
  data-explorer/kusto/management/shardingpolicy.md
  data-explorer/kusto/management/show-extent-tags-retention-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/avg-aggfunction.md
  data-explorer/kusto/query/azure-digital-twins-query-request-plugin.md
  data-explorer/kusto/query/toc.yml
Labels: CLA, do-not-merge

#746 Fix PowerShell scripts
  data-explorer/follower.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge
