Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-01, with the labels that each got.

#525 Repo sync for protected CLA branch
  data-explorer/kusto/management/stored-query-results.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#529 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/data-factory-integration.md
  data-explorer/data-factory-load-data.md
  data-explorer/grafana.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/rolling-percentile-plugin.md
  data-explorer/media/grafana/query-optimization.png
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#530 Update mvexpandoperator.md
  data-explorer/kusto/query/mvexpandoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#533 Repo sync for protected CLA branch
  data-explorer/toc.yml
  data-explorer/using-diagnostic-logs.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#534 Repo sync for protected CLA branch
  data-explorer/kusto/management/cachepolicy.md
  data-explorer/kusto/management/partitioningpolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#535 Fix formatting issue of toUpper
  data-explorer/kusto/query/splunk-cheat-sheet.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#538 Repo sync for protected CLA branch
  data-explorer/kusto/management/mergepolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#539 Repo sync for protected CLA branch
  data-explorer/python-ingest-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#541 Repo sync for protected CLA branch
  data-explorer/kusto/api/tds/clients.md
  data-explorer/using-diagnostic-logs.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#540 Update using-diagnostic-logs.md
  data-explorer/using-diagnostic-logs.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#543 Repo sync for protected CLA branch
  data-explorer/using-diagnostic-logs.md
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#545 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/kusto/concepts/crossclusterandschemachanges.md
  data-explorer/kusto/management/access-control/role-based-authorization.md
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
  data-explorer/security-baseline.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#547 (AzureCXP) MicrosoftDocs/azure-docs#546
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#550 Repo sync for protected CLA branch
  data-explorer/policy-reference.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#551 Repo sync for protected CLA branch
  data-explorer/kusto/management/queries.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#552 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#554 Misuse of word "refine"
  data-explorer/kusto/query/unionoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#555 Repo sync for protected CLA branch
  .whatsnew.json
  data-explorer/kusto/query/datatypes-string-operators.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#558 Repo sync for protected CLA branch
  data-explorer/kusto/management/clean-extent-containers.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#556 Remove an "h" before the StormEvents URL
  data-explorer/ingest-sample-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#557 Update customer-managed-keys-csharp.md
  data-explorer/customer-managed-keys-csharp.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#561 Repo sync for protected CLA branch
  data-explorer/web-query-data.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#559 Optional key version
  data-explorer/customer-managed-keys-portal.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#564 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/databasecursor.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#565 Repo sync for protected CLA branch
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/ingest-data-event-grid-manual.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/media/ingest-data-event-grid/rename-blob-in-the-portal.png
  data-explorer/python-ingest-data.md
Labels: CLA, do-not-merge

#567 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/databasecursor.md
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/materialized-views/materialized-view-alter.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#568 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/management/commands-and-queries.md
  data-explorer/kusto/management/commands.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/management/query-throttling-policy-commands.md
  data-explorer/kusto/management/query-throttling-policy.md
  data-explorer/kusto/management/request-classification-policy-commands.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/request-rate-limit-policy.md
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/management/workload-groups.md
  data-explorer/security.md
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#569 Repo sync for protected CLA branch
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/security-baseline.md
  data-explorer/security.md
  data-explorer/toc.yml
Labels: CLA, do-not-merge

#570 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/predict-onnx-fl.md
  data-explorer/policy-reference.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#572 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
  data-explorer/kusto/management/workload-groups-commands.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/kusto/query/todynamicfunction.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#571 Fix syntax mistake
  data-explorer/kusto/management/show-ingestion-mapping-command.md
Labels: Change sent to author, aq-pr-triaged, data-explorer/svc, do-not-merge

#577 Repo sync for protected CLA branch
  data-explorer/kusto/query/forkoperator.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#579 Repo sync for protected CLA branch
  data-explorer/kusto/management/cachepolicy.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#580 Repo sync for protected CLA branch
  data-explorer/security-controls-policy.md
  data-explorer/toc.yml
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#581 Fixing '`' location for lookup
  data-explorer/kusto/query/lookupoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge
