Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-08, with the labels that each got.

#756 External table SAS and key options
  data-explorer/external-table.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#759 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/includes/data-explorer-limits.md
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/query/pythonplugin.md
Labels: CLA, Change sent to author, data-explorer/svc, do-not-merge

#761 Repo sync for protected CLA branch
  .github/workflows/stale.yml
  data-explorer/kusto/api/netfx/about-the-sdk.md
  data-explorer/kusto/query/arg-max-aggfunction.md
  data-explorer/kusto/query/arg-min-aggfunction.md
  data-explorer/kusto/query/avg-aggfunction.md
  data-explorer/kusto/query/avgif-aggfunction.md
  data-explorer/kusto/query/binary-all-and-aggfunction.md
  data-explorer/kusto/query/binary-all-or-aggfunction.md
  data-explorer/kusto/query/binary-all-xor-aggfunction.md
  data-explorer/kusto/query/buildschema-aggfunction.md
  data-explorer/kusto/query/count-aggfunction.md
  data-explorer/kusto/query/countif-aggfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/kusto/query/dcountif-aggfunction.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/make-bag-aggfunction.md
  data-explorer/kusto/query/make-bag-if-aggfunction.md
  data-explorer/kusto/query/make-list-with-nulls-aggfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/makelistif-aggfunction.md
  data-explorer/kusto/query/makeset-aggfunction.md
  data-explorer/kusto/query/makesetif-aggfunction.md
  data-explorer/kusto/query/max-aggfunction.md
  data-explorer/kusto/query/maxif-aggfunction.md
  data-explorer/kusto/query/min-aggfunction.md
  data-explorer/kusto/query/minif-aggfunction.md
  data-explorer/kusto/query/percentiles-aggfunction.md
  data-explorer/kusto/query/renderoperator.md
  data-explorer/kusto/query/stdev-aggfunction.md
  data-explorer/kusto/query/stdevif-aggfunction.md
  data-explorer/kusto/query/stdevp-aggfunction.md
  data-explorer/kusto/query/sum-aggfunction.md
  data-explorer/kusto/query/sumif-aggfunction.md
  data-explorer/kusto/query/take-any-aggfunction.md
  data-explorer/kusto/query/take-anyif-aggfunction.md
  data-explorer/kusto/query/tdigest-aggfunction.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
  data-explorer/kusto/query/variance-aggfunction.md
  data-explorer/kusto/query/varianceif-aggfunction.md
  data-explorer/kusto/query/variancep-aggfunction.md
Labels: CLA, do-not-merge

#760 Fixed column name in example for series_fill_backward Kusto function
  data-explorer/kusto/query/series-fill-backwardfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#763 Repo sync for protected CLA branch
  data-explorer/index.yml
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/request-rate-limit-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#765 Repo sync for protected CLA branch
  data-explorer/dealing-with-duplicates.md
  data-explorer/kusto/management/alter-docstring-function.md
  data-explorer/kusto/management/alter-merge-table-column.md
  data-explorer/kusto/management/alter-merge-table-command.md
  data-explorer/kusto/management/alter-table-docstring-command.md
  data-explorer/kusto/management/materialized-views/materialized-view-alter-docstring.md
  data-explorer/kusto/management/materialized-views/materialized-view-policies.md
  data-explorer/kusto/management/materialized-views/materialized-view-purge.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#766 Repo sync for protected CLA branch
  data-explorer/end-to-end-python.md
  data-explorer/kusto/query/series-firfunction.md
  data-explorer/kusto/query/series-iirfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#767 Repo sync for protected CLA branch
  data-explorer/business-continuity-overview.md
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/indexoffunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#768 Repo sync for protected CLA branch
  data-explorer/error-codes.md
  data-explorer/kusto/functions-library/factorial-fl.md
  data-explorer/using-metrics.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#770 Repo sync for protected CLA branch
  data-explorer/database-script.md
  data-explorer/query-monitor-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#773 Repo sync for protected CLA branch
  data-explorer/kusto/management/databases.md
  data-explorer/kusto/management/execute-database-script.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/series-powfunction.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#774 Repo sync for protected CLA branch
  data-explorer/generate-lightingest-command.md
  data-explorer/kusto/concepts/queryconsistency.md
  data-explorer/kusto/management/alter-query-weak-consistency-policy.md
  data-explorer/kusto/management/query-weak-consistency-policy.md
  data-explorer/kusto/management/show-query-weak-consistency-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/aggregation-functions.md
  data-explorer/kusto/query/materialized-view-function.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/lightingest.md
  data-explorer/media/generate-lightingest-command/data-tab.png
  data-explorer/media/generate-lightingest-command/filter-data-lightingest.png
  data-explorer/media/generate-lightingest-command/ingest-new-data.png
  data-explorer/media/generate-lightingest-command/schema-tab-lightingest.png
  data-explorer/media/generate-lightingest-command/source-tab-container-from-subscription.png
  data-explorer/media/generate-lightingest-command/source-tab-lightingest.png
  data-explorer/media/generate-lightingest-command/summary-tab-copy-command.png
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#775 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/generate-lightingest-command.md
  data-explorer/kusto/management/policies.md
  data-explorer/kusto/query/base64_decode_tostringfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#776 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/kusto/management/request-limits-policy.md
  data-explorer/kusto/management/workload-groups-commands.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#777 Repo sync for protected CLA branch
  data-explorer/media/one-click-event-hub/data-ingestion-completed.png
  data-explorer/media/one-click-event-hub/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-event-hub/project-details.png
  data-explorer/one-click-event-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#778 Repo sync for protected CLA branch
  data-explorer/kusto/management/request-limits-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#781 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/query/query-results-cache.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#784 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/binomial-test-fl.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#787 Update customer-managed-keys-portal.md
  data-explorer/customer-managed-keys-portal.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#788 Repo sync for protected CLA branch
  data-explorer/kusto/query/has-anyoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#782 shoudn´t this be just value?
  data-explorer/includes/data-explorer-container-system-properties.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#790 Repo sync for protected CLA branch
  data-explorer/kusto/management/stored-query-results.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#795 Fix stdevp link
  data-explorer/kusto/query/stdev-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#801 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/pair-probabilities-fl.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/show-external-table-schema.md
  data-explorer/kusto/query/dayofyearfunction.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/manage-cluster-choose-sku.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
