Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2021-12, with the labels that each got.

#926 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/time-window-rolling-avg-fl.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#928 Repo sync for protected CLA branch
  data-explorer/kusto/query/toc.yml
  data-explorer/toc.yml
Labels: do-not-merge, review-team-triage, CLA

#930 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/management/request-limits-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#933 Repo sync for protected CLA branch
  data-explorer/kusto/api/rest/deeplink.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#934 Repo sync for protected CLA branch
  data-explorer/kusto/query/mv-applyoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#932 must not should be
  data-explorer/kusto/query/renderoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#936 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-auto-delete-policy-command.md
  data-explorer/kusto/management/alter-callout-policy-command.md
  data-explorer/kusto/management/alter-capacity-policy-command.md
  data-explorer/kusto/management/alter-cluster-cache-policy-command.md
  data-explorer/kusto/management/alter-cluster-policy-request-classification-command.md
  data-explorer/kusto/management/alter-cluster-sandbox-policy-command.md
  data-explorer/kusto/management/alter-database-cache-policy-command.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-database-merge-policy-command.md
  data-explorer/kusto/management/alter-database-retention-policy-command.md
  data-explorer/kusto/management/alter-database-sharding-policy-command.md
  data-explorer/kusto/management/alter-database-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-ingestion-mapping-command.md
  data-explorer/kusto/management/alter-ingestion-time-policy-command.md
  data-explorer/kusto/management/alter-managed-identity-policy-command.md
  data-explorer/kusto/management/alter-materialized-view-cache-policy-command.md
  data-explorer/kusto/management/alter-materialized-view-merge-policy-command.md
  data-explorer/kusto/management/alter-materialized-view-partitioning-policy-command.md
  data-explorer/kusto/management/alter-materialized-view-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-database-streaming-ingestion-policy-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#929 Update kusto-cli.md
  data-explorer/kusto/tools/kusto-cli.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#927 Update in-cs-operator.md
  data-explorer/kusto/query/in-cs-operator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#941 Repo sync for protected CLA branch
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/api/tds/clients.md
  data-explorer/kusto/query/join-timewindow.md
  data-explorer/managed-identities-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#943 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-sql-tables.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#944 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-merge-callout-policy-command.md
  data-explorer/kusto/management/alter-merge-capacity-policy-command.md
  data-explorer/kusto/management/alter-merge-cluster-policy-request-classification-command.md
  data-explorer/kusto/management/alter-merge-database-merge-policy-command.md
  data-explorer/kusto/management/alter-merge-database-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-database-sharding-policy-command.md
  data-explorer/kusto/management/alter-merge-database-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-merge-managed-identity-policy-command.md
  data-explorer/kusto/management/alter-merge-materialized-view-partitioning-policy-command.md
  data-explorer/kusto/management/alter-merge-materialized-view-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-table-merge-policy-command.md
  data-explorer/kusto/management/alter-merge-table-partitioning-policy-command.md
  data-explorer/kusto/management/alter-merge-table-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-table-row-order-policy-command.md
  data-explorer/kusto/management/alter-merge-table-sharding-policy-command.md
  data-explorer/kusto/management/alter-merge-table-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-merge-table-update-policy-command.md
  data-explorer/kusto/management/alter-merge-workload-group-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#945 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/materialized-views/materialized-view-overview.md
  data-explorer/kusto/query/best-practices.md
  data-explorer/kusto/query/parseurlfunction.md
Labels: CLA

#946 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/query/index.md
Labels: CLA

#948 Repo sync for protected CLA branch
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/concepts/data-soft-delete.md
  data-explorer/kusto/functions-library/time-window-rolling-avg-fl.md
  data-explorer/kusto/query/scan-operator.md
  data-explorer/vnet-create-cluster-portal.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#949 Repo sync for protected CLA branch
  data-explorer/data-explorer-overview.md
  data-explorer/external-table.md
  data-explorer/generate-lightingest-command.md
  data-explorer/ingest-data-one-click.md
  data-explorer/ingest-data-streaming.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/calloutpolicy.md
  data-explorer/kusto/management/delete-database-ingestion-batching-policy.md
  data-explorer/kusto/management/delete-table-ingestion-batching-policy.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/management/show-database-ingestion-batching-policy.md
  data-explorer/kusto/management/show-table-ingestion-batching-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/geo-distance-point-to-line-function.md
  data-explorer/kusto/query/geo-distance-point-to-polygon-function.md
  data-explorer/kusto/query/patternstatement.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/data-explorer-overview/decision-tree.png
  data-explorer/media/external-table/create-external-table.png
  data-explorer/media/external-table/ingest-new-data-database-menu.png
  data-explorer/media/ingest-data-one-click/data-management.png
  data-explorer/media/ingest-data-one-click/ingest-from-portal.png
  data-explorer/media/ingest-data-one-click/ingest-new-data-database-menu.png
  data-explorer/media/ingest-data-one-click/select-data-pane.png
  data-explorer/media/one-click-ingestion-existing-table/ingest-new-data-database-menu.png
  data-explorer/media/one-click-ingestion-existing-table/ingest-new-data.png
  data-explorer/media/one-click-ingestion-new-table/ingest-new-data-database-menu.png
  data-explorer/media/one-click-ingestion-new-table/ingest-new-data.png
  data-explorer/media/one-click-ingestion-new-table/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-ingestion-new-table/select-data-pane.png
  data-explorer/media/one-click-table/create-table.png
  data-explorer/media/one-click-table/select-create-new-table.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/one-click-table.md
  data-explorer/tableau.md
  data-explorer/tools-integrations-overview.md
Labels: do-not-merge, CLA

#952 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/k2bridge.md
  data-explorer/kusto/concepts/data-soft-delete.md
  data-explorer/kusto/management/operations.md
  data-explorer/media/define-trusted-external-tenants/trusted-external-tenants.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#955 Repo sync for protected CLA branch
  .acrolinx-config.edn
Labels: do-not-merge, review-team-triage, CLA

#957 Repo sync for protected CLA branch
  data-explorer/kusto/query/bag-unpackplugin.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#954 Removed comma from ARM sample template json
  data-explorer/create-cluster-database-resource-manager.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#958 Repo sync for protected CLA branch
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/scalar-data-types/string.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#960 Repo sync for protected CLA branch
  data-explorer/ingest-data-no-code.md
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/api/tds/clients.md
  data-explorer/kusto/concepts/queryconsistency.md
  data-explorer/kusto/management/access-control/role-based-authorization.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/query/bag-remove-keys-function.md
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/jsonpath.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#961 Repo sync for protected CLA branch
  data-explorer/kusto/query/contains-cs-operator.md
  data-explorer/kusto/query/contains-operator.md
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/has-all-operator.md
  data-explorer/kusto/query/has-any-index-function.md
  data-explorer/kusto/query/has-anyoperator.md
  data-explorer/kusto/query/has-cs-operator.md
  data-explorer/kusto/query/has-operator.md
  data-explorer/kusto/query/hashfunction.md
  data-explorer/kusto/query/hasprefix-cs-operator.md
  data-explorer/kusto/query/hasprefix-operator.md
  data-explorer/kusto/query/hassuffix-cs-operator.md
  data-explorer/kusto/query/hassuffix-operator.md
  data-explorer/kusto/query/not-contains-cs-operator.md
  data-explorer/kusto/query/not-contains-operator.md
  data-explorer/kusto/query/not-has-cs-operator.md
  data-explorer/kusto/query/not-has-operator.md
  data-explorer/kusto/query/not-hasprefix-cs-operator.md
  data-explorer/kusto/query/not-hasprefix-operator.md
  data-explorer/kusto/query/not-hassuffix-cs-operator.md
  data-explorer/kusto/query/not-hassuffix-operator.md
Labels: do-not-merge, CLA

#965 Repo sync for protected CLA branch
  data-explorer/dashboard-parameters.md
  data-explorer/kusto/management/operations.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/media/dashboard-parameters/cross-filter-menu.png
  data-explorer/media/dashboard-parameters/cross-filter-query.png
  data-explorer/media/dashboard-parameters/cross-filter-reset.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#966 Repo sync for protected CLA branch
  data-explorer/ingest-data-one-click.md
  data-explorer/ingest-data-overview.md
  data-explorer/ingest-sample-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#967 Update show-table-ingestion-batching-policy.md
  data-explorer/kusto/management/show-table-ingestion-batching-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#968 Repo sync for protected CLA branch
  data-explorer/ingest-sample-data.md
  data-explorer/kusto/query/scan-operator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#969 Repo sync for protected CLA branch
  data-explorer/includes/data-explorer-storm-events.md
  data-explorer/ingest-sample-data.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/node-ingest-data.md
  data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#970 Repo sync for protected CLA branch
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/query/batches.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/kusto/query/patternstatement.md
  data-explorer/kusto/query/queryparametersstatement.md
  data-explorer/kusto/query/restrictstatement.md
  data-explorer/kusto/query/scan-operator.md
  data-explorer/kusto/query/setstatement.md
  data-explorer/kusto/query/sqlcheatsheet.md
  data-explorer/kusto/query/statements.md
  data-explorer/kusto/query/tablefunction.md
  data-explorer/kusto/query/tabularexpressionstatements.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/toguidfunction.md
  data-explorer/kusto/query/toscalarfunction.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/kusto/query/unionoperator.md
  data-explorer/kusto/query/windowsfunctions.md
  data-explorer/monitor-with-resource-health.md
  data-explorer/write-queries.md
Labels: do-not-merge, CLA
