Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-05, with the labels that each got.

#1162 Repo sync for protected CLA branch
  data-explorer/ingest-data-managed-identity.md
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/images/plugin/sample-directory.png
  data-explorer/kusto/query/rplugin.md
  data-explorer/managed-identities-overview.md
  data-explorer/media/ingest-data-managed-identity/managed-identity-permissions-on-system-assigned.png
  data-explorer/media/ingest-data-managed-identity/system-managed-identity-details-expanded.png
  data-explorer/media/ingest-data-managed-identity/system-managed-identity-details-inline.png
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1163 Repo sync for protected CLA branch
  data-explorer/ingest-data-telegraf.md
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1165 Repo sync for protected CLA branch
  data-explorer/kusto/management/rename-column.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1166 Repo sync for protected CLA branch
  data-explorer/kusto/query/bag-has-key-function.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1167 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1169 Repo sync for protected CLA branch
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/database-table-policies-csharp.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1170 Repo sync for protected CLA branch
  data-explorer/kusto/api/connection-strings/kusto.md
  data-explorer/kusto/management/partitioningpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1168 Fix wrong link
  data-explorer/kusto/management/columns.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1173 Repo sync for protected CLA branch
  data-explorer/create-cluster-database-portal.md
  data-explorer/includes/data-explorer-one-click-ingestion-query-data.md
  data-explorer/lightingest.md
  data-explorer/sample-app-generator-one-click.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1174 Repo sync for protected CLA branch
  .whatsnew.json
  data-explorer/kusto/api/netfx/request-properties.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1175 Repo sync for protected CLA branch
  .whatsnew.json
Labels: do-not-merge, CLA

#1180 Repo sync for protected CLA branch
  data-explorer/kusto/query/format-ipv4-function.md
  data-explorer/kusto/query/format-ipv4-mask-function.md
  data-explorer/kusto/query/parse-ipv4-maskfunction.md
  data-explorer/kusto/query/parse-ipv4function.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1184 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1186 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
Labels: do-not-merge, CLA

#1187 Repo sync for protected CLA branch
  data-explorer/database-script.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1185 Minor edit
  data-explorer/ingest-data-iot-hub-overview.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1183 Add an example of AddTrustedHosts to the kusto.md
  data-explorer/kusto/api/connection-strings/kusto.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1191 Repo sync for protected CLA branch
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1192 Repo sync for protected CLA branch
  data-explorer/kusto/management/restrictedviewaccesspolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1193 Repo sync for protected CLA branch
  data-explorer/kusto/tools/kusto-cli.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1198 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1199 Repo sync for protected CLA branch
  .whatsnew.json
Labels: do-not-merge, review-team-triage, CLA

#1200 Repo sync for protected CLA branch
  data-explorer/data-explorer-insights.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/scalar-data-types/datetime.md
  data-explorer/language-extensions.md
  data-explorer/media/data-explorer-insights/cache-tab.png
  data-explorer/media/data-explorer-insights/cluster-boundaries.png
  data-explorer/media/data-explorer-insights/customize.png
  data-explorer/media/data-explorer-insights/enable-logs.png
  data-explorer/media/data-explorer-insights/gallery.png
  data-explorer/media/data-explorer-insights/ingestion-performance.png
  data-explorer/media/data-explorer-insights/insights-hub.png
  data-explorer/media/data-explorer-insights/key-metrics.png
  data-explorer/media/data-explorer-insights/overview.png
  data-explorer/media/data-explorer-insights/pin.png
  data-explorer/media/data-explorer-insights/query-performance.png
  data-explorer/media/data-explorer-insights/usage-2.png
  data-explorer/media/data-explorer-insights/usage.png
  data-explorer/media/language-extensions/configuration-disable-extension-trim.png
  data-explorer/media/language-extensions/configuration-enable-extension-trim.png
  data-explorer/media/language-extensions/configurations-disable-extension.png
  data-explorer/media/language-extensions/configurations-enable-extension.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1194 Update show-cluster-capacity-policy-command.md
  data-explorer/kusto/management/show-cluster-capacity-policy-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1201 Repo sync for protected CLA branch
  data-explorer/kusto/management/shardingpolicy.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1204 Repo sync for protected CLA branch
  data-explorer/kusto/query/aggregation-functions.md
  data-explorer/kusto/query/splunk-cheat-sheet.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/kusto/query/tutorial.md
  data-explorer/power-bi-connector.md
  data-explorer/power-bi-dynamic-m.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1209 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/kusto/management/data-ingestion/clear-schema-cache-command.md
  data-explorer/kusto/query/active-users-count-plugin.md
  data-explorer/kusto/query/activity-counts-metrics-plugin.md
  data-explorer/kusto/query/activity-engagement-plugin.md
  data-explorer/kusto/query/activity-metrics-plugin.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/arraylengthfunction.md
  data-explorer/kusto/query/arrayslicefunction.md
  data-explorer/kusto/query/asinfunction.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/kusto/query/assert-function.md
  data-explorer/kusto/query/atan2function.md
  data-explorer/kusto/query/atanfunction.md
  data-explorer/kusto/query/autoclusterplugin.md
  data-explorer/kusto/query/avg-aggfunction.md
  data-explorer/kusto/query/avgif-aggfunction.md
  data-explorer/kusto/query/bag-unpackplugin.md
  data-explorer/kusto/query/base64-decode-toguid-function.md
  data-explorer/kusto/query/base64-encode-fromguid-function.md
  data-explorer/kusto/query/base64_encode_fromarrayfunction.md
  data-explorer/kusto/query/base64_encode_tostringfunction.md
  data-explorer/kusto/query/basketplugin.md
  data-explorer/kusto/query/batches.md
  data-explorer/kusto/query/best-practices.md
  data-explorer/kusto/query/beta-cdffunction.md
  data-explorer/kusto/query/beta-invfunction.md
  data-explorer/kusto/query/beta-pdffunction.md
  data-explorer/kusto/query/betweenoperator.md
  data-explorer/kusto/query/bin-autofunction.md
  data-explorer/kusto/query/binary-andfunction.md
  data-explorer/kusto/query/binary-notfunction.md
  data-explorer/kusto/query/binary-orfunction.md
  data-explorer/kusto/query/binary-shift-leftfunction.md
  data-explorer/kusto/query/binary-shift-rightfunction.md
  data-explorer/kusto/query/binary-xorfunction.md
  data-explorer/kusto/query/binatfunction.md
  data-explorer/kusto/query/binfunction.md
  data-explorer/kusto/query/binoperators.md
  data-explorer/kusto/query/broadcastjoin.md
  data-explorer/kusto/query/buildschema-aggfunction.md
  data-explorer/kusto/query/countoffunction.md
  data-explorer/kusto/query/countoperator.md
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
  data-explorer/kusto/query/current-cluster-endpoint-function.md
  data-explorer/kusto/query/current-database-function.md
  data-explorer/kusto/query/current-principal-ismemberoffunction.md
  data-explorer/kusto/query/databasefunction.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/datetime-addfunction.md
  data-explorer/kusto/query/datetime-difffunction.md
  data-explorer/kusto/query/pivotplugin.md
  data-explorer/kusto/query/row-window-session-function.md
  data-explorer/kusto/query/sqlrequestplugin.md
Labels: do-not-merge, CLA
