Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-09, with the labels that each got.

#1380 Repo sync for protected CLA branch
  data-explorer/kusto/api/connection-strings/sql-authentication-methods.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1381 Repo sync for protected CLA branch
  data-explorer/start-for-free.md
  data-explorer/using-metrics.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1383 Repo sync for protected CLA branch
  data-explorer/generate-lightingest-command.md
  data-explorer/includes/data-explorer-ingestion-wizard-column-table.md
  data-explorer/includes/data-explorer-ingestion-wizard-command-editor.md
  data-explorer/includes/data-explorer-ingestion-wizard-query-data.md
  data-explorer/includes/data-explorer-one-click-command-editor.md
  data-explorer/includes/ingestion-wizard-cluster.md
  data-explorer/includes/media/data-explorer-ingestion-wizard-command-editor/edit-view.png
  data-explorer/includes/media/data-explorer-ingestion-wizard-types/from-container-with-filter.png
  data-explorer/includes/media/data-explorer-ingestion-wizard-types/from-container.png
  data-explorer/includes/media/data-explorer-ingestion-wizard-types/from-file.png
  data-explorer/includes/media/data-explorer-ingestion-wizard-types/from-storage-blob.png
  data-explorer/includes/media/ingestion-wizard-cluster/add-cluster-connection.png
  data-explorer/includes/media/ingestion-wizard-cluster/ingest-new-data.png
  data-explorer/includes/media/one-click-cluster/ingest-new-data.png
  data-explorer/includes/one-click-cluster.md
  data-explorer/ingest-data-wizard.md
  data-explorer/ingestion-wizard-existing-table.md
  data-explorer/ingestion-wizard-new-table.md
  data-explorer/sample-app-generator-wizard.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1384 Repo sync for protected CLA branch
  data-explorer/includes/kusto-emulator-limitations.md
  data-explorer/kusto-emulator-install.md
  data-explorer/kusto-emulator-overview.md
  data-explorer/media/kusto-emulator/kusto-emulator-architecture.png
  data-explorer/media/kusto-emulator/kusto-emulator-docker-windows-container.png
  data-explorer/toc.yml
  data-explorer/using-metrics.md
Labels: Change sent to author, do-not-merge, CLA, azure/svc

#1386 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/kusto/query/best-practices.md
  data-explorer/kusto/query/functions/user-defined-functions.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/kusto/query/toc.yml
  data-explorer/named-expressions.md
  data-explorer/security-network-private-endpoint-troubleshoot.md
Labels: CLA

#1387 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/create-cluster-database-cli.md
  data-explorer/create-cluster-database-csharp.md
  data-explorer/create-cluster-database-go.md
  data-explorer/create-cluster-database-powershell.md
  data-explorer/excel-blank-query.md
  data-explorer/ingest-data-wizard.md
  data-explorer/ingest-json-formats.md
  data-explorer/ingest-sample-data.md
  data-explorer/java-ingest-data.md
  data-explorer/kusto-emulator-install.md
  data-explorer/kusto/api/netfx/kusto-data-client-errors.md
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/net-sdk-ingest-data.md
  data-explorer/python-ingest-data.md
  data-explorer/sample-app-generator-wizard.md
  data-explorer/web-query-data.md
  data-explorer/whats-new.md
  data-explorer/write-queries.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1388 Repo sync for protected CLA branch
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
  data-explorer/kusto/query/tdigest-mergefunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1389 Repo sync for protected CLA branch
  data-explorer/kusto/management/security-roles.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1393 Repo sync for protected CLA branch
  data-explorer/create-table-wizard.md
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/data-explorer-insights.md
  data-explorer/generate-lightingest-command.md
  data-explorer/includes/azure-monitor-vs-log-analytics.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingestion-supported-formats.md
  data-explorer/kusto/api/images/load-test/jmeter-http-header-add.png
  data-explorer/kusto/api/images/load-test/jmeter-http-header-properties.png
  data-explorer/kusto/api/images/load-test/jmeter-http-request-add.png
  data-explorer/kusto/api/images/load-test/jmeter-http-request-properties.png
  data-explorer/kusto/api/images/load-test/jmeter-output-reports.png
  data-explorer/kusto/api/images/load-test/jmeter-results-tree.png
  data-explorer/kusto/api/images/load-test/jmeter-results.png
  data-explorer/kusto/api/images/load-test/jmeter-thread-group-add.png
  data-explorer/kusto/api/images/load-test/jmeter-thread-group-properties.png
  data-explorer/kusto/api/images/load-test/k6-results.png
  data-explorer/kusto/api/images/load-test/k6-run-config.png
  data-explorer/kusto/api/images/load-test/postman-bearer-token.png
  data-explorer/kusto/api/images/load-test/postman-header-config-1.png
  data-explorer/kusto/api/images/load-test/postman-header-config-2.png
  data-explorer/kusto/api/images/load-test/postman-request.png
  data-explorer/kusto/api/index.md
  data-explorer/kusto/api/load-test-cluster.md
  data-explorer/kusto/api/monaco/host-web-ux-in-iframe.md
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/query/mvexpandoperator.md
  data-explorer/kusto/query/splunk-cheat-sheet.md
  data-explorer/kusto/tools/kusto-explorer-using.md
  data-explorer/sample-app-generator-wizard.md
  data-explorer/start-for-free-upgrade.md
  data-explorer/start-for-free-web-ui.md
  data-explorer/tools-integrations-overview.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/web-ui-overview.md
Labels: do-not-merge, CLA

#1394 Correct curl alias to Invoke-WebRequest
  data-explorer/kusto-emulator-install.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1395 Repo sync for protected CLA branch
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/includes/data-connection-auth.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-json-formats.md
  data-explorer/ingestion-wizard-existing-table.md
  data-explorer/kusto-emulator-overview.md
  data-explorer/media/ingestion-wizard-existing-table/json-levels.png
  data-explorer/using-metrics.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1392 Update ingest-data-managed-identity.md
  data-explorer/ingest-data-managed-identity.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1401 Fix links
  data-explorer/ingest-data-telegraf.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1404 Fix app key place holder in code example
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1405 Repo sync for protected CLA branch
  data-explorer/cluster-principal-csharp.md
  data-explorer/cluster-principal-python.md
  data-explorer/cluster-principal-resource-manager.md
  data-explorer/create-table-wizard.md
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/data-connection-event-grid-resource-manager.md
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/data-explorer-overview.md
  data-explorer/database-principal-csharp.md
  data-explorer/database-principal-python.md
  data-explorer/database-script.md
  data-explorer/event-hub-wizard.md
  data-explorer/go-ingest-data.md
  data-explorer/includes/data-explorer-ingestion-wizard-column-table.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-overview.md
  data-explorer/ingest-data-wizard.md
  data-explorer/ingestion-wizard-existing-table.md
  data-explorer/ingestion-wizard-new-table.md
  data-explorer/kusto/api/index.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/management/mergepolicy.md
  data-explorer/language-extensions.md
  data-explorer/node-ingest-data.md
  data-explorer/power-bi-connector.md
  data-explorer/power-bi-dynamic-m.md
  data-explorer/sample-app-generator-wizard.md
  data-explorer/security-network-restrict-outbound-access.md
  data-explorer/start-for-free-upgrade.md
  data-explorer/start-for-free-web-ui.md
  data-explorer/stream-analytics-connector.md
  data-explorer/table-batching-policy-wizard.md
  data-explorer/table-retention-policy-wizard.md
  data-explorer/tableau.md
  data-explorer/tools-integrations-overview.md
  data-explorer/visualize-power-bi.md
  data-explorer/web-ui-overview.md
  data-explorer/whats-new-archive.md
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#1407 Repo sync for protected CLA branch
  data-explorer/includes/data-explorer-estimation-accuracy.md
  data-explorer/kusto/query/binary-all-and-aggfunction.md
  data-explorer/kusto/query/binary-all-or-aggfunction.md
  data-explorer/kusto/query/binary-all-xor-aggfunction.md
  data-explorer/kusto/query/count-aggfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/kusto/query/dcount-hllfunction.md
  data-explorer/kusto/query/dcountif-aggfunction.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/hllmergefunction.md
  data-explorer/kusto/query/make-bag-aggfunction.md
  data-explorer/kusto/query/make-bag-if-aggfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1406 Update dcount-aggfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1408 Repo sync for protected CLA branch
  data-explorer/cluster-principal-python.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-iot-hub-python.md
  data-explorer/database-principal-python.md
  data-explorer/database-table-policies-python.md
  data-explorer/end-to-end-python.md
  data-explorer/follower.md
  data-explorer/index.yml
  data-explorer/kusto/api/netfx/kusto-ingest-client-reference.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-status.md
  data-explorer/kusto/query/convert-temperature-function.md
  data-explorer/node-ingest-data.md
  data-explorer/python-ingest-data.md
  data-explorer/toc.yml
  data-explorer/web-ui-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1409 Repo sync for protected CLA branch
  data-explorer/event-hub-wizard.md
  data-explorer/generate-lightingest-command.md
  data-explorer/ingest-sample-data.md
  data-explorer/ingestion-wizard-existing-table.md
  data-explorer/media/event-hub-wizard/destination-tab.png
  data-explorer/media/event-hub-wizard/event-hub-schema.png
  data-explorer/media/generate-lightingest-command/ingest-new-data.png
  data-explorer/media/generate-lightingest-command/schema-tab-lightingest.png
  data-explorer/media/generate-lightingest-command/source-tab-lightingest.png
  data-explorer/media/ingest-sample-data/select-data.png
  data-explorer/media/ingest-sample-data/select-ingestion-cluster.png
  data-explorer/media/ingest-sample-data/specify-ingestion-source.png
  data-explorer/media/ingestion-wizard-existing-table/from-file.png
  data-explorer/media/ingestion-wizard-existing-table/json-levels.png
  data-explorer/media/ingestion-wizard-existing-table/keep-table-schema.png
  data-explorer/media/ingestion-wizard-existing-table/select-data.png
  data-explorer/media/ingestion-wizard-existing-table/start-ingestion.png
  data-explorer/media/ingestion-wizard-new-table/create-new-table.png
  data-explorer/media/ingestion-wizard-new-table/ingest-new-data-database-menu.png
  data-explorer/media/sample-app-generator-wizard/sample-app-generator-destination-tab.png
  data-explorer/media/sample-app-generator-wizard/sample-app-generator-sdks.png
  data-explorer/media/sample-app-generator-wizard/sample-app-generator-welcome.png
  data-explorer/sample-app-generator-wizard.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1410 Update security-network-managed-private-endpoint-create.md
  data-explorer/security-network-managed-private-endpoint-create.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1411 Fix typo: nuggets → NuGet (also slightly reword)
  data-explorer/follower.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1426 Repo sync for protected CLA branch
  data-explorer/ingest-data-logstash.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-merge-table-update-policy-command.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/management/show-database-streaming-ingestion-policy-command.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/proof-of-concept-playbook.md
  data-explorer/toc.yml
  data-explorer/web-ui-query-keyboard-shortcuts.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
