Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-02, with the labels that each got.

#1008 Update vnet-deployment.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1017 Repo sync for protected CLA branch
  data-explorer/automated-deploy-overview.md
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/customer-managed-keys-resource-manager.md
  data-explorer/includes/data-explorer-configure-customer-managed-keys.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/management/alter-managed-identity-policy-command.md
  data-explorer/kusto/management/alter-merge-managed-identity-policy-command.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/updatepolicy.md
  data-explorer/managed-identities-overview.md
  data-explorer/media/automated-deploy-overview/deployed-database.png
  data-explorer/media/automated-deploy-overview/devops-job.png
  data-explorer/media/automated-deploy-overview/flow-sample.png
  data-explorer/media/automated-deploy-overview/general-flow.png
  data-explorer/net-sdk-ingest-data.md
  data-explorer/security.md
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1019 Update helm install commands with correct tags
  data-explorer/k2bridge.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1016 Fix grammar
  data-explorer/using-metrics.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1020 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-lag-fl/series-lag-1-day.png
  data-explorer/kusto/functions-library/series-lag-fl.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1021 Repo sync for protected CLA branch
  data-explorer/delete-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1023 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-column-docstrings.md
  data-explorer/kusto/management/alter-column.md
  data-explorer/kusto/management/alter-merge-table-column.md
  data-explorer/kusto/query/joinoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1027 Repo sync for protected CLA branch
  data-explorer/go-ingest-data.md
  data-explorer/ingest-sample-data.md
  data-explorer/java-ingest-data.md
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/alter-column-docstrings.md
  data-explorer/kusto/management/alter-merge-table-column.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/query/geo-line-centroid-function.md
  data-explorer/kusto/query/geo-line-length-function.md
  data-explorer/kusto/query/geo-polygon-perimeter-function.md
  data-explorer/kusto/query/geo-union-polygons-array-function.md
  data-explorer/kusto/query/images/geo-line-centroid-function/nyc-central-park-centroid.png
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/node-ingest-data.md
  data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1028 Repo sync for protected CLA branch
  data-explorer/business-continuity-create-solution.md
  data-explorer/kusto/api/connection-strings/storage-authentication-methods.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1029 Repo sync for protected CLA branch
  data-explorer/auto-stop-clusters.md
  data-explorer/create-cluster-database-cli.md
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/kusto/api/netfx/about-kusto-ingest.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-rest.md
  data-explorer/kusto/management/access-control/aad.md
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1033 Repo sync for protected CLA branch
  data-explorer/business-continuity-create-solution.md
  data-explorer/business-continuity-overview.md
  data-explorer/includes/ingestion-properties-event-grid.md
  data-explorer/ingest-sample-data.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/hash-xxhash64-function.md
  data-explorer/kusto/query/joinoperator.md
  data-explorer/kusto/query/packfunction.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/splunk-cheat-sheet.md
  data-explorer/kusto/query/toc.yml
  data-explorer/net-sdk-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1034 Fix code type (from kusto to csharp).
  data-explorer/net-sdk-ingest-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1038 Repo sync for protected CLA branch
  data-explorer/kusto/api/python/kusto-python-client-library.md
Labels: do-not-merge, CLA

#1041 Repo sync for protected CLA branch
  data-explorer/kusto/query/packallfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1048 Repo sync for protected CLA branch
  data-explorer/error-codes.md
  data-explorer/includes/event-hub-system-mapping.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/kusto/management/alter-query-weak-consistency-policy.md
  data-explorer/kusto/management/alter-table-restricted-view-access-policy-command.md
  data-explorer/kusto/management/delete-table-restricted-view-access-policy-command.md
  data-explorer/kusto/management/show-table-restricted-view-access-policy-command.md
  data-explorer/vnet-deploy-troubleshoot.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1049 Update entity-names.md
  data-explorer/kusto/query/schema-entities/entity-names.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1047 Update partitioningpolicy.md
  data-explorer/kusto/management/partitioningpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1050 Update columns.md
  data-explorer/kusto/query/schema-entities/columns.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1046 typo ("no" isn't of "not")
  data-explorer/kusto/management/index.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1053 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/request-properties.md
  data-explorer/kusto/query/funnel-sequence-completion-plugin.md
Labels: do-not-merge, CLA

#1055 Repo sync for protected CLA branch
  data-explorer/error-codes.md
  data-explorer/high-concurrency.md
  data-explorer/kusto/concepts/queryconsistency.md
  data-explorer/kusto/management/query-consistency-policy.md
  data-explorer/kusto/management/stored-query-results.md
Labels: do-not-merge, CLA

#1058 Repo sync for protected CLA branch
  data-explorer/ingestion-supported-formats.md
  data-explorer/kusto/query/parseurlqueryfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1059 Repo sync for protected CLA branch
  data-explorer/dealing-with-duplicates.md
  data-explorer/index.yml
  data-explorer/kusto/concepts/data-soft-delete.md
  data-explorer/start-for-free.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1060 Repo sync for protected CLA branch
  data-explorer/devops.md
Labels: do-not-merge, CLA
