Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-03, with the labels that each got.

#1063 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/data-share.md
  data-explorer/follower.md
  data-explorer/includes/iot-hub-include-create-hub.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-errors.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-reference.md
  data-explorer/kusto/concepts/cross-cluster-and-schema-changes.md
  data-explorer/kusto/concepts/crossclusterandschemachanges.md
  data-explorer/kusto/management/alter-materialized-view-retention-policy-command.md
  data-explorer/kusto/management/clear-cross-cluster-schema-cache.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/management/show-table-update-policy-command.md
  data-explorer/kusto/management/stored-query-results.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
  data-explorer/kusto/query/renderoperator.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/follower/template-deployment-tls.png
  data-explorer/solution-architectures.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1064 Repo sync for protected CLA branch
  data-explorer/data-share.md
  data-explorer/ingest-data-kafka.md
  data-explorer/kusto/api/connection-strings/kusto.md
  data-explorer/media/start-for-free-web-ui/start-for-free-create-cluster-dialog.png
  data-explorer/media/start-for-free-web-ui/start-for-free-create-cluster.png
  data-explorer/media/start-for-free-web-ui/start-for-free-create-database.png
  data-explorer/media/start-for-free-web-ui/start-for-free-overview-page.png
  data-explorer/start-for-free-web-ui.md
  data-explorer/start-for-free.md
  data-explorer/toc.yml
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1066 Repo sync for protected CLA branch
  data-explorer/data-connection-event-hub-python.md
  data-explorer/start-for-free-web-ui.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1075 Update power-bi-imported-query.md
  data-explorer/power-bi-imported-query.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1090 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-query-weak-consistency-policy.md
  data-explorer/kusto/management/query-weak-consistency-policy.md
  data-explorer/kusto/management/show-query-weak-consistency-policy.md
  data-explorer/kusto/query/datatypes-string-operators.md
Labels: do-not-merge, CLA

#1091 Removing rogue single quote
  data-explorer/one-click-table.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1088 Update parameter from "_ event" to "_event"
  data-explorer/dashboard-parameters.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1089 Update error-codes.md
  data-explorer/error-codes.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, review-team-triage, aq-pr-triaged

#1107 Repo sync for protected CLA branch
  data-explorer/auto-stop-clusters.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/isolated-compute.md
  data-explorer/kusto/query/ingestiontimefunction.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/media/conditional-access/configure-assign-user.png
  data-explorer/media/conditional-access/configure-enforce-mfa.png
  data-explorer/media/conditional-access/configure-grant-access.png
  data-explorer/media/conditional-access/configure-select-apps.png
  data-explorer/media/conditional-access/configure-select-conditional-access.png
  data-explorer/media/conditional-access/configure-select-conditions.png
  data-explorer/media/conditional-access/configure-test-policy.png
  data-explorer/security-conditional-access.md
  data-explorer/toc.yml
  data-explorer/troubleshoot-database-table.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1110 Repo sync for protected CLA branch
  data-explorer/automated-deploy-overview.md
  data-explorer/kusto/management/access-control/aad.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1111 Repo sync for protected CLA branch
  data-explorer/kusto/query/mysqlrequest-plugin.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1116 Repo sync for protected CLA branch
  data-explorer/kusto/query/reduceoperator.md
  data-explorer/kusto/query/scalar-data-types/index.md
  data-explorer/kusto/query/sumif-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1114 Use lower case k for kustoDatabase
  data-explorer/ingest-data-event-grid-overview.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1120 Repo sync for protected CLA branch
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/manage-database-permissions.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1123 Repo sync for protected CLA branch
  data-explorer/kusto/query/abs-function.md
  data-explorer/kusto/query/acosfunction.md
  data-explorer/kusto/query/active-users-count-plugin.md
  data-explorer/kusto/query/activity-counts-metrics-plugin.md
  data-explorer/kusto/query/activity-engagement-plugin.md
  data-explorer/kusto/query/activity-metrics-plugin.md
  data-explorer/kusto/query/aggregation-functions.md
  data-explorer/kusto/query/arg-max-aggfunction.md
  data-explorer/kusto/query/arg-min-aggfunction.md
  data-explorer/kusto/query/around-function.md
  data-explorer/kusto/query/array-sum-function.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayconcatfunction.md
  data-explorer/kusto/query/arrayifffunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
