Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-07, with the labels that each got.

#1277 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-extent.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1278 Repo sync for protected CLA branch
  data-explorer/kusto/management/queries.md
  data-explorer/kusto/query/partitionoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1279 Repo sync for protected CLA branch
  data-explorer/index.yml
  data-explorer/kusto/api/connection-strings/storage-authentication-methods.md
  data-explorer/kusto/api/connection-strings/storage-connection-strings.md
  data-explorer/kusto/api/rest/authentication.md
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
  data-explorer/kusto/query/bag-has-key-function.md
  data-explorer/kusto/query/bag-remove-keys-function.md
  data-explorer/kusto/query/invokeoperator.md
  data-explorer/solution-architectures.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1282 Repo sync for protected CLA branch
  data-explorer/one-click-table-batching-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1283 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/data-export/index.md
  data-explorer/kusto/query/renderoperator.md
  data-explorer/kusto/query/scan-operator.md
  data-explorer/kusto/query/schema-entities/externaltables.md
  data-explorer/sample-app-generator-one-click.md
  data-explorer/security-conditional-access.md
  data-explorer/security-network-restrict-outbound-access.md
  data-explorer/start-for-free.md
  data-explorer/tools-integrations-overview.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1284 Repo sync for protected CLA branch
  data-explorer/kusto/management/batchingpolicy.md
Labels: do-not-merge, CLA

#1287 Repo sync for protected CLA branch
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/move-extents.md
Labels: do-not-merge, CLA

#1290 Repo sync for protected CLA branch
  data-explorer/stream-analytics-connector.md
Labels: do-not-merge, CLA

#1286 Fix list formatting of arguments in alter-ingestion-mapping-command.md
  data-explorer/kusto/management/alter-ingestion-mapping-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1292 Repo sync for protected CLA branch
  data-explorer/kusto/query/makestringfunction.md
  data-explorer/kusto/query/rangefunction.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1297 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/kusto/query/ifffunction.md
  data-explorer/kusto/query/makestringfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1299 Repo sync for protected CLA branch
  data-explorer/kusto/management/request-limits-policy.md
Labels: do-not-merge, CLA

#1305 Repo sync for protected CLA branch
  data-explorer/error-codes.md
Labels: do-not-merge, CLA

#1306 Repo sync for protected CLA branch
  data-explorer/includes/ingestion-properties.md
  data-explorer/ingestion-properties.md
  data-explorer/kusto/api/connection-strings/sql-authentication-methods.md
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/management/data-ingestion/ingest-from-storage.md
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/query/best-practices.md
  data-explorer/kusto/query/searchoperator.md
  data-explorer/media/start-for-free-upgrade/start-for-free-upgrade-cluster-details.png
  data-explorer/media/start-for-free-upgrade/start-for-free-upgrade-cluster.png
  data-explorer/start-for-free-upgrade.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1307 Update managed-identities-overview.md
  data-explorer/managed-identities-overview.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1308 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/python-ingest-data.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1317 Repo sync for protected CLA branch
  data-explorer/includes/data-explorer-agg-function-summarize-note.md
  data-explorer/kusto/management/create-ingestion-mapping-command.md
  data-explorer/kusto/query/arg-max-aggfunction.md
  data-explorer/kusto/query/arg-min-aggfunction.md
  data-explorer/kusto/query/avg-aggfunction.md
  data-explorer/kusto/query/convert-angle-function.md
  data-explorer/kusto/query/convert-energy-function.md
  data-explorer/kusto/query/convert-force-function.md
  data-explorer/kusto/query/convert-length-function.md
  data-explorer/kusto/query/convert-mass-function.md
  data-explorer/kusto/query/convert-speed-function.md
  data-explorer/kusto/query/convert-temperature-function.md
  data-explorer/kusto/query/convert-volume-function.md
  data-explorer/kusto/query/max-aggfunction.md
  data-explorer/kusto/query/min-aggfunction.md
  data-explorer/kusto/query/parse-kv-operator.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/sum-aggfunction.md
  data-explorer/kusto/query/toc.yml
Labels: do-not-merge, CLA

#1319 Repo sync for protected CLA branch
  data-explorer/context/context.yml
Labels: do-not-merge, review-team-triage, CLA

#1323 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-iot-hub-overview.md
  data-explorer/ingest-data-overview.md
  data-explorer/kusto/management/index.md
  data-explorer/kusto/query/getschemaoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1314 Update node-ingest to support latest version
  data-explorer/node-ingest-data.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1326 Repo sync for protected CLA branch
  data-explorer/ingest-data-one-click.md
  data-explorer/kusto/query/scan-operator.md
  data-explorer/one-click-event-hub.md
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/one-click-table-batching-policy.md
  data-explorer/one-click-table-retention-policy.md
  data-explorer/one-click-table.md
  data-explorer/sample-app-generator-one-click.md
Labels: do-not-merge, CLA

#1321 Update ingest-data-event-hub.md
  data-explorer/ingest-data-event-hub.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1328 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/rename-column.md
  data-explorer/kusto/query/http-request-plugin.md
  data-explorer/kusto/query/sqlcheatsheet.md
  data-explorer/kusto/tools/kusto-explorer.md
  data-explorer/one-click-table-batching-policy.md
  data-explorer/start-for-free.md
Labels: do-not-merge, CLA

#1327 fix links to python azure kusto sdks
  data-explorer/kusto/api/client-libraries.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1330 Repo sync for protected CLA branch
  data-explorer/kusto/query/cross-cluster-or-database-queries.md
Labels: do-not-merge, CLA

#1332 Remove dup word
  data-explorer/kusto/query/schema-entities/entity-names.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1334 Repo sync for protected CLA branch
  data-explorer/python-ingest-data.md
Labels: do-not-merge, CLA
