Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-01, with the labels that each got.

#972 Repo sync for protected CLA branch
  data-explorer/kusto/query/joinoperator.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/partitionoperator.md
  data-explorer/kusto/query/scan-operator.md
  data-explorer/kusto/query/shufflequery.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#974 Repo sync for protected CLA branch
  data-explorer/business-continuity-create-solution.md
  data-explorer/create-cluster-database-portal.md
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/data-connection-event-grid-resource-manager.md
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-event-hub-python.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/database-principal-resource-manager.md
  data-explorer/end-to-end-csharp.md
  data-explorer/end-to-end-python.md
  data-explorer/includes/data-connector-intro.md
  data-explorer/includes/data-explorer-one-click-manage-database.md
  data-explorer/includes/ingest-data-streaming-types.md
  data-explorer/index.yml
  data-explorer/ingest-data-event-grid-manual.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-no-code.md
  data-explorer/ingest-data-overview.md
  data-explorer/managed-identities-overview.md
  data-explorer/media/one-click-manage-database/create-new-database.png
  data-explorer/media/one-click-manage-database/run-basic-query.png
  data-explorer/media/one-click-manage-database/select-manage-database.png
  data-explorer/monitor-batching-ingestion.md
  data-explorer/one-click-event-hub.md
  data-explorer/one-click-manage-database.md
  data-explorer/toc.yml
  data-explorer/tools-integrations-overview.md
  data-explorer/using-diagnostic-logs.md
  data-explorer/using-metrics.md
  data-explorer/vnet-create-cluster-portal.md
  data-explorer/vnet-deployment.md
  data-explorer/vnet-endpoint-storage-event-hub.md
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#971 Update output for the query example
  data-explorer/kusto/query/index.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#975 Repo sync for protected CLA branch
  data-explorer/kusto/management/diagnostics.md
  data-explorer/kusto/management/partitioningpolicy.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/one-click-event-hub/event-hub-schema.png
  data-explorer/one-click-event-hub.md
  data-explorer/time-series-analysis.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#976 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#977 Repo sync for protected CLA branch
  data-explorer/includes/gdpr-intro-sentence.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-json-formats.md
  data-explorer/kusto/functions-library/time-weighted-avg-fl.md
  data-explorer/kusto/management/show-database.md
Labels: do-not-merge, CLA

#980 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-auto-delete-policy-command.md
  data-explorer/kusto/management/alter-callout-policy-command.md
  data-explorer/kusto/management/alter-capacity-policy-command.md
  data-explorer/kusto/management/alter-cluster-cache-policy-command.md
  data-explorer/kusto/management/alter-cluster-policy-request-classification-command.md
  data-explorer/kusto/management/alter-cluster-sandbox-policy-command.md
  data-explorer/kusto/management/alter-database-cache-policy-command.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-database-merge-policy-command.md
  data-explorer/kusto/management/alter-database-retention-policy-command.md
  data-explorer/kusto/management/alter-database-sharding-policy-command.md
  data-explorer/kusto/management/alter-database-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-extent-tags-retention-policy.md
  data-explorer/kusto/management/alter-materialized-view-cache-policy-command.md
  data-explorer/kusto/management/alter-merge-cluster-policy-request-classification-command.md
  data-explorer/kusto/management/alter-table-cache-policy-command.md
  data-explorer/kusto/management/alter-table-extent-tags-retention-policy.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-merge-policy-command.md
  data-explorer/kusto/management/alter-table-partitioning-policy-command.md
  data-explorer/kusto/management/alter-table-retention-policy-command.md
  data-explorer/kusto/management/alter-table-row-level-security-policy-command.md
  data-explorer/kusto/management/alter-table-row-order-policy-command.md
  data-explorer/kusto/management/alter-table-sharding-policy-command.md
  data-explorer/kusto/management/alter-table-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/evaluateoperator.md
  data-explorer/kusto/query/machine-learning-and-tsa.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/one-click-table-policies/batch-policy-success.png
  data-explorer/media/one-click-table-policies/one-click-batch-policy-start.png
  data-explorer/media/one-click-table-policies/one-click-retention-policy-1.png
  data-explorer/media/one-click-table-policies/one-click-retention-policy-start.png
  data-explorer/media/one-click-table-policies/one-click-retention.png
  data-explorer/media/one-click-table-policies/one-click-table-retention-policy-finished.png
  data-explorer/media/one-click-table-policies/table-batch-policy-update.png
  data-explorer/media/power-bi-dynamic-m/bind-parameter.png
  data-explorer/media/power-bi-dynamic-m/cluster-database-table.png
  data-explorer/media/power-bi-dynamic-m/connect-with-import.png
  data-explorer/media/power-bi-dynamic-m/get-data-more.png
  data-explorer/media/power-bi-dynamic-m/multiple-select.png
  data-explorer/media/power-bi-dynamic-m/new-parameter.png
  data-explorer/media/power-bi-dynamic-m/rename-table.png
  data-explorer/media/power-bi-dynamic-m/replace-function-parameter.png
  data-explorer/media/power-bi-dynamic-m/report-single-select.png
  data-explorer/media/power-bi-dynamic-m/search-get-data.png
  data-explorer/media/power-bi-dynamic-m/select-all.png
  data-explorer/media/power-bi-dynamic-m/select-function.png
  data-explorer/media/power-bi-dynamic-m/select-help-cluster.png
  data-explorer/media/power-bi-dynamic-m/select-table.png
  data-explorer/media/power-bi-dynamic-m/sign-in.png
  data-explorer/media/power-bi-dynamic-m/slicer-select-all.png
  data-explorer/one-click-table-batching-policy.md
  data-explorer/one-click-table-retention-policy.md
  data-explorer/power-bi-connector.md
  data-explorer/power-bi-dynamic-m.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#981 Repo sync for protected CLA branch
  .openpublishing.publish.config.json
  data-explorer/kusto/management/show-database.md
  data-explorer/kusto/query/searchoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#982 Repo sync for protected CLA branch
  data-explorer/kusto/management/mappings.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#984 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/data-soft-delete.md
  data-explorer/kusto/query/pythonplugin.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#987 Repo sync for protected CLA branch
  data-explorer/kusto/query/parse-ipv6function.md
Labels: do-not-merge, CLA

#988 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid.md
  data-explorer/media/ingest-data-event-grid/azure-portal.png
  data-explorer/media/ingest-data-event-grid/storage-account.png
  data-explorer/media/one-click-event-hub/azure-portal.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#991 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/data-soft-delete.md
Labels: do-not-merge, CLA

#993 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/mappings.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#995 Repo sync for protected CLA branch
  data-explorer/kusto/management/security-roles.md
  data-explorer/kusto/query/mysqlrequest-plugin.md
  data-explorer/kusto/query/scan-operator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#996 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/adx-anomalies-example-2.png
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/uv-anomalies-example-1.png
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/uv-anomalies-example-2.png
  data-explorer/kusto/functions-library/series-uv-anomalies-fl.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#998 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/kusto-ingest-client-reference.md
  data-explorer/kusto/management/access-control/aad.md
  data-explorer/kusto/management/access-control/role-based-authorization.md
Labels: do-not-merge, CLA

#997 Corecting wrong python code
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1000 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/controlling-tracing.md
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/adx-anomalies-example-2.png
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/uv-anomalies-example-1.png
  data-explorer/kusto/functions-library/images/series-uv-anomalies-fl/uv-anomalies-example-2.png
  data-explorer/kusto/functions-library/series-uv-anomalies-fl.md
  data-explorer/kusto/management/access-control/aad.md
  data-explorer/kusto/management/alter-materialized-view-merge-policy-command.md
  data-explorer/kusto/management/alter-merge-materialized-view-merge-policy-command.md
  data-explorer/kusto/management/capacitypolicy.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/datatableoperator.md
  data-explorer/kusto/query/geo-distance-point-to-line-function.md
  data-explorer/kusto/query/geo-distance-point-to-polygon-function.md
  data-explorer/kusto/query/geo-intersects-2lines-function.md
  data-explorer/kusto/query/geo-intersects-2polygons-function.md
  data-explorer/kusto/query/geo-intersects-line-with-polygon-function.md
  data-explorer/kusto/query/geo-point-in-polygon-function.md
  data-explorer/kusto/query/geo-polygon-area-function.md
  data-explorer/kusto/query/geo-polygon-centroid-function.md
  data-explorer/kusto/query/hash_manyfunction.md
  data-explorer/kusto/query/hashfunction.md
  data-explorer/kusto/query/images/geo-polygon-centroid-function/nyc-central-park-centroid.png
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1002 Repo sync for protected CLA branch
  data-explorer/kusto/query/hash_manyfunction.md
Labels: do-not-merge, CLA

#1006 Repo sync for protected CLA branch
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/kusto/management/alter-merge-materialized-view-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-query-weak-consistency-policy.md
  data-explorer/kusto/management/alter-merge-table-merge-policy-command.md
  data-explorer/kusto/management/alter-merge-table-partitioning-policy-command.md
  data-explorer/kusto/management/alter-merge-table-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-table-row-order-policy-command.md
  data-explorer/kusto/management/alter-merge-table-sharding-policy-command.md
  data-explorer/kusto/management/alter-merge-table-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-merge-table-update-policy-command.md
  data-explorer/kusto/management/alter-merge-workload-group-command.md
  data-explorer/kusto/management/alter-query-weak-consistency-policy.md
  data-explorer/kusto/management/alter-table-cache-policy-command.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-merge-policy-command.md
  data-explorer/kusto/management/alter-table-partitioning-policy-command.md
  data-explorer/kusto/management/alter-table-retention-policy-command.md
  data-explorer/kusto/management/alter-table-row-order-policy-command.md
  data-explorer/kusto/management/alter-table-sharding-policy-command.md
  data-explorer/kusto/management/alter-table-streaming-ingestion-policy-command.md
  data-explorer/kusto/management/alter-table-update-policy-command.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/adx-dashboards/export-dashboard-file.png
  data-explorer/media/adx-dashboards/import-dashboard-file.png
  data-explorer/media/adx-dashboards/replace-dashboard-file.png
  data-explorer/one-click-table-batching-policy.md
Labels: do-not-merge, CLA

#1009 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/kusto/api/client-libraries.md
  data-explorer/kusto/concepts/data-soft-delete.md
Labels: do-not-merge, CLA

#1007 Small typo fix
  data-explorer/kusto/api/netfx/request-properties.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1011 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/ingest-data-streaming.md
  data-explorer/kusto/api/index.md
  data-explorer/media/one-click-sample-app-generator/sample-app-generator-destination-tab.png
  data-explorer/media/one-click-sample-app-generator/sample-app-generator-sdks.png
  data-explorer/media/one-click-sample-app-generator/sample-app-generator-welcome.png
  data-explorer/sample-app-generator-one-click.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1012 Repo sync for protected CLA branch
  data-explorer/external-table.md
  data-explorer/generate-lightingest-command.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-streaming.md
  data-explorer/ingest-sample-data.md
  data-explorer/kusto/api/connection-strings/generate-sas-token.md
  data-explorer/kusto/api/connection-strings/storage-authentication-methods.md
  data-explorer/kusto/api/connection-strings/storage.md
  data-explorer/kusto/api/connection-strings/storage/copy-sas-token-and-url.png
  data-explorer/kusto/api/connection-strings/storage/generate-sas-storage-account.png
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/management/disable-plugin.md
  data-explorer/kusto/query/autoclusterplugin.md
  data-explorer/kusto/query/azure-digital-twins-query-request-plugin.md
  data-explorer/kusto/query/bag-unpackplugin.md
  data-explorer/kusto/query/basketplugin.md
  data-explorer/kusto/query/cosmosdb-plugin.md
  data-explorer/kusto/query/dcount-intersect-plugin.md
  data-explorer/kusto/query/diffpatterns-textplugin.md
  data-explorer/kusto/query/diffpatternsplugin.md
  data-explorer/kusto/query/funnel-sequence-completion-plugin.md
  data-explorer/kusto/query/funnel-sequence-plugin.md
  data-explorer/kusto/query/inferstorageschemaplugin.md
  data-explorer/kusto/query/ipv4-lookup-plugin.md
  data-explorer/kusto/query/mysqlrequest-plugin.md
  data-explorer/kusto/query/narrowplugin.md
  data-explorer/kusto/query/new-activity-metrics-plugin.md
  data-explorer/kusto/query/rolling-percentile-plugin.md
  data-explorer/kusto/query/rows-near-plugin.md
  data-explorer/kusto/query/schemamergeplugin.md
  data-explorer/kusto/query/sequence-detect-plugin.md
  data-explorer/kusto/query/session-count-plugin.md
  data-explorer/kusto/query/sliding-window-counts-plugin.md
  data-explorer/kusto/query/sqlrequestplugin.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/generate-lightingest-command/advanced-configuration-dialog.png
  data-explorer/media/generate-lightingest-command/source-tab-advanced-settings.png
  data-explorer/media/generate-lightingest-command/source-tab-container-from-subscription.png
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/one-click-table.md
  data-explorer/power-bi-best-practices.md
Labels: do-not-merge, CLA
