Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-12, with the labels that each got.

#1520 Documentation fix for aap app auth
  data-explorer/provision-azure-ad-app.md
Labels: Change sent to author, do-not-merge

#1521 Repo sync for protected CLA branch
  data-explorer/index.yml
  data-explorer/kusto/functions-library/series-mv-oc-anomalies-fl.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/whats-new-archive.md
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#1522 Update external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1524 Repo sync for protected CLA branch
  .vscode/settings.json
  data-explorer/kusto/api/monaco/host-web-ux-in-iframe.md
  data-explorer/kusto/api/monaco/monaco-kusto.md
  data-explorer/kusto/api/monaco/monaco-overview.md
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/avgif-aggfunction.md
  data-explorer/kusto/query/azure-digital-twins-query-request-plugin.md
  data-explorer/kusto/query/bag-has-key-function.md
  data-explorer/kusto/query/bag-merge-function.md
  data-explorer/kusto/query/bag-remove-keys-function.md
  data-explorer/kusto/query/bag-unpackplugin.md
  data-explorer/kusto/query/bagkeysfunction.md
  data-explorer/kusto/query/base64-decode-toguid-function.md
  data-explorer/kusto/query/base64-encode-fromguid-function.md
  data-explorer/kusto/query/base64_decode_toarrayfunction.md
  data-explorer/kusto/query/base64_decode_tostringfunction.md
  data-explorer/kusto/query/base64_encode_fromarrayfunction.md
  data-explorer/kusto/query/base64_encode_tostringfunction.md
  data-explorer/kusto/query/betweenoperator.md
  data-explorer/kusto/query/binary-all-and-aggfunction.md
  data-explorer/kusto/query/binary-all-or-aggfunction.md
  data-explorer/kusto/query/binary-all-xor-aggfunction.md
  data-explorer/kusto/query/binary-andfunction.md
  data-explorer/kusto/query/binary-notfunction.md
  data-explorer/kusto/query/binary-orfunction.md
  data-explorer/kusto/query/convert-speed-function.md
  data-explorer/kusto/query/convert-temperature-function.md
  data-explorer/kusto/query/convert-volume-function.md
  data-explorer/kusto/query/cosfunction.md
  data-explorer/kusto/query/cosmosdb-plugin.md
  data-explorer/kusto/query/cotfunction.md
  data-explorer/kusto/query/count-aggfunction.md
  data-explorer/kusto/query/count-distinct-aggfunction.md
  data-explorer/kusto/query/count-distinctif-aggfunction.md
  data-explorer/kusto/query/countif-aggfunction.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1525 Repo sync for protected CLA branch
  data-explorer/kusto/management/show-function.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1514 Adding to the advisor the 'requiredCustomerAction'
  data-explorer/azure-advisor.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1527 Repo sync for protected CLA branch
  data-explorer/kusto/management/includes/data-mapping-overview.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/percentiles-aggfunction.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1529 Repo sync for protected CLA branch
  data-explorer/kusto/functions-library/functions-library.md
  data-explorer/kusto/functions-library/percentiles-linear-fl.md
  data-explorer/lightingest.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1533 Repo sync for protected CLA branch
  data-explorer/data-connection-event-grid-resource-manager.md
  data-explorer/data-connection-event-hub-resource-manager.md
  data-explorer/event-hub-wizard.md
  data-explorer/includes/data-connection-auth.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingest-data-iot-hub.md
  data-explorer/ingest-data-overview.md
  data-explorer/ingest-invalid-data.md
  data-explorer/kusto/management/ingestion-faq.yml
  data-explorer/kusto/management/ingestionfailures.md
  data-explorer/kusto/query/array-reverse-function.md
  data-explorer/kusto/query/array-sum-function.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayconcatfunction.md
  data-explorer/kusto/query/arrayifffunction.md
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/arraylengthfunction.md
  data-explorer/kusto/query/arraysplitfunction.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/kusto/query/clusterfunction.md
  data-explorer/kusto/query/coalescefunction.md
  data-explorer/kusto/query/columnifexists.md
  data-explorer/kusto/query/contains-cs-operator.md
  data-explorer/kusto/query/contains-operator.md
  data-explorer/kusto/query/convert-angle-function.md
  data-explorer/kusto/query/convert-energy-function.md
  data-explorer/kusto/query/convert-force-function.md
  data-explorer/kusto/query/convert-length-function.md
  data-explorer/kusto/query/convert-mass-function.md
  data-explorer/kusto/query/current-principal-ismemberoffunction.md
  data-explorer/kusto/query/current-principalfunction.md
  data-explorer/kusto/query/cursorafterfunction.md
  data-explorer/kusto/query/cursorbeforeoratfunction.md
  data-explorer/kusto/query/databasefunction.md
  data-explorer/kusto/query/datatableoperator.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/datetime-addfunction.md
  data-explorer/kusto/query/datetime-difffunction.md
  data-explorer/kusto/query/datetime-local-to-utc-function.md
  data-explorer/kusto/query/dayofmonthfunction.md
  data-explorer/kusto/query/dayofweekfunction.md
  data-explorer/kusto/query/dayofyearfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1526 Fixed the typo in alter table command
  data-explorer/kusto/management/alter-table-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1530 Use non-deprecated bag_pack function in example
  data-explorer/kusto/query/makelist-aggfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1534 Update unionoperator.md
  data-explorer/kusto/query/unionoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1535 Update toscalarfunction.md
  data-explorer/kusto/query/toscalarfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1538 Repo sync for protected CLA branch
  data-explorer/includes/store-query-character-limitation.md
  data-explorer/ingest-data-streaming.md
  data-explorer/kusto/management/cluster-follower.md
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/create-alter-continuous.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
  data-explorer/kusto/management/stored-query-results.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/extendoperator.md
  data-explorer/kusto/query/extentidfunction.md
  data-explorer/kusto/query/extenttagsfunction.md
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/externaltablefunction.md
  data-explorer/kusto/query/extractallfunction.md
  data-explorer/kusto/query/extractfunction.md
  data-explorer/kusto/query/extractjsonfunction.md
  data-explorer/kusto/query/facetoperator.md
  data-explorer/kusto/query/findoperator.md
  data-explorer/kusto/query/schema-entities/entity-names.md
  data-explorer/manage-cluster-permissions.md
  data-explorer/managed-identities-overview.md
  data-explorer/media/manage-cluster-permissions/add-widget.png
  data-explorer/media/manage-cluster-permissions/left-hand-menu.png
  data-explorer/media/manage-cluster-permissions/new-principals-window.png
  data-explorer/toc.yml
  data-explorer/whats-new-archive.md
Labels: do-not-merge, CLA

#1539 Fix typo
  data-explorer/kusto-emulator-install.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1537 Update write-queries.md
  data-explorer/write-queries.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1540 Repo sync for protected CLA branch
  data-explorer/includes/ingestion-properties.md
  data-explorer/kusto/management/alter-materialized-view-partitioning-policy-command.md
  data-explorer/kusto/management/alter-merge-materialized-view-partitioning-policy-command.md
  data-explorer/kusto/management/alter-merge-table-partitioning-policy-command.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
  data-explorer/kusto/query/arrayifffunction.md
  data-explorer/kusto/query/clusterfunction.md
  data-explorer/kusto/query/coalescefunction.md
  data-explorer/kusto/query/columnifexists.md
  data-explorer/kusto/query/contains-cs-operator.md
  data-explorer/kusto/query/contains-operator.md
  data-explorer/kusto/query/countoperator.md
  data-explorer/kusto/query/current-principal-ismemberoffunction.md
  data-explorer/kusto/query/datatableoperator.md
  data-explorer/kusto/query/datetime-addfunction.md
  data-explorer/kusto/query/datetime-difffunction.md
  data-explorer/kusto/query/datetime-local-to-utc-function.md
  data-explorer/kusto/query/datetime-partfunction.md
  data-explorer/kusto/query/distinctoperator.md
  data-explorer/kusto/query/extendoperator.md
  data-explorer/kusto/query/orderoperator.md
  data-explorer/kusto/query/parsecsvfunction.md
  data-explorer/kusto/query/project-keep-operator.md
  data-explorer/kusto/query/projectawayoperator.md
  data-explorer/kusto/query/projectoperator.md
  data-explorer/kusto/query/sortoperator.md
  data-explorer/kusto/query/topoperator.md
  data-explorer/kusto/query/whereoperator.md
Labels: do-not-merge, CLA

#1543 Repo sync for protected CLA branch
  data-explorer/includes/endswith-operator-comparison.md
  data-explorer/ingest-data-streaming.md
  data-explorer/kusto/query/endofdayfunction.md
  data-explorer/kusto/query/endofmonthfunction.md
  data-explorer/kusto/query/endofweekfunction.md
  data-explorer/kusto/query/endofyearfunction.md
  data-explorer/kusto/query/endswith-cs-operator.md
  data-explorer/kusto/query/endswith-operator.md
  data-explorer/kusto/query/equals-operator.md
  data-explorer/kusto/query/not-endswith-cs-operator.md
  data-explorer/kusto/query/not-endswith-operator.md
Labels: do-not-merge, CLA

#1544 Repo sync for protected CLA branch
  data-explorer/kusto/query/geospatial-grid-systems.md
  data-explorer/kusto/query/geospatial-visualizations.md
  data-explorer/kusto/query/getschemaoperator.md
  data-explorer/kusto/query/gettypefunction.md
  data-explorer/kusto/query/getyearfunction.md
  data-explorer/kusto/query/gzip-base64-compress.md
  data-explorer/kusto/query/gzip-base64-decompress.md
  data-explorer/kusto/query/has-all-operator.md
  data-explorer/kusto/query/has-any-index-function.md
  data-explorer/kusto/query/has-any-ipv4-function.md
  data-explorer/kusto/query/has-any-ipv4-prefix-function.md
  data-explorer/kusto/query/has-anyoperator.md
  data-explorer/kusto/query/has-cs-operator.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/has-ipv4-prefix-function.md
  data-explorer/kusto/query/has-operator.md
  data-explorer/kusto/query/hash-xxhash64-function.md
  data-explorer/kusto/query/hash_combinefunction.md
  data-explorer/kusto/query/hash_manyfunction.md
  data-explorer/kusto/query/hashfunction.md
Labels: do-not-merge, CLA

#1545 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/export-data-to-storage.md
Labels: do-not-merge, CLA

#1547 Repo sync for protected CLA branch
  data-explorer/ingest-data-cosmos-db-connection.md
  data-explorer/ingest-data-cosmos-db-queries.md
  data-explorer/media/ingest-data-cosmos-db/advanced-settings.png
  data-explorer/media/ingest-data-cosmos-db/create-data-connection.png
  data-explorer/media/ingest-data-cosmos-db/fill-fields.png
  data-explorer/media/ingest-data-cosmos-db/test-result.png
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1548 Repo sync for protected CLA branch
  data-explorer/find-my-partner.md
  data-explorer/media/findmypartner/data-addiction-logo.png
  data-explorer/media/findmypartner/insight-logo.jpg
Labels: do-not-merge, CLA

#1549 Repo sync for protected CLA branch
  data-explorer/includes/performance-tip-note.md
  data-explorer/kusto/query/contains-cs-operator.md
  data-explorer/kusto/query/contains-operator.md
  data-explorer/kusto/query/dcount-hllfunction.md
  data-explorer/kusto/query/endswith-cs-operator.md
  data-explorer/kusto/query/endswith-operator.md
  data-explorer/kusto/query/equals-cs-operator.md
  data-explorer/kusto/query/equals-operator.md
  data-explorer/kusto/query/has-all-operator.md
  data-explorer/kusto/query/has-anyoperator.md
  data-explorer/kusto/query/has-cs-operator.md
  data-explorer/kusto/query/has-operator.md
  data-explorer/kusto/query/hasprefix-cs-operator.md
  data-explorer/kusto/query/hasprefix-operator.md
  data-explorer/kusto/query/hassuffix-cs-operator.md
  data-explorer/kusto/query/hassuffix-operator.md
  data-explorer/kusto/query/in-cs-operator.md
  data-explorer/kusto/query/inoperator.md
  data-explorer/kusto/query/not-contains-cs-operator.md
  data-explorer/kusto/query/not-contains-operator.md
  data-explorer/kusto/query/not-endswith-cs-operator.md
  data-explorer/kusto/query/not-endswith-operator.md
  data-explorer/kusto/query/not-equals-cs-operator.md
  data-explorer/kusto/query/not-equals-operator.md
  data-explorer/kusto/query/not-has-cs-operator.md
  data-explorer/kusto/query/not-has-operator.md
  data-explorer/kusto/query/not-hasprefix-cs-operator.md
  data-explorer/kusto/query/not-hasprefix-operator.md
  data-explorer/kusto/query/not-hassuffix-cs-operator.md
  data-explorer/kusto/query/not-hassuffix-operator.md
  data-explorer/kusto/query/not-in-cs-operator.md
  data-explorer/kusto/query/not-in-operator.md
  data-explorer/kusto/query/not-startswith-cs-operator.md
  data-explorer/kusto/query/not-startswith-operator.md
  data-explorer/kusto/query/regex-operator.md
  data-explorer/kusto/query/startswith-cs-operator.md
  data-explorer/kusto/query/startswith-operator.md
Labels: do-not-merge, CLA

#1550 Repo sync for protected CLA branch
  data-explorer/includes/has-operator-comparison.md
  data-explorer/kusto/query/has-anyoperator.md
  data-explorer/kusto/query/has-cs-operator.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/has-operator.md
  data-explorer/kusto/query/hasprefix-cs-operator.md
  data-explorer/kusto/query/hasprefix-operator.md
  data-explorer/kusto/query/hassuffix-cs-operator.md
  data-explorer/kusto/query/hassuffix-operator.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/hllmergefunction.md
  data-explorer/kusto/query/hourofdayfunction.md
  data-explorer/kusto/query/http-request-plugin.md
  data-explorer/kusto/query/in-cs-operator.md
  data-explorer/kusto/query/ipv4-is-matchfunction.md
  data-explorer/kusto/query/ipv4-is-privatefunction.md
  data-explorer/kusto/query/ipv4-lookup-plugin.md
  data-explorer/kusto/query/ipv4-netmask-suffix-function.md
  data-explorer/kusto/query/ipv6-comparefunction.md
  data-explorer/kusto/query/ipv6-is-in-any-range-function.md
  data-explorer/kusto/query/ipv6-is-in-range-function.md
  data-explorer/kusto/query/ipv6-is-matchfunction.md
  data-explorer/kusto/query/isascii.md
  data-explorer/kusto/query/isemptyfunction.md
  data-explorer/kusto/query/isfinitefunction.md
  data-explorer/kusto/query/isinffunction.md
  data-explorer/kusto/query/isnanfunction.md
  data-explorer/kusto/query/isnotemptyfunction.md
  data-explorer/kusto/query/isnotnullfunction.md
  data-explorer/kusto/query/isnullfunction.md
  data-explorer/kusto/query/isutf8.md
  data-explorer/kusto/query/jaccard-index-function.md
  data-explorer/kusto/query/joinoperator.md
  data-explorer/kusto/query/jsonpath.md
  data-explorer/kusto/query/not-has-cs-operator.md
  data-explorer/kusto/query/not-has-operator.md
  data-explorer/kusto/query/not-in-cs-operator.md
  data-explorer/kusto/query/not-in-operator.md
Labels: do-not-merge, CLA

#1551 Repo sync for protected CLA branch
  data-explorer/dashboard-parameters.md
  data-explorer/database-script.md
  data-explorer/kql-quick-reference.md
  data-explorer/kusto/query/findoperator.md
  data-explorer/kusto/query/format-bytesfunction.md
  data-explorer/kusto/query/format-datetimefunction.md
  data-explorer/kusto/query/format-ipv4-function.md
  data-explorer/kusto/query/format-ipv4-mask-function.md
  data-explorer/kusto/query/format-timespanfunction.md
  data-explorer/kusto/query/funnel-sequence-completion-plugin.md
  data-explorer/kusto/query/funnel-sequence-plugin.md
  data-explorer/kusto/query/gammafunction.md
  data-explorer/kusto/query/geo-distance-2points-function.md
  data-explorer/kusto/query/geo-distance-point-to-line-function.md
  data-explorer/kusto/query/geo-point-in-polygon-function.md
  data-explorer/kusto/query/index.md
  data-explorer/kusto/query/indexoffunction.md
  data-explorer/kusto/query/indexofregexfunction.md
  data-explorer/kusto/query/inferstorageschemaplugin.md
  data-explorer/kusto/query/ingestiontimefunction.md
  data-explorer/kusto/query/inoperator.md
  data-explorer/kusto/query/invokeoperator.md
  data-explorer/kusto/query/ipv4-comparefunction.md
  data-explorer/kusto/query/ipv4-is-in-any-range-function.md
  data-explorer/kusto/query/ipv4-is-in-range-function.md
  data-explorer/kusto/query/parsejsonfunction.md
  data-explorer/kusto/query/scalar-data-types/dynamic.md
  data-explorer/kusto/query/summarizeoperator.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/urldecodefunction.md
  data-explorer/kusto/query/urlencodecomponentfunction.md
  data-explorer/kusto/query/urlencodefunction.md
  data-explorer/security-network-restrict-outbound-access.md
  data-explorer/write-queries.md
Labels: do-not-merge, CLA

#1555 Repo sync for protected CLA branch
  data-explorer/external-tables-managed-identities.md
  data-explorer/includes/has-prefix-operator-comparison.md
  data-explorer/kusto/query/arg-min-aggfunction.md
  data-explorer/kusto/query/has-ipv4-prefix-function.md
  data-explorer/kusto/query/hash-xxhash64-function.md
  data-explorer/kusto/query/hash_combinefunction.md
  data-explorer/kusto/query/hash_manyfunction.md
  data-explorer/kusto/query/hashfunction.md
  data-explorer/kusto/query/hasprefix-cs-operator.md
  data-explorer/kusto/query/hasprefix-operator.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/hllmergefunction.md
  data-explorer/kusto/query/hourofdayfunction.md
  data-explorer/kusto/query/http-request-plugin.md
  data-explorer/kusto/query/ifffunction.md
  data-explorer/kusto/query/iiffunction.md
  data-explorer/kusto/query/index.md
  data-explorer/kusto/query/indexoffunction.md
  data-explorer/kusto/query/indexofregexfunction.md
  data-explorer/kusto/query/inferstorageschemaplugin.md
  data-explorer/kusto/query/not-hasprefix-operator.md
  data-explorer/manage-cluster-choose-sku.md
  data-explorer/media/pricing/auto-select-engine-instances.png
  data-explorer/media/pricing/availability-zone-toggle.png
  data-explorer/media/pricing/pricing-calculator.png
  data-explorer/pricing-calculator.md
  data-explorer/start-for-free.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1556 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/azure-data-explorer-dashboards.md
  data-explorer/data-explorer-overview.md
  data-explorer/index.yml
  data-explorer/media/power-bi-data-connector/close-apply.png
  data-explorer/media/power-bi-data-connector/cluster-database-table.png
  data-explorer/media/power-bi-data-connector/connect-data.png
  data-explorer/media/power-bi-data-connector/connectivity-mode-web-ui.png
  data-explorer/media/power-bi-data-connector/get-data.png
  data-explorer/media/power-bi-data-connector/paste-query.png
  data-explorer/media/power-bi-data-connector/select-table.png
  data-explorer/media/power-bi-data-connector/share-query.png
  data-explorer/media/power-bi-data-connector/transform-data.png
  data-explorer/media/power-bi-imported-query/close-apply.png
  data-explorer/media/power-bi-imported-query/edit-credentials.png
  data-explorer/media/power-bi-imported-query/export-query.png
  data-explorer/media/power-bi-imported-query/get-data.png
  data-explorer/media/power-bi-imported-query/paste-query.png
  data-explorer/media/power-bi-imported-query/query-results.png
  data-explorer/power-bi-best-practices.md
  data-explorer/power-bi-connector.md
  data-explorer/power-bi-data-connector.md
  data-explorer/power-bi-imported-query.md
  data-explorer/toc.yml
  data-explorer/viz-overview.md
  data-explorer/web-query-data.md
Labels: do-not-merge, CLA
