Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-08, with the labels that each got.

#1333 Update updatepolicy.md
  data-explorer/kusto/management/updatepolicy.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1338 Repo sync for protected CLA branch
  data-explorer/kusto/management/cachepolicy.md
Labels: do-not-merge, CLA

#1339 Repo sync for protected CLA branch
  data-explorer/kusto/api/powershell/powershell.md
  data-explorer/kusto/management/materialized-views/materialized-view-create.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1340 Put an actual working example
  data-explorer/kusto/api/powershell/powershell.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1341 Repo sync for protected CLA branch
  data-explorer/engine-v3.md
  data-explorer/kusto/api/monaco/host-web-ux-in-iframe.md
  data-explorer/kusto/concepts/sandboxes.md
  data-explorer/kusto/query/activity-engagement-plugin.md
  data-explorer/kusto/query/activity-metrics-plugin.md
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1342 Repo sync for protected CLA branch
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/timezone.md
  data-explorer/kusto/query/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1331 Update user-defined-functions.md
  data-explorer/kusto/query/functions/user-defined-functions.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1343 Repo sync for protected CLA branch
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-grid-python.md
  data-explorer/data-connection-event-grid-resource-manager.md
  data-explorer/data-explorer-overview.md
  data-explorer/ingest-data-event-grid-overview.md
  data-explorer/ingest-data-one-click.md
  data-explorer/ingest-data-overview.md
  data-explorer/media/ingest-data-one-click/cluster-ingestion.png
  data-explorer/media/ingest-data-one-click/ingestion-in-web-ui.png
  data-explorer/media/ingest-data-one-click/select-data-pane.png
  data-explorer/media/ingest-data-one-click/welcome-ingestion.png
  data-explorer/media/one-click-event-hub/ingestion-in-web-ui.png
  data-explorer/media/one-click-event-hub/one-click-ingestion-in-web-ui.png
  data-explorer/media/one-click-ingestion-existing-table/from-file.png
  data-explorer/media/one-click-ingestion-existing-table/ingest-new-data.png
  data-explorer/one-click-event-hub.md
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/start-for-free-web-ui.md
  data-explorer/tools-integrations-overview.md
  data-explorer/web-ui-overview.md
Labels: do-not-merge, CLA

#1344 Repo sync for protected CLA branch
  data-explorer/manage-cluster-choose-sku.md
Labels: do-not-merge, CLA

#1345 Repo sync for protected CLA branch
  data-explorer/kusto/concepts/sandboxes.md
Labels: do-not-merge, CLA

#1347 Repo sync for protected CLA branch
  data-explorer/kusto/tools/kusto-explorer.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1351 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
Labels: do-not-merge, CLA

#1352 Repo sync for protected CLA branch
  data-explorer/kusto/api/python/kusto-python-client-library.md
  data-explorer/kusto/concepts/sandboxes.md
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/kusto/query/series-decompose-forecastfunction.md
  data-explorer/media/web-ui-overview/data-management-page.png
  data-explorer/media/web-ui-overview/query-page.png
  data-explorer/media/web-ui-overview/web-ui-home-full-numbered.png
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/toc.yml
  data-explorer/troubleshoot-connect-cluster.md
  data-explorer/web-ui-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1354 Repo sync for protected CLA branch
  .github/workflows/stale.yml
Labels: do-not-merge, review-team-triage, CLA

#1358 Repo sync for protected CLA branch
  data-explorer/kusto/management/create-alter-function.md
  data-explorer/kusto/management/create-function.md
  data-explorer/kusto/query/avgif-aggfunction.md
  data-explorer/kusto/query/count-aggfunction.md
  data-explorer/kusto/query/countif-aggfunction.md
  data-explorer/kusto/query/dcount-aggfunction.md
  data-explorer/kusto/query/dcountif-aggfunction.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/makeset-aggfunction.md
  data-explorer/kusto/query/maxif-aggfunction.md
  data-explorer/kusto/query/minif-aggfunction.md
  data-explorer/kusto/query/sumif-aggfunction.md
  data-explorer/kusto/query/take-any-aggfunction.md
  data-explorer/kusto/query/take-anyif-aggfunction.md
  data-explorer/kusto/query/tdigest-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1362 Repo sync for protected CLA branch
  data-explorer/web-ui-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1363 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/query/broadcastjoin.md
  data-explorer/kusto/query/lookupoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1364 Repo sync for protected CLA branch
  data-explorer/kusto/api/tds/aad.md
  data-explorer/kusto/concepts/data-purge.md
  data-explorer/kusto/management/data-ingestion/ingest-from-storage.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1370 Repo sync for protected CLA branch
  data-explorer/index.yml
  data-explorer/kusto/management/access-control/how-to-authenticate-with-aad.md
  data-explorer/solution-architectures.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1368 Missing "=" in example
  data-explorer/kusto/query/samples.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1374 Repo sync for protected CLA branch
  data-explorer/data-lake-query-data.md
  data-explorer/external-table.md
  data-explorer/kusto/query/schema-entities/externaltables.md
  data-explorer/media/external-table/create-external-table.png
  data-explorer/media/external-table/data-create-external-table.png
  data-explorer/media/one-click-ingestion-new-table/blob-containers.png
  data-explorer/media/one-click-ingestion-new-table/copy-key-1.png
  data-explorer/media/one-click-ingestion-new-table/copy-path.png
  data-explorer/media/one-click-ingestion-new-table/copy-url.png
  data-explorer/media/one-click-ingestion-new-table/create-new-table.png
  data-explorer/media/one-click-ingestion-new-table/filter-folder-path-search.png
  data-explorer/media/one-click-ingestion-new-table/filter-folder-path-select.png
  data-explorer/media/one-click-ingestion-new-table/from-container.png
  data-explorer/media/one-click-ingestion-new-table/ingest-new-data.png
  data-explorer/media/one-click-ingestion-new-table/storage-browser-blob-containers.png
  data-explorer/one-click-ingestion-new-table.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1377 Repo sync for protected CLA branch
  data-explorer/kusto/management/drop-extents.md
  data-explorer/kusto/management/queries.md
Labels: do-not-merge, CLA

#1353 Update vnet-deployment.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1378 Repo sync for protected CLA branch
  data-explorer/dashboard-customize-visuals.md
  data-explorer/kusto/management/show-table-data-statistics.md
  data-explorer/kusto/management/show-tables-command.md
  data-explorer/media/dashboard-customize-visuals/funnel.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
