Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-10, with the labels that each got.

#1432 Repo sync for protected CLA branch
  data-explorer/dealing-with-duplicates.md
  data-explorer/kusto/api/connection-strings/kusto.md
  data-explorer/kusto/management/alter-callout-policy-command.md
  data-explorer/kusto/management/alter-database-retention-policy-command.md
  data-explorer/kusto/management/alter-database-sharding-policy-command.md
  data-explorer/kusto/management/alter-ingestion-mapping-command.md
  data-explorer/kusto/management/alter-materialized-view-retention-policy-command.md
  data-explorer/kusto/management/alter-merge-callout-policy-command.md
  data-explorer/kusto/management/alter-table-retention-policy-command.md
  data-explorer/kusto/management/alter-table-sharding-policy-command.md
  data-explorer/kusto/query/abs-function.md
  data-explorer/kusto/query/acosfunction.md
  data-explorer/kusto/query/active-users-count-plugin.md
  data-explorer/kusto/query/activity-counts-metrics-plugin.md
  data-explorer/kusto/query/activity-engagement-plugin.md
  data-explorer/kusto/query/activity-metrics-plugin.md
  data-explorer/kusto/query/aggregation-functions.md
  data-explorer/kusto/query/agofunction.md
  data-explorer/kusto/query/aliasstatement.md
  data-explorer/kusto/query/arg-max-aggfunction.md
  data-explorer/kusto/query/arg-min-aggfunction.md
  data-explorer/kusto/query/around-function.md
  data-explorer/kusto/query/array-reverse-function.md
  data-explorer/kusto/query/array-sum-function.md
  data-explorer/kusto/query/array_rotate_leftfunction.md
  data-explorer/kusto/query/array_rotate_rightfunction.md
  data-explorer/kusto/query/array_shift_leftfunction.md
  data-explorer/kusto/query/array_shift_rightfunction.md
  data-explorer/kusto/query/arrayconcatfunction.md
  data-explorer/kusto/query/arrayifffunction.md
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/arraylengthfunction.md
  data-explorer/kusto/query/arrayslicefunction.md
  data-explorer/kusto/query/arraysortascfunction.md
  data-explorer/kusto/query/arraysortdescfunction.md
  data-explorer/kusto/query/arraysplitfunction.md
  data-explorer/kusto/query/asinfunction.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/kusto/query/assert-function.md
  data-explorer/kusto/query/atan2function.md
  data-explorer/kusto/query/buildschema-aggfunction.md
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/make-list-with-nulls-aggfunction.md
  data-explorer/kusto/query/makelistif-aggfunction.md
  data-explorer/kusto/query/makesetif-aggfunction.md
  data-explorer/kusto/query/parse-kv-operator.md
  data-explorer/kusto/query/percentiles-aggfunction.md
  data-explorer/kusto/query/pythonplugin.md
  data-explorer/kusto/query/shufflequery.md
  data-explorer/kusto/query/stdev-aggfunction.md
  data-explorer/kusto/query/stdevif-aggfunction.md
  data-explorer/kusto/query/stdevp-aggfunction.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
  data-explorer/kusto/query/variance-aggfunction.md
  data-explorer/kusto/query/varianceif-aggfunction.md
  data-explorer/kusto/query/variancep-aggfunction.md
  data-explorer/kusto/tools/kusto-cli.md
  data-explorer/spark-connector.md
Labels: do-not-merge, CLA

#1443 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/follower.md
  data-explorer/ingest-data-telegraf.md
  data-explorer/kusto/management/databases.md
  data-explorer/kusto/management/request-classification-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/packdictionaryfunction.md
  data-explorer/kusto/query/packfunction.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/media/follower/read-only-follower-database-overview.png
  data-explorer/media/follower/read-write-databases-shared-overview.png
  data-explorer/media/follower/read-write-databases-shared.png
  data-explorer/open-telemetry-connector.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1441 Update series-decompose-anomaliesfunction.md
  data-explorer/kusto/query/series-decompose-anomaliesfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1446 Repo sync for protected CLA branch
  data-explorer/stream-analytics-connector.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged, CLA

#1436 Update vnet-deployment.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1451 Typo fix: arrayifffunction.md
  data-explorer/kusto/query/arrayifffunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1454 Repo sync for protected CLA branch
  data-explorer/kusto/management/clear-query-results-cache-command.md
  data-explorer/kusto/query/lookupoperator.md
  data-explorer/kusto/query/searchoperator.md
  data-explorer/kusto/query/toc.yml
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#1455 Repo sync for protected CLA branch
  data-explorer/kusto/query/make-seriesoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1456 Repo sync for protected CLA branch
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/database-table-policies-csharp.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-rest.md
  data-explorer/kusto/query/arg-max-aggfunction.md
  data-explorer/kusto/query/arg-min-aggfunction.md
Labels: Change sent to author, do-not-merge, CLA

#1458 Repo sync for protected CLA branch
  data-explorer/follower.md
  data-explorer/kusto/query/images/percentiles-aggfunction/percentilesw-result.PNG
  data-explorer/kusto/query/timezone.md
  data-explorer/media/follower/read-only-follower-database.png
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1459 Repo sync for protected CLA branch
  data-explorer/kusto/api/monaco/host-web-ux-in-iframe.md
  data-explorer/kusto/functions-library/pairwise-dist-fl.md
  data-explorer/kusto/query/makeset-aggfunction.md
  data-explorer/kusto/query/timezone.md
Labels: do-not-merge, CLA

#1460 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-sql-tables.md
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/managed-identity-policy.md
  data-explorer/kusto/query/timezone.md
Labels: do-not-merge, CLA

#1462 Repo sync for protected CLA branch
  data-explorer/kusto/api/load-test-cluster.md
  data-explorer/kusto/query/parse-ipv6function.md
Labels: do-not-merge, CLA

#1461 Update python-ingest-data.md
  data-explorer/python-ingest-data.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1463 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/export-data-to-an-external-table.md
  data-explorer/kusto/management/updatepolicy.md
Labels: do-not-merge, CLA

#1464 Repo sync for protected CLA branch
  data-explorer/kusto/query/timezone.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1467 Update hll-aggfunction.md
  data-explorer/kusto/query/hll-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1449 Update power-bi-best-practices.md
  data-explorer/power-bi-best-practices.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1469 Repo sync for protected CLA branch
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/kusto/management/systeminfo.md
Labels: do-not-merge, CLA

#1470 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/continuous-data-export.md
  data-explorer/kusto/management/data-export/create-alter-continuous.md
  data-explorer/kusto/management/managed-identity-policy.md
  data-explorer/managed-identities-overview.md
Labels: do-not-merge, CLA

#1471 Typo "Azure Monitor insights"→"Azure Monitor Insights"
  data-explorer/data-explorer-insights.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1474 Repo sync for protected CLA branch
  data-explorer/kusto/query/timezone.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1475 Remove underscores
  data-explorer/kql-quick-reference.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1472 Typo "Azure Monitor insights"→"Azure Monitor Insights"
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged

#1476 Repo sync for protected CLA branch
  data-explorer/cluster-encryption-double.md
  data-explorer/configure-managed-identities-cluster.md
  data-explorer/create-cluster-database-cli.md
  data-explorer/create-cluster-database-csharp.md
  data-explorer/create-cluster-database-powershell.md
  data-explorer/create-cluster-database-python.md
  data-explorer/create-cluster-database-resource-manager.md
  data-explorer/customer-managed-keys-resource-manager.md
  data-explorer/includes/data-explorer-e2e-event-grid-resource-template.md
  data-explorer/kusto/query/images/percentiles-aggfunction/percentilesw-result.png
  data-explorer/kusto/query/materializefunction.md
Labels: do-not-merge, CLA

#1478 Repo sync for protected CLA branch
  data-explorer/kusto/management/request-rate-limit-policy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
