Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-04, with the labels that each got.

#1125 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/ingestion-supported-formats.md
  data-explorer/kusto/management/data-ingestion/ingest-from-query.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1126 Repo sync for protected CLA branch
  data-explorer/error-codes.md
  data-explorer/follower.md
  data-explorer/kusto/management/clear-table-data-command.md
  data-explorer/kusto/management/cluster-follower.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1128 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/ingest-data-one-click.md
  data-explorer/media/security-network-overview/pe-diagram.png
  data-explorer/media/security-network-private-endpoint/mpe-create-1.png
  data-explorer/media/security-network-private-endpoint/mpe-create-2.png
  data-explorer/media/security-network-private-endpoint/pe-create-1.png
  data-explorer/media/security-network-private-endpoint/pe-create-2.png
  data-explorer/media/security-network-private-endpoint/pe-create-3.png
  data-explorer/media/security-network-private-endpoint/pe-create-4.png
  data-explorer/media/security-network-private-endpoint/pe-create-5.png
  data-explorer/media/security-network-private-endpoint/pe-create-6.png
  data-explorer/media/security-network-private-endpoint/pe-create-7.png
  data-explorer/media/security-network-private-endpoint/pe-create-deployment.png
  data-explorer/media/security-network-private-endpoint/pe-create-mpe-approval-inline.png
  data-explorer/media/security-network-private-endpoint/pe-create-mpe-approval.png
  data-explorer/media/security-network-private-endpoint/pe-create-mpe-approved-inline.png
  data-explorer/media/security-network-private-endpoint/pe-create-mpe-approved.png
  data-explorer/media/security-network-private-endpoint/pe-diagram-detail.png
  data-explorer/media/security-network-private-endpoint/pe-disable-public-access.png
  data-explorer/media/security-network-private-endpoint/pe-dns-config-inline.png
  data-explorer/media/security-network-private-endpoint/pe-dns-config.png
  data-explorer/media/security-network-private-endpoint/pe-mpe.png
  data-explorer/media/security-network-restrict-access/restrict-outbound-access-enabled-allowed-fqdn-set.png
  data-explorer/media/security-network-restrict-access/restrict-outbound-access-enabled-error-data-plane.png
  data-explorer/media/security-network-restrict-access/restrict-outbound-access-enabled-no-immutable-callout-policies.png
  data-explorer/media/security-network-restrict-access/restrict-outbound-access.png
  data-explorer/media/security-network-restrict-access/restrict-public-access-inline.png
  data-explorer/media/security-network-restrict-access/restrict-public-access.png
  data-explorer/one-click-event-hub.md
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/one-click-table.md
  data-explorer/sample-app-generator-one-click.md
  data-explorer/security-network-managed-private-endpoint-create.md
  data-explorer/security-network-overview.md
  data-explorer/security-network-private-endpoint-create.md
  data-explorer/security-network-private-endpoint-troubleshoot.md
  data-explorer/security-network-private-endpoint.md
  data-explorer/security-network-restrict-outbound-access.md
  data-explorer/security-network-restrict-public-access.md
  data-explorer/security.md
  data-explorer/toc.yml
  data-explorer/vnet-create-private-endpoint.md
  data-explorer/vnet-deploy-troubleshoot.md
  data-explorer/vnet-deployment.md
Labels: do-not-merge, CLA

#1129 Update request-properties.md
  data-explorer/kusto/api/netfx/request-properties.md
Labels: Change sent to author, do-not-merge

#1130 Repo sync for protected CLA branch
  data-explorer/kusto/management/clear-table-data-command.md
  data-explorer/kusto/query/scalar-data-types/string.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1131 Repo sync for protected CLA branch
  data-explorer/data-factory-integration.md
Labels: do-not-merge, CLA

#1133 Repo sync for protected CLA branch
  data-explorer/kusto/management/data-export/export-data-to-storage.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1134 Repo sync for protected CLA branch
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/batchingpolicy.md
Labels: do-not-merge, review-team-triage, CLA

#1132 Update user-defined-functions.md
  data-explorer/kusto/query/functions/user-defined-functions.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1140 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/cluster-disk-encryption.md
  data-explorer/cluster-encryption-disk.md
  data-explorer/cluster-encryption-double.md
  data-explorer/cluster-encryption-overview.md
  data-explorer/configure-managed-identities-cluster.md
  data-explorer/customer-managed-keys-portal.md
  data-explorer/customer-managed-keys-resource-manager.md
  data-explorer/language-extensions.md
  data-explorer/security.md
  data-explorer/toc.yml
Labels: do-not-merge, CLA

#1142 Repo sync for protected CLA branch
  data-explorer/cluster-encryption-overview.md
  data-explorer/kusto/query/scalar-data-types/string.md
  data-explorer/kusto/query/searchoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1144 Repo sync for protected CLA branch
  data-explorer/kusto/api/client-libraries.md
  data-explorer/kusto/api/node/kusto-node-client-library.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/query/datatypes-string-operators.md
  data-explorer/kusto/query/dynamic-to-json-function.md
  data-explorer/kusto/query/externaldata-operator.md
  data-explorer/kusto/query/funnel-sequence-plugin.md
  data-explorer/kusto/query/has-ipv4-function.md
  data-explorer/kusto/query/has-ipv4-prefix-function.md
  data-explorer/kusto/query/ipv4-is-in-any-range-function.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/node-ingest-data.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1147 Repo sync for protected CLA branch
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/security-network-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1145 Fix column mapping
  data-explorer/includes/data-explorer-iot-system-properties.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1143 Update create-cluster-database-python.md
  data-explorer/create-cluster-database-python.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1151 Repo sync for protected CLA branch
  data-explorer/kusto/query/scalar-data-types/string.md
  data-explorer/security-network-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1152 Repo sync for protected CLA branch
  data-explorer/cluster-encryption-double.md
  data-explorer/cluster-principal-csharp.md
  data-explorer/configure-managed-identities-cluster.md
  data-explorer/create-cluster-database-csharp.md
  data-explorer/customer-managed-keys-csharp.md
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/data-connection-event-hub-csharp.md
  data-explorer/data-connection-iot-hub-csharp.md
  data-explorer/database-principal-csharp.md
  data-explorer/database-table-policies-csharp.md
  data-explorer/end-to-end-csharp.md
  data-explorer/follower.md
  data-explorer/kusto/management/calloutpolicy.md
  data-explorer/kusto/management/mappings.md
  data-explorer/kusto/query/letstatement.md
Labels: do-not-merge, CLA

#1153 Update clients.md
  data-explorer/kusto/api/tds/clients.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge

#1155 Repo sync for protected CLA branch
  data-explorer/azure-advisor.md
  data-explorer/kusto/api/toc.yml
  data-explorer/kusto/concepts/querylimits.md
  data-explorer/kusto/functions-library/series-uv-anomalies-fl.md
  data-explorer/kusto/functions-library/series-uv-change-points-fl.md
  data-explorer/kusto/query/asoperator.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1158 Repo sync for protected CLA branch
  data-explorer/kusto/api/netfx/about-kusto-data.md
  data-explorer/query-monitor-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
