Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2022-06, with the labels that each got.

#1211 Repo sync for protected CLA branch
  data-explorer/media/security-network-private-endpoint/pe-diagram-detail.png
  data-explorer/media/security-network-private-endpoint/pe-mpe.png
  data-explorer/media/web-ui-overview/web-ui-home-full-numbered.png
  data-explorer/media/web-ui-samples-gallery/cluster-connection-pane.png
  data-explorer/media/web-ui-samples-gallery/explore-dashboards-dialog.png
  data-explorer/media/web-ui-samples-gallery/explore-data-samples-dialog.png
  data-explorer/media/web-ui-samples-gallery/high-level-flow-tables.png
  data-explorer/media/web-ui-samples-gallery/samples-high-level-diagram.png
  data-explorer/media/web-ui-samples-gallery/web-ui-dashboard-full.png
  data-explorer/media/web-ui-samples-gallery/web-ui-home-full-box.png
  data-explorer/media/web-ui-samples-gallery/web-ui-query-window.png
  data-explorer/media/web-ui-samples-gallery/web-ui-tutorials-dropdown.png
  data-explorer/security-network-private-endpoint.md
  data-explorer/toc.yml
  data-explorer/web-ui-overview.md
  data-explorer/web-ui-samples-gallery.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1213 Repo sync for protected CLA branch
  data-explorer/kusto/query/geo-line-densify-function.md
  data-explorer/kusto/query/geo-polygon-densify-function.md
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1214 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/data-factory-integration.md
  data-explorer/kusto/query/geospatial-grid-systems.md
  data-explorer/spark-connector.md
  data-explorer/whats-new.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1216 Repo sync for protected CLA branch
  data-explorer/data-connection-iot-hub-csharp.md
  data-explorer/kusto/query/buildschema-aggfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1219 Repo sync for protected CLA branch
  data-explorer/breadcrumb/toc.yml
  data-explorer/create-cluster-database-portal.md
  data-explorer/index.yml
  data-explorer/kusto/management/external-tables-azurestorage-azuredatalake.md
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1225 Repo sync for protected CLA branch
  data-explorer/kusto/management/partitioningpolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1229 Repo sync for protected CLA branch
  data-explorer/data-connection-event-grid-csharp.md
  data-explorer/ingest-data-event-grid-manual.md
  data-explorer/media/eventgrid/filters-flush-and-close.png
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1234 Repo sync for protected CLA branch
  data-explorer/kusto/query/active-users-count-plugin.md
  data-explorer/kusto/query/activity-counts-metrics-plugin.md
  data-explorer/manage-cluster-choose-sku.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1235 Repo sync for protected CLA branch
  data-explorer/data-explorer-insights.md
  data-explorer/error-codes.md
  data-explorer/ingest-data-event-hub-overview.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/rowlevelsecuritypolicy.md
  data-explorer/kusto/query/scalar-data-types/string.md
  data-explorer/web-ui-samples-gallery.md
Labels: do-not-merge, CLA

#1237 Repo sync for protected CLA branch
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/data-explorer-overview.md
  data-explorer/kusto/management/access-control/principals-and-identity-providers.md
  data-explorer/kusto/query/current-principal-ismemberoffunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1243 Repo sync for protected CLA branch
  data-explorer/external-tables-managed-identities.md
  data-explorer/includes/batching-policy-permissions.md
  data-explorer/ingest-data-event-grid.md
  data-explorer/ingest-data-event-hub.md
  data-explorer/kusto/management/alter-database-ingestion-batching-policy.md
  data-explorer/kusto/management/alter-table-ingestion-batching-policy.md
  data-explorer/kusto/management/batchingpolicy.md
  data-explorer/kusto/management/delete-database-ingestion-batching-policy.md
  data-explorer/kusto/management/delete-table-ingestion-batching-policy.md
  data-explorer/kusto/management/show-database-ingestion-batching-policy.md
  data-explorer/kusto/query/sqlrequestplugin.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1263 Repo sync for protected CLA branch
  data-explorer/cluster-encryption-overview.md
  data-explorer/cross-tenant-query-and-commands.md
  data-explorer/ingest-data-logstash.md
  data-explorer/kusto/query/geospatial-visualizations.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1256 Update business-continuity-overview.md
  data-explorer/business-continuity-overview.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1268 Change link to new default branch in sample project
  data-explorer/ingest-data-iot-hub-overview.md
Labels: Change sent to author, data-explorer/svc, do-not-merge

#1270 Repo sync for protected CLA branch
  data-explorer/kusto/query/arrayindexoffunction.md
  data-explorer/kusto/query/query-results-cache.md
  data-explorer/kusto/query/sethaselementfunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1260 Update project-keep-operator.md
  data-explorer/kusto/query/project-keep-operator.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1257 Update security-network-private-endpoint.md
  data-explorer/security-network-private-endpoint.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1258 Update external-tables-managed-identities.md
  data-explorer/external-tables-managed-identities.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, ready-to-merge, aq-pr-triaged

#1273 Repo sync for protected CLA branch
  data-explorer/auto-stop-clusters.md
  data-explorer/error-codes.md
  data-explorer/ingest-data-one-click.md
  data-explorer/ingest-sample-data.md
  data-explorer/kusto/management/alter-encoding-policy.md
  data-explorer/kusto/management/encoding-policy.md
  data-explorer/kusto/management/show-encoding-policy.md
  data-explorer/kusto/management/toc.yml
  data-explorer/kusto/query/http-request-plugin.md
  data-explorer/media/one-click-table-policies/batch-policy-start.png
  data-explorer/media/one-click-table-policies/batch-policy-success.png
  data-explorer/media/stream-analytics-connector/rt arrow icon.png
  data-explorer/media/stream-analytics-connector/stream-analytics-job-output.png
  data-explorer/media/stream-analytics-connector/stream-analytics-new-output.png
  data-explorer/one-click-event-hub.md
  data-explorer/one-click-ingestion-existing-table.md
  data-explorer/one-click-ingestion-new-table.md
  data-explorer/one-click-table-batching-policy.md
  data-explorer/one-click-table-retention-policy.md
  data-explorer/one-click-table.md
  data-explorer/stream-analytics-connector.md
  data-explorer/toc.yml
  data-explorer/viz-overview.md
  data-explorer/web-query-data.md
  data-explorer/web-ui-samples-gallery.md
Labels: do-not-merge, CLA

#1275 Repo sync for protected CLA branch
  data-explorer/kusto/query/jsonpath.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA
