Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2023-03, with the labels that each got.

#1704 Update ingest-data-event-hub-overview.md
  data-explorer/ingest-data-event-hub-overview.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1638 Clarify the function is using radians for input.
  data-explorer/kusto/query/cosfunction.md
  data-explorer/kusto/query/sinfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, needs-human-review

#1711 Update mysqlrequest-plugin.md
  data-explorer/kusto/query/mysqlrequest-plugin.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, qualifies-for-auto-merge

#1727 Update VNET Injection Security Rules IP
  data-explorer/vnet-deployment.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1729 Fix typo
  data-explorer/kusto/management/workload-groups.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1643 Remove duplicate example in materialized_view function article
  data-explorer/kusto/query/materialized-view-function.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1737 Modified Tip box on min() page for grammar and to match language used on max() page
  data-explorer/kusto/query/min-aggfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1748 Update docfx.json - Disable GH issues
  data-explorer/docfx.json
Labels: do-not-merge, review-team-triage, needs-human-review

#1741 Fix possible mistake in arrayslicefunction.md
  data-explorer/kusto/query/arrayslicefunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1747 mv-apply example added
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/mv-applyoperator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1716 Update ingest-json-formats.md
  data-explorer/ingest-json-formats.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge
