Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2023-06, with the labels that each got.

#1820 Add lookup suggestion to Kusto best practices.
  data-explorer/kusto/query/best-practices.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#1825 Update rowrankdensefunction.md
  data-explorer/kusto/query/rowrankdensefunction.md
  data-explorer/kusto/query/rowrankminfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, needs-human-review

#1831 add warning to hll/tdigest that the format is subject to change in the future
  data-explorer/kusto/query/hll-aggfunction.md
  data-explorer/kusto/query/hll-if-aggregation-function.md
  data-explorer/kusto/query/hll-merge-aggfunction.md
  data-explorer/kusto/query/hllmergefunction.md
  data-explorer/kusto/query/merge-tdigest-function.md
  data-explorer/kusto/query/tdigest-aggfunction.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
  data-explorer/kusto/query/usinghlltdigest.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, needs-human-review

#1856 Formatting update
  data-explorer/kusto/query/joinoperator.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge
