Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2023-01, with the labels that each got.

#1557 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/functions-library/percentiles-linear-fl.md
  data-explorer/kusto/management/alter-merge-table-update-policy-command.md
  data-explorer/whats-new-archive.md
  data-explorer/whats-new.md
Labels: do-not-merge, CLA

#1559 Repo sync for protected CLA branch
  data-explorer/kusto/query/isascii.md
  data-explorer/kusto/query/isemptyfunction.md
  data-explorer/kusto/query/isfinitefunction.md
  data-explorer/kusto/query/isinffunction.md
  data-explorer/kusto/query/isnanfunction.md
  data-explorer/kusto/query/isnotemptyfunction.md
  data-explorer/kusto/query/isnotnullfunction.md
  data-explorer/kusto/query/isnullfunction.md
  data-explorer/kusto/query/isutf8.md
  data-explorer/kusto/query/jaccard-index-function.md
Labels: do-not-merge, CLA

#1562 Repo sync for protected CLA branch
  data-explorer/flow-usage.md
  data-explorer/flow.md
  data-explorer/kusto/query/letstatement.md
  data-explorer/kusto/query/log-function.md
  data-explorer/kusto/query/log10-function.md
  data-explorer/kusto/query/log2-function.md
  data-explorer/kusto/query/loggammafunction.md
  data-explorer/kusto/query/logicaloperators.md
  data-explorer/kusto/query/lookupoperator.md
  data-explorer/kusto/query/machine-learning-and-tsa.md
  data-explorer/kusto/query/make-bag-aggfunction.md
  data-explorer/kusto/query/make-datetimefunction.md
  data-explorer/kusto/query/make-seriesoperator.md
  data-explorer/kusto/query/make-timespanfunction.md
  data-explorer/kusto/query/makelist-aggfunction.md
  data-explorer/kusto/query/materialized-view-function.md
  data-explorer/kusto/query/materializefunction.md
  data-explorer/kusto/query/max-aggfunction.md
  data-explorer/kusto/query/max-offunction.md
  data-explorer/kusto/query/md5hashfunction.md
  data-explorer/kusto/query/min-aggfunction.md
  data-explorer/kusto/query/min-offunction.md
  data-explorer/kusto/query/parsepathfunction.md
  data-explorer/kusto/tools/kusto-explorer-code-analyzer.md
  data-explorer/kusto/tools/logicapps.md
Labels: do-not-merge, CLA

#1563 Repo sync for protected CLA branch
  data-explorer/toc.yml
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1565 Repo sync for protected CLA branch
  data-explorer/kusto/management/mergepolicy.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, CLA

#1566 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/query/binfunction.md
  data-explorer/kusto/query/floorfunction.md
  data-explorer/kusto/query/parse-command-line.md
  data-explorer/kusto/query/parse-ipv4-maskfunction.md
  data-explorer/kusto/query/parse-ipv4function.md
  data-explorer/kusto/query/parse-ipv6-maskfunction.md
  data-explorer/kusto/query/parse-ipv6function.md
  data-explorer/kusto/query/parse-kv-operator.md
  data-explorer/kusto/query/parse-useragentfunction.md
  data-explorer/kusto/query/parse-versionfunction.md
  data-explorer/kusto/query/parse-xmlfunction.md
  data-explorer/kusto/query/parsecsvfunction.md
  data-explorer/kusto/query/roundfunction.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/tutorial.md
  data-explorer/power-bi-best-practices.md
Labels: do-not-merge, CLA

#1564 Fix Hyperlink to alter-cluster command
  data-explorer/kusto/management/capacitypolicy.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged

#1568 Repo sync for protected CLA branch
  .openpublishing.redirection.json
  data-explorer/kusto/query/aggregation-functions.md
  data-explorer/kusto/query/limitoperator.md
  data-explorer/kusto/query/scalarfunctions.md
  data-explorer/kusto/query/takeoperator.md
  data-explorer/kusto/query/tdigest-merge-aggfunction.md
  data-explorer/kusto/query/tdigest-mergefunction.md
  data-explorer/kusto/query/toboolfunction.md
  data-explorer/kusto/query/toc.yml
  data-explorer/kusto/query/usinghlltdigest.md
Labels: do-not-merge, CLA

#1569 Repo sync for protected CLA branch
  data-explorer/index.yml
Labels: do-not-merge, CLA

#1570 Repo sync for protected CLA branch
  data-explorer/ingest-data-event-hub-overview.md
Labels: do-not-merge, CLA

#1576 Typo "followerResouceGroup"→"followerResourceGroup"
  data-explorer/follower.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1578 Typo "leader_resouce_group_name"→"leader_resource_group_name"
  data-explorer/follower.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge
