Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2023-11, with the labels that each got.

#2035 super minor typo
  data-explorer/auto-stop-clusters.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#2036 Minor fix to technical info in kusto-ingest-client-status.md
  data-explorer/kusto/api/netfx/kusto-ingest-client-status.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, qualifies-for-auto-merge

#2041 Update using-metrics.md
  data-explorer/using-metrics.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, qualifies-for-auto-merge

#2045 Update urlencodefunction.md
  data-explorer/kusto/query/urlencodefunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2069 Update activity-engagement-plugin.md
  data-explorer/kusto/query/activity-engagement-plugin.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge
