Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2023-02, with the labels that each got.

#1597 Update show-schema-database.md
  data-explorer/kusto/management/show-schema-database.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1587 Fix mistake in output in arrayifffunction.md
  data-explorer/kusto/query/arrayifffunction.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, aq-pr-triaged, qualifies-for-auto-merge

#1604 Update tables.md
  data-explorer/kusto/management/tables.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1607 Update create-table-command.md
  data-explorer/kusto/management/create-table-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1608 Update create-tables-command.md
  data-explorer/kusto/management/create-tables-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1610 Update create-merge-table-command.md
  data-explorer/kusto/management/create-merge-table-command.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#1612 Add missing comma in the syntax of `.create-or-alter function`
  data-explorer/kusto/management/create-alter-function.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1611 Add clarifying sentence and reorder permissions for consistency
  data-explorer/kusto/management/undo-drop-table-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1598 Added CAF note for DNS
  data-explorer/security-network-private-endpoint.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1605 Make example consistent across related articles
  data-explorer/kusto/management/alter-ingestion-mapping-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1621 Remove incorrect description of example
  data-explorer/kusto/query/arg-max-aggfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1616 Clarify behavior of command
  data-explorer/kusto/management/create-table-based-on-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, needs-human-review

#1620 Add missing output columns
  data-explorer/kusto/management/show-table-details-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1619 Update show-tables-command.md
  data-explorer/kusto/management/show-tables-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1625 Fix typo
  data-explorer/kusto/query/partitionoperator.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1617 Clarify behavior of command
  data-explorer/kusto/management/create-table-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1609 Add clarifying sentence
  data-explorer/kusto/management/create-tables-command.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, needs-human-review

#1624 Improve formatting of round() examples
  data-explorer/kusto/query/roundfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, needs-human-review

#1630 Fix bullet point formatting
  data-explorer/kusto/query/series-decompose-anomaliesfunction.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, aq-pr-triaged, qualifies-for-auto-merge

#1646 Remove extra closing parenthesis
  data-explorer/kusto/management/materialized-views/materialized-view-policies.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge
