Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2024-01, with the labels that each got.

#2105 Update storage-connection-strings.md
  data-explorer/kusto/api/connection-strings/storage-connection-strings.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2116 Update security role overview with more links
  data-explorer/kusto/management/security-roles.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2118 Update example description for count aggregation function
  data-explorer/kusto/query/count-aggregation-function.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2120 Minor wording change
  data-explorer/kusto/management/security-roles.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, qualifies-for-auto-merge

#2125 Fix minor capitalization issue in set-timeout-limits.md
  data-explorer/set-timeout-limits.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, qualifies-for-auto-merge

#2127 Update cross-tenant-query-and-commands.md
  data-explorer/kusto/access-control/cross-tenant-query-and-commands.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge
