Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2024-02, with the labels that each got.

#2156 Update tutorial-archive.md
  data-explorer/kusto/query/tutorial-archive.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#2160 Update kql-quick-reference.md
  data-explorer/kusto/query/kql-quick-reference.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2187 Update series-outliers-function.md
  data-explorer/kusto/query/series-outliers-function.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, qualifies-for-auto-merge

#2186 Update column name in table of learn-common-operators.md
  data-explorer/kusto/query/tutorials/learn-common-operators.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, needs-human-review

#2197 Minor space modification
  data-explorer/kusto/management/row-level-security-external-sql.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, qualifies-for-auto-merge
