Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2024-09, with the labels that each got.

#2367 Update partitioning-policy.md
  data-explorer/kusto/management/partitioning-policy.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge, azure-data-explorer/svc

#2380 Update show-data-operations.md
  data-explorer/kusto/management/show-data-operations.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge, azure-data-explorer/svc

#2392 Fix typo in net-sdk-ingest-data.md
  data-explorer/net-sdk-ingest-data.md
Labels: Change sent to author, do-not-merge, qualifies-for-auto-merge, azure-data-explorer/svc

#2374 Update merge-policy.md - add example for CustomPeriod field formatting
  data-explorer/kusto/management/merge-policy.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge, azure-data-explorer/svc

#2393 Fix incorrect link for sql connection strings
  data-explorer/kusto/api/connection-strings/index.md
Labels: Change sent to author, ready-to-merge, triaged, aq-pr-triaged, needs-human-review, azure-data-explorer/svc
