Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2024-06, with the labels that each got.

#2270 Update learn-common-operators.md
  data-explorer/kusto/query/tutorials/learn-common-operators.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, triaged, aq-pr-triaged, needs-human-review

#2292 Fix Kusto Roles and permissions table formatting
  data-explorer/kusto/access-control/role-based-access-control.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, triaged, qualifies-for-auto-merge

#2297 Fix typo in datatable-operator.md: "paris" -> "pairs"
  data-explorer/kusto/query/datatable-operator.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#2299 Update anomaly-diagnosis.md
  data-explorer/kusto/query/anomaly-diagnosis.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge

#2256 Updated Python script on follower page
  data-explorer/follower.md
  data-explorer/lightingest.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2272 Update mappings.md - CSV supports SourceLineNumber
  data-explorer/kusto/management/mappings.md
Labels: Change sent to author, data-explorer/svc, ready-to-merge, triaged, aq-pr-triaged, qualifies-for-auto-merge

#2317 Update data-factory-load-data.md
  data-explorer/data-factory-load-data.md
Labels: Change sent to author, data-explorer/svc, do-not-merge, qualifies-for-auto-merge
