Repository MicrosoftDocs/dataexplorer-docs, pull requests merged in 2025-06, with the labels that each got.

#2637 Update index.md - minor grammar fix
  data-explorer/kusto/query/index.md
Labels: Change sent to author, do-not-merge, needs-human-review, azure-data-explorer/svc

#2643 Fix query example
  data-explorer/kusto/query/cosmosdb-plugin.md
Labels: Change sent to author, ready-to-merge, aq-pr-triaged, azure-data-explorer/svc

#2656 typo
  data-explorer/kusto/query/binary-and-function.md
Labels: Change sent to author, ready-to-merge, azure-data-explorer/svc
